<br />
<div class="container-fluid header-main">
  <div class="d-flex justify-content-between mb-2">
    <!-- Enlace para volver a la página de clientes -->
    <a [routerLink]="['/customers']" type="button" style="text-decoration: none;">
      <i class="fa-solid fa-angle-left"></i> {{ 'dpos.customers.page.back' | translate }}
    </a>
  </div>
  <div class="card my-4">
    <div class="card-body">
      <!-- Modal para mensajes -->
      <app-modal [showModal]="showModal" [modalTitle]="modalTitle" [modalMessage]="modalMessage" (closeModal)="closeModal()"></app-modal>
      <!-- Título de la página -->
      <div class="col mb-4">
        <h5><b>{{ titlePage }}</b></h5>
      </div>
      <!-- Indicador de carga: se muestra el spinner mientras se cargan los datos -->
      <div *ngIf="isLoading" class="d-flex justify-content-center">
        <div class="spinner-border text-danger"></div>
      </div>
      <!-- Formulario visible solo cuando la carga ha finalizado -->
      <div *ngIf="!isLoading" class="row">
        <form [formGroup]="clientForm" (ngSubmit)="saveCustomer()">
          <div *ngIf="clientForm.get('identityDocument')?.invalid && clientForm.get('identityDocument')?.touched ||
                clientForm.get('clientName')?.invalid && clientForm.get('clientName')?.touched ||
                clientForm.get('email')?.invalid && clientForm.get('email')?.touched ||
                clientForm.get('phone')?.invalid && clientForm.get('phone')?.touched ||
                clientForm.get('address')?.invalid && clientForm.get('address')?.touched ||
                clientForm.get('city')?.invalid && clientForm.get('city')?.touched ||
                clientForm.get('postcode')?.invalid && clientForm.get('postcode')?.touched ||
                clientForm.get('country')?.invalid && clientForm.get('country')?.touched ||
                clientForm.get('state')?.invalid && clientForm.get('state')?.touched" class="text-danger">
              <p>{{ 'dpos.customers.details.form.mandatory' | translate }}</p>
          </div>
          <div class="col">
            <div class="row g-3">
              <!-- Columna derecha con campos de documento de identidad, nombre, email y teléfono -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="identityDocument" class="form-label">{{ 'dpos.customers.nif.column' | translate }}</label>
                  <input type="text" class="form-control" id="identityDocument" formControlName="identityDocument" name="identityDocument" />
                  <div *ngIf="clientForm.get('identityDocument')?.invalid && clientForm.get('identityDocument')?.touched" class="text-danger invalid-feedback">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </div>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">{{ 'dpos.customers.name.column' | translate }}</label>
                  <input type="text" class="form-control" id="clientName" formControlName="clientName" name="clientName" />
                  <div *ngIf="clientForm.get('clientName')?.invalid && clientForm.get('clientName')?.touched" class="text-danger invalid-feedback">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </div>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">{{ 'dpos.customers.email.column' | translate }}</label>
                  <input type="email" class="form-control" id="email" formControlName="email" name="email" />
                  <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" class="text-danger invalid-feedback">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </div>
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">{{ 'dpos.customers.phone.column' | translate }}</label>
                  <input type="text" class="form-control" id="phone" formControlName="phone" name="phone" />
                  <div *ngIf="clientForm.get('phone')?.invalid && clientForm.get('phone')?.touched" class="text-danger invalid-feedback">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </div>
                </div>
              </div>
              <!-- Columna derecha con campos de dirección, ciudad, código postal, país y estado -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="address" class="form-label">{{ 'dpos.customers.address.column' | translate }}</label>
                  <input type="text" class="form-control" id="address" formControlName="address" name="address" />
                  <div *ngIf="clientForm.get('address')?.invalid && clientForm.get('address')?.touched" class="text-danger invalid-feedback">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </div>
                </div>
                <div class="mb-3">
                  <label for="city" class="form-label">{{ 'dpos.customers.city.column' | translate }}</label>
                  <input type="text" class="form-control" id="city" formControlName="city" name="city" />
                  <div *ngIf="clientForm.get('city')?.invalid && clientForm.get('city')?.touched" class="text-danger invalid-feedback">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </div>
                </div>
                <div class="mb-3">
                  <label for="postcode" class="form-label">{{ 'dpos.customers.postcode.column' | translate }}</label>
                  <input type="text" class="form-control" id="postcode" formControlName="postcode" name="postcode" />
                  <div *ngIf="clientForm.get('postcode')?.invalid && clientForm.get('postcode')?.touched" class="text-danger invalid-feedback">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </div>
                </div>
                <div class="mb-3">
                  <label for="country" class="form-label">{{ 'dpos.customers.country.column' | translate }}</label>
                  <input type="text" class="form-control" id="country" formControlName="country" name="country" />
                  <div *ngIf="clientForm.get('country')?.invalid && clientForm.get('country')?.touched" class="text-danger invalid-feedback">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </div>
                </div>
                <div class="mb-3">
                  <label for="state" class="form-label">{{ 'dpos.customers.state.column' | translate }}</label>
                  <input type="text" class="form-control" id="state" formControlName="state" name="state" />
                  <div *ngIf="clientForm.get('state')?.invalid && clientForm.get('state')?.touched" class="text-danger invalid-feedback">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Botones de Cancelar y Guardar -->
            <div class="d-flex justify-content-end mt-4">
              <a [routerLink]="['/customers']" type="button" style="text-decoration: none;">
                <button type="button" class="btn btn-outline-danger me-2">{{ 'dpos.action.cancel' | translate }}</button>
              </a>
              <button type="submit" class="btn btn-primary">{{'dpos.action.save' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>