<br />
<div class="container-fluid header-main">
  <!-- Formulario de búsqueda -->
  <form class="row g-3 px-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="customerNif">{{ 'dpos.customers.nif.label' | translate }}</label>
      <input type="text" class="form-control" name="customerNif" id="customerNif" [(ngModel)]="customerNifVarSearch" (change)="onCustomerNifChange()">
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="customerName">{{ 'dpos.customers.name.label' | translate }}</label>
      <input type="text" class="form-control" name="customerName" id="customerName" [(ngModel)]="customerNameVarSearch" (change)="onCustomerNameChange()">
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="customerPhone">{{ 'dpos.customers.phone.label' | translate }}</label>
      <input type="text" class="form-control" name="customerPhone" id="customerPhone" [(ngModel)]="customerPhoneVarSearch" (change)="onCustomerPhoneChange()">
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="customerEmail">{{ 'dpos.customers.mail.label' | translate }}</label>
      <input type="text" class="form-control" name="customerEmail" id="customerEmail" [(ngModel)]="customerEmailVarSearch" (change)="onCustomerEmailChange()">
    </div>
    <!-- Botones para limpiar campos y buscar clientes -->
    <div class="col-12 col-md-4 col-lg-4 d-flex flex-wrap gap-2 align-items-end">
      <button type="reset" class="btn btn-outline-danger" (click)="cleanFormFields()">
        <i class="fas fa-eraser"></i>
      </button>
      <button type="button" class="btn btn-primary" (click)="searchCustomers()">
        <i class="fas fa-search"></i>&nbsp;{{ 'dpos.action.search' | translate }}
      </button>
    </div>
  </form>
  <div *ngIf="validationVariable === true" class="d-flex justify-content-center mt-3">
    <div class="text-danger"><b>{{ 'dpos.filter.novalid' | translate }}</b></div>
  </div>
  <!-- Tabla de clientes y acciones a realizar -->
  <div class="card mt-3">
    <div class="card-body">
      <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
          <h5><b>{{ 'dpos.customers.page.title' | translate }}</b></h5>
        </div>
        <!-- Botones para eliminar, añadir, importar y exportar clientes -->
        <div class="col-12 col-md-6 text-md-end text-center mt-3 mt-md-0 d-flex flex-wrap gap-2 justify-content-md-end justify-content-center">
          <button type="button" class="btn btn-outline-danger" (click)="deleteCustomers()">
            {{ 'dpos.customers.uncheck.label' | translate }}
          </button>
          <a type="button" class="btn btn-primary" [routerLink]="code" (click)="addCustomer()">
            {{ 'dpos.customers.add.label' | translate }}
          </a>
          <button class="btn btn-primary" (click)="importCustomers()">
            {{ 'dpos.customers.import.label' | translate }}
          </button>
          <input type="file" #customerFileInput style="display: none" accept=".csv" (change)="onCustomerFileSelected($event)" />
          <button class="btn btn-outline-info" (click)="downloadCSV()">
            <i class="fa-solid fa-file-csv fa-xl"></i>
          </button>
        </div>
      </div>
      <!-- Componente modal para mensajes -->
      <app-modal [showModal]="showModal" [modalTitle]="modalTitle" [modalMessage]="modalMessage"
        (closeModal)="closeModal()"></app-modal>
      <!-- Spinner de carga mientras no se complete la carga -->
      <div *ngIf="loadCompleted === false && emptySearch === false" class="d-flex justify-content-center">
        <div class="spinner-border text-danger"></div>
      </div>
      <!-- Mensaje cuando no hay resultados después de la búsqueda -->
      <div *ngIf="loadCompleted && emptySearch === true" class="d-flex justify-content-center">
        <b><i>{{ 'dpos.dashboard.nodata.label' | translate }}</i></b>
      </div>
      <!-- Tabla con resultados de clientes, visible si hay resultados -->
      <div class="row" *ngIf="loadCompleted && emptySearch === false">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-hover order-table">
              <thead class="text-customer">
                <tr>
                  <th style="width: 50px;" class="text-center"></th>
                  <th class="text-center">{{ 'dpos.customers.nif.label' | translate }}</th>
                  <th class="text-center">{{ 'dpos.customers.name.label' | translate }}</th>
                  <th class="text-center">{{ 'dpos.customers.phone.label' | translate }}</th>
                  <th class="text-center">{{ 'dpos.customers.mail.label' | translate }}</th>
                  <th class="text-center">{{ 'dpos.customers.balance.label' | translate }}</th>
                </tr>
              </thead>
              <ng-template #empty>
                <td colspan="7">
                  <b>{{ 'dpos.sales.operation.nodata.label' | translate }}</b>
                </td>
              </ng-template>
              <tbody>
                <ng-container *ngIf="loadCompleted && customers; else empty">
                  <tr *ngFor="let customer of customers | paginate : { itemsPerPage: 10, currentPage: page }; index as i" (click)="sendCustomerDetails(customer.clientId)">
                    <td class="text-center align-middle">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="customer.selected" (change)="checkIfAllSelected()" (click)="$event.stopPropagation()" />
                    </td>
                    <td class="text-center align-middle"><span class="table-title">{{ customer.identityDocument }}</span></td>
                    <td class="text-center align-middle">{{ customer.name }}</td>
                    <td class="text-center align-middle">{{ customer.phone }}</td>
                    <td class="text-center align-middle">{{ customer.email }}</td>
                    <td class="text-center align-middle">{{ 0 / Math.pow(10, 2) | currency : "EUR" : "€" }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div *ngIf="loadCompleted && emptySearch === false" class="text-center mt-3">
              <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>