<br />
<div class="container-fluid header-main">
  <!-- Formulario de búsqueda -->
  <form class="row g-3 px-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="customerNif">{{ 'dpos.customers.nif.label' | translate }}</label>
      <input type="text" class="form-control" name="customerNif" id="customerNif" [(ngModel)]="customerNifVarSearch"
        (change)="onCustomerNifChange()">
    </div>
<!--     <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="customerName">{{ 'dpos.customers.name.label' | translate }}</label>
      <input type="text" class="form-control" name="customerName" id="customerName" [(ngModel)]="customerNameVarSearch"
        (change)="onCustomerNameChange()">
    </div> -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="customerPhone">{{ 'dpos.customers.phone.label' | translate }}</label>
      <input type="text" class="form-control" name="customerPhone" id="customerPhone"
        [(ngModel)]="customerPhoneVarSearch" (change)="onCustomerPhoneChange()">
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="customerEmail">{{ 'dpos.customers.mail.label' | translate }}</label>
      <input type="text" class="form-control" name="customerEmail" id="customerEmail"
        [(ngModel)]="customerEmailVarSearch" (change)="onCustomerEmailChange()">
    </div>
    <!-- Botones para limpiar campos y buscar clientes -->
    <div
      class="col-12 col-md-4 col-lg-4 d-flex flex-wrap gap-2 align-items-end justify-content-md-start justify-content-end">
      <button type="button" class="btn btn-primary" (click)="searchCustomers()">
        <i class="fas fa-search"></i>&nbsp;{{ 'dpos.action.search' | translate }}
      </button>
      <button type="reset" class="btn btn-outline-info btn-round" (click)="cleanFormFields()">
        <img src="assets/img/ic-clean-filters.svg" alt="Icono limpiar filtros">
      </button>
    </div>
  </form>
  <!-- Tabla de clientes y acciones a realizar -->
  <div class="card mt-3">
    <div class="card-body">
      <!-- Componente modal para mensajes -->
      <app-modal [showModal]="showModal" [modalTitle]="modalTitle" [modalMessage]="modalMessage"
        [showAcceptButton]="showAcceptButton" [showCancelButton]="showCancelButton" (acceptAction)="onAcceptModal()"
        (cancelAction)="closeModal()" (closeModal)="closeModal()"></app-modal>
      <div class="row mb-4 align-items-center">
        <!-- Título y botón de descarga solo en móviles -->
        <div class="col-12 d-flex justify-content-between align-items-center d-md-none">
          <h5 class="mb-0">
            <b>{{ 'dpos.customers.page.title' | translate }}</b>
          </h5>
          <button class="btn btn-primary btn-round ms-2" (click)="downloadCSV()">
            <img *ngIf="isComercia" src="assets/img/ic-download.svg" alt="Icono descargar datos">
            <i *ngIf="!isComercia" class="fa-solid fa-download fa-xl"></i>
          </button>
        </div>
        <!-- Título en pantallas grandes -->
        <div class="col-12 col-md-6 d-none d-md-block">
          <h5 class="mb-0">
            <b>{{ 'dpos.customers.page.title' | translate }}</b>
          </h5>
        </div>
        <!-- Botones en pantallas grandes (incluye downloadCSV) -->
        <div class="col-12 col-md-6 text-md-end mt-3 mt-md-0 d-flex flex-wrap gap-2 justify-content-end">
          <a type="button" class="btn btn-primary" [routerLink]="code" (click)="addCustomer()">
            {{ 'dpos.customers.add.label' | translate }}
          </a>
          <button class="btn btn-primary" (click)="importCustomers()">
            {{ 'dpos.customers.import.label' | translate }}
          </button>
          <input type="file" #customerFileInput style="display: none" accept=".csv"
            (change)="onCustomerFileSelected($event)" />
          <button class="btn btn-primary btn-round d-none d-md-inline-flex" (click)="downloadCSV()">
            <img *ngIf="isComercia" src="assets/img/ic-download.svg" alt="Icono descargar datos">
            <i *ngIf="!isComercia" class="fa-solid fa-download fa-xl"></i>
          </button>
        </div>
      </div>
      <!-- Spinner de carga mientras no se complete la carga -->
      <div *ngIf="!loadCompleted " class="d-flex justify-content-center my-5">
        <div class="spinner-border text-danger"></div>
      </div>
      <!-- Mensaje cuando no hay resultados después de la búsqueda -->
      <div *ngIf="loadCompleted && customers.length === 0" class="d-flex justify-content-center">
        <b><i>{{ 'dpos.dashboard.nodata.label' | translate }}</i></b>
      </div>
      <!-- Tabla con resultados de clientes, visible si hay resultados -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label class="form-label" for="customerName">{{ 'dpos.customers.name.label' | translate }}</label>
        <input type="text" class="form-control" name="customerName" id="customerName"
          [(ngModel)]="customerNameVarSearch" (input)="onCustomerNameChange()">
      </div>

      <hr>

      <div class="row" *ngIf="loadCompleted">
        <div *ngIf="filteredCustomers.length > 0; else empty">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="text-customer">
                <tr>
                  <th>{{ 'dpos.customers.nif.label' | translate }}</th>
                  <th>{{ 'dpos.customers.name.label' | translate }}</th>
                  <th>{{ 'dpos.customers.address.label' | translate }}</th>
                  <th>{{ 'dpos.customers.city.label' | translate }}</th>
                  <th>{{ 'dpos.customers.state.label' | translate }}</th>
                  <th>{{ 'dpos.customers.mail.label' | translate }}</th>
                  <th class="text-center">{{ 'dpos.customers.phone.label' | translate }}</th>
                  <th class="text-center">{{ 'dpos.customers.delete.label' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let customer of filteredCustomers | paginate : { itemsPerPage: 10, currentPage: page }; index as i"
                  (click)="sendCustomerDetails(customer.clientId)">
                  <td class="align-middle"><span class="table-title">{{ customer.identityDocument }}</span></td>
                  <td class="align-middle">{{ customer.clientName }}</td>
                  <td class="align-middle">{{ customer.address }}</td>
                  <td class="align-middle">{{ customer.city }}</td>
                  <td class="align-middle">{{ customer.state }}</td>
                  <td class="align-middle">{{ customer.email }}</td>
                  <td class="text-center align-middle">{{ customer.phone }}</td>
                  <td class="text-center align-middle">
                    <button type="button" class="btn-delete" (click)="openDeleteModal(customer.clientId, $event)">
                      <i class="fa-solid fa-trash" style="color: #FD716E"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="filteredCustomers.length > 10" class="text-start mt-3">
            <pagination-controls (pageChange)="page = $event"
              previousLabel="{{ 'dpos.pagination.previous' | translate }}"
              nextLabel="{{ 'dpos.pagination.next' | translate }}"></pagination-controls>
          </div>
        </div>
      </div>

      <ng-template #empty>
        <div class=" text-center mt-3">
          <b>{{ 'dpos.operations.operation.nodata.label' | translate }}</b>
        </div>
      </ng-template>
    </div>
  </div>
</div>