<div class="modal-backdrop"></div>
<!-- Modal para mensajes -->
<app-modal [showModal]="showModal" [modalTitle]="modalTitle" [modalMessage]="modalMessage" (closeModal)="closeModal()"></app-modal>
<div class="modal-content">
  <div class="modal-header">
    <h2>{{ titlePage }}</h2>
    <button class="modal-close-button" (click)="close()">×</button>
  </div>
  <!-- Formulario para introducir el grupo de modificadores y el listado de modificadores -->
  <form [formGroup]="modifiersForm" (ngSubmit)="saveModifiers()">
    <div class="modal-body">
      <div class="container">
        <!-- Spinner -->
        <div *ngIf="isLoading" >
            <div class="spinner-border text-danger"></div>
        </div>
        <div *ngIf="!isLoading">
          <div class="row g-3">
            <div class="col-12">
              <h5>{{ 'dpos.modifiers-modal.group.title' | translate }}</h5>
            </div>
            <div class="col-12">
              <p>{{ 'dpos.modifiers-modal.group.description' | translate }}</p>
            </div>
            <div class="col-12">
              <label class="form-label" for="name">{{ 'dpos.modifiers-modal.form.name' | translate }}</label>
              <input type="text" class="form-control" id="name" formControlName="name" name="name" />
              <div *ngIf="modifiersForm.get('name')?.invalid && modifiersForm.get('name')?.touched" class="text-danger">
                {{ 'dpos.customers.details.form.mandatory' | translate }}
              </div>
            </div>
            <div class="col-12">
              <h5>{{ 'dpos.modifiers-modal.item.title' | translate }}</h5>
            </div>
            <div class="col-12">
              <p>{{ 'dpos.modifiers-modal.item.description' | translate }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="modifier1">{{ 'dpos.modifiers-modal.form.modifier1' | translate }}</label>
              <input type="text" class="form-control" id="modifier1" formControlName="modifier1" name="modifier1" />
              <div *ngIf="modifiersForm.get('modifier1')?.invalid && modifiersForm.get('modifier1')?.touched" class="text-danger">
                {{ 'dpos.customers.details.form.mandatory' | translate }}
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="modifier2">{{ 'dpos.modifiers-modal.form.modifier2' | translate }}</label>
              <input type="text" class="form-control" id="modifier2" formControlName="modifier2" name="modifier2" />
              <div *ngIf="modifiersForm.get('modifier2')?.invalid && modifiersForm.get('modifier2')?.touched" class="text-danger">
                {{ 'dpos.customers.details.form.mandatory' | translate }}
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="modifier3">{{ 'dpos.modifiers-modal.form.modifier3' | translate }}</label>
              <input type="text" class="form-control" id="modifier3" formControlName="modifier3" name="modifier3" />
              <div *ngIf="modifiersForm.get('modifier3')?.invalid && modifiersForm.get('modifier3')?.touched" class="text-danger">
                {{ 'dpos.customers.details.form.mandatory' | translate }}
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="modifier4">{{ 'dpos.modifiers-modal.form.modifier4' | translate }}</label>
              <input type="text" class="form-control" id="modifier4" formControlName="modifier4" name="modifier4" />
              <div *ngIf="modifiersForm.get('modifier4')?.invalid && modifiersForm.get('modifier4')?.touched" class="text-danger">
                {{ 'dpos.customers.details.form.mandatory' | translate }}
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="modifier5">{{ 'dpos.modifiers-modal.form.modifier5' | translate }}</label>
              <input type="text" class="form-control" id="modifier5" formControlName="modifier5" name="modifier5" />
              <div *ngIf="modifiersForm.get('modifier5')?.invalid && modifiersForm.get('modifier5')?.touched" class="text-danger">
                {{ 'dpos.customers.details.form.mandatory' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer del modal con botones para cancelar y guardar -->
    <div class="modal-footer">
      <button class="btn btn-outline-danger" (click)="close()">{{'dpos.action.cancel' | translate}}</button>
      <button type="submit" class="btn btn-primary">{{'dpos.action.save' | translate}}</button>
    </div>
  </form>
</div>
