<div class="container-fluid pt-4">
    <h5>{{'dpos.clients.title.label' | translate}}</h5>
    <hr>
    <section id="search-helper mb-3">
        <div class="p-3 bg-light border rounded">
          <!-- Buscador  -->
          <div >
            <form class="formGroup" [formGroup]="clientsFormGroup" *ngIf="element == true">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-5 mb-3">
                  <label class="form-label">{{'dpos.clients.nif.label' | translate}}</label>
                  <div class="input-group">
                    <select class="form-select w-25" formControlName="nifSelect">
                      <option selected value={{contains}} >{{'dpos.filter.contains' | translate}}</option>
                      <option value={{startsWith}}>{{'dpos.filter.beginswith' | translate}}</option>
                      <option value={{endsWith}}>{{'dpos.filter.endswith' | translate}}</option>
                    </select>
                    <input type="text" class="form-control w-75" name="filterPost" formControlName="nif"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-lg-4 d-flex mb-3">
                  <div class="me-2">
                    <a type="button"><i class="fas fa-toggle-off fa-2x" (click)="hideAdvancedSearch()"></i></a>
                  </div>
                  <div class="mt-1">
                    <label class="form-label">{{'dpos.action.advancedsearch' | translate}}</label>
                  </div>
                </div>
                <div class="col col-lg-8">
                  <div class="d-flex justify-content-end">
                    <div class="mt-2 mx-1">
                      <label class="form-label">{{'dpos.filter.maxfields' | translate}}</label>
                    </div>
                    <div class="mb-3 mt-1 mx-1">
                      <select class="form-select" >
                        <option selected>100</option>
                        <option>200</option>
                        <option>500</option>
                        <option>1000</option>
                        <option>10000</option>
                      </select>
                    </div>
                    <div class="mb-3 mx-1">
                      <a type="button" class="btn btn-danger rounded-pill" (click)="clearSearch()"><i class="fas fa-eraser" ></i>&nbsp;&nbsp;{{'dpos.action.clean' | translate}}</a>
                      <a type="button" class="btn btn-info rounded-pill" (click)="search()"><i class="fas fa-search"  ></i>&nbsp;&nbsp;{{'dpos.action.search' | translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- Buscador avanzado -->
          <div  >
            <form [formGroup]="clientsFormGroup"  *ngIf="element == false">
              <div class="row">
                <div class="col-12 col-md-4 col-lg-3 mb-3">
                  <label class="form-label">{{'dpos.clients.nif.label' | translate}}</label>
                  <div class="input-group">
                    <select class="form-select w-25" formControlName="nifSelect">
                      <option selected value={{contains}} >{{'dpos.filter.contains' | translate}}</option>
                      <option value={{startsWith}}>{{'dpos.filter.beginswith' | translate}}</option>
                      <option value={{endsWith}}>{{'dpos.filter.endswith' | translate}}</option>
                    </select>
                    <input type="text" class="form-control w-75" formControlName="nif" />
                  </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-3">
                  <label class="form-label">{{'dpos.clients.name.label' | translate}}</label>
                  <div class="input-group">
                    <select class="form-select w-25" formControlName="nameSelect">
                      <option selected value={{contains}} >{{'dpos.filter.contains' | translate}}</option>
                      <option value={{startsWith}}>{{'dpos.filter.beginswith' | translate}}</option>
                      <option value={{endsWith}}>{{'dpos.filter.endswith' | translate}}</option>
                      </select>
                    <input type="text" class="form-control w-75" name="filterPost" formControlName="name" />
                  </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-3">
                  <label class="form-label">{{'dpos.clients.lastname.label' | translate}}</label>
                  <div class="input-group">
                    <select class="form-select w-25" formControlName="surnameSelect">
                      <option selected value={{contains}} >{{'dpos.filter.contains' | translate}}</option>
                      <option value={{startsWith}}>{{'dpos.filter.beginswith' | translate}}</option>
                      <option value={{endsWith}}>{{'dpos.filter.endswith' | translate}}</option>
                      </select>
                    <input type="text" class="form-control w-75" name="filterPost" formControlName="surname"/>
                  </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-3">
                  <label class="form-label">{{'dpos.clients.phone.label' | translate}}</label>
                  <div class="input-group">
                    <select class="form-select w-25" formControlName="phoneNumberSelect">
                      <option selected value={{contains}} >{{'dpos.filter.contains' | translate}}</option>
                      <option value={{startsWith}}>{{'dpos.filter.beginswith' | translate}}</option>
                      <option value={{endsWith}}>{{'dpos.filter.endswith' | translate}}</option>
                      </select>
                    <input type="text" class="form-control w-75" name="filterPost" formControlName="phoneNumber"/>
                  </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <label class="form-label">{{'dpos.clients.mail.label' | translate}}</label>
                    <div class="input-group">
                        <select class="form-select w-25" formControlName="emailSelect">
                          <option selected value={{contains}} >{{'dpos.filter.contains' | translate}}</option>
                      <option value={{startsWith}}>{{'dpos.filter.beginswith' | translate}}</option>
                      <option value={{endsWith}}>{{'dpos.filter.endswith' | translate}}</option>
                          </select>
                      <input type="text" class="form-control w-75" name="filterPost" formControlName="email"/>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col col-lg-4 d-flex mb-3">
                  <div class="me-2">
                    <a type="button"><i class="fas fa-toggle-on fa-2x" style="color: #000000" (click)="showAdvancedSearch()"></i></a>
                  </div>
                  <div class="mt-1">
                    <label class="form-label">{{'dpos.action.advancedsearch' | translate}}</label>
                  </div>
                </div>
                <div class="col col-lg-8">
                  <div class="d-flex justify-content-end">
                    <div class="mt-2 mx-1">
                      <label class="form-label">{{'dpos.filter.maxfields' | translate}}</label>
                    </div>
                    <div class="mb-3 mt-1 mx-1">
                      <select class="form-select" >
                        <option selected >100</option>
                        <option>200</option>
                        <option >500</option>
                        <option >1000</option>
                        <option >10000</option>
                      </select>
                    </div>
                    <div class="mb-3 ">
                      <a type="button" class="btn btn-danger rounded-pill" (click)="clearSearch()"><i class="fas fa-eraser"  ></i>&nbsp;&nbsp;{{'dpos.action.clean' | translate}}</a>
                      <a type="button" class="btn btn-info rounded-pill" (click)="search()"><i class="fas fa-search"></i>&nbsp;&nbsp;{{'dpos.action.search' | translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    <section id="saleslist">
        <!-- Contenedor botones antes de la tabla de productos -->
        <div class="row mt-4 mb-1">
            <div class="col-12 col-md-4">
                    <label><small><span class="text-danger">{{nRecords}}</span>&nbsp;{{'dpos.filter.registers' | translate}}</small></label>&nbsp;
                    <label><small><em>{{selectedRecords}} {{'dpos.filter.registersselected' | translate}}</em></small></label>&nbsp;
                    <a type="button" class="btn btn-link" (click)="selectAllRecords()"><small>{{SelectAll}}</small></a>
            </div>
            <div class="col-12 col-md-8 text-right">
                <button class="btn btn-info rounded-pill" [disabled]="downloadDisabled"><i class='fas fa-file-excel' ></i>&nbsp;&nbsp;{{'dpos.action.download' | translate}}</button>
                <a type="button" class="btn btn-customer rounded-pill">{{'dpos.clients.import.label' | translate}}</a>
                <a  type="button" class="btn btn-customer rounded-pill">{{'dpos.clients.add.label' | translate}}</a>
                <button class="btn btn-danger rounded-pill" ><i class='fas fa-trash-alt'></i>&nbsp;&nbsp;{{'dpos.action.delete' | translate}}</button>
            </div>
        </div>
        <!-- Load -->
        <div *ngIf="!loadCompleted" class="d-flex justify-content-center">
          <div class="spinner-border  text-danger" ></div>
        </div>
        <!-- Listado de clientes -->
        <div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check form-check-customer ms-1">
                                        <input class="form-check-input" type="checkbox" id="ch_all" (click)="selectTenRecords()" [checked]="selectTen">
                                    </div>
                                </th>
                                <th>{{'dpos.clients.nif.column' | translate}}</th>
                                <th>{{'dpos.clients.name.column' | translate}}</th>
                                <th>{{'dpos.clients.lastname.column' | translate}}</th>
                                <th>{{'dpos.clients.phone.column' | translate}}</th>
                                <th>{{'dpos.clients.email.column' | translate}}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let clients of clients.Data | paginate:{itemsPerPage:10, currentPage: nPage} ">
                                <td>
                                    <div class="form-check form-check-customer ms-1">
                                        <input class="form-check-input checks" type="checkbox" [ngModel]="isSelected(clients)" (ngModelChange)="checkedCheckbox(clients)">
                                    </div>
                                </td>
                                <td>{{clients.NIF}}</td>
                                <td>{{clients.Name}}</td>
                                <td>{{clients.Lastname}}</td>
                                <td>{{clients.Phone}}</td>
                                <td>{{clients.Email}}</td>
                                <td></td>
                                <td></td>
                                <td class="text-right">
                                    <a type="button" class="btn btn-info rounded-circle" [routerLink]="['/edit-client',clients.CustomerID]"><i class='fas fa-pen fa-lg'></i></a>
                                    <a type="button" class="btn btn-danger rounded-circle" ><i class='fas fa-trash-alt fa-lg'></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-11">
                        <pagination-controls (pageChange)="nPage = $event"></pagination-controls>
                    </div>
                </div>
            </div>
            <div class="col-12">
            </div>
        </div>
    </section>
</div>
