@font-face {
    font-family: 'Open Sans';
    src: url('Fonts/Open Sans regular-webfont.eot');
    src: url('Fonts/Open Sans regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/Open Sans regular-webfont.woff2') format('woff2'),
         url('Fonts/Open Sans regular-webfont.woff') format('woff'),
         url('Fonts/Open Sans regular-webfont.ttf') format('truetype'),
         url('Fonts/Open Sans regular-webfont.svg#Open Sans') format('svg');
}
@font-face {
    font-family: 'Open Sans 600';
    src: url('Fonts/Open Sans 600-webfont.eot');
    src: url('Fonts/Open Sans 600-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/Open Sans 600-webfont.woff2') format('woff2'),
         url('Fonts/Open Sans 600-webfont.woff') format('woff'),
         url('Fonts/Open Sans 600-webfont.ttf') format('truetype'),
         url('Fonts/Open Sans 600-webfont.svg#Open Sans 600') format('svg');
}
@font-face{
	font-family:"FontAwesome 5 Brands";
	font-style:normal;
	font-weight:normal;
	src:url(Fonts/fa-brands-400.eot);
	src:url(Fonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),
		url(Fonts/fa-brands-400.woff2) format("woff2"),
		url(Fonts/fa-brands-400.woff) format("woff"),
		url(Fonts/fa-brands-400.ttf) format("truetype"),
		url(Fonts/fa-brands-400.svg#fontawesome) format("svg")
	}
@font-face{
	font-family:"FontAwesome 5 Free Regular";
	font-style:normal;
	font-weight:400;
	src:url(Fonts/fa-regular-400.eot);
	src:url(Fonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),
		url(Fonts/fa-regular-400.woff2) format("woff2"),
		url(Fonts/fa-regular-400.woff) format("woff"),
		url(Fonts/fa-regular-400.ttf) format("truetype"),
		url(Fonts/fa-regular-400.svg#fontawesome) format("svg")
	}
	
@font-face{
	font-family:"FontAwesome 5 Free Solid";
	font-style:normal;
	font-weight:900;src:url(Fonts/fa-solid-900.eot);
	src:url(Fonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),
		url(Fonts/fa-solid-900.woff2) format("woff2"),
		url(Fonts/fa-solid-900.woff) format("woff"),
		url(Fonts/fa-solid-900.ttf) format("truetype"),
		url(Fonts/fa-solid-900.svg#fontawesome) format("svg")
}
.fab{font-family:"FontAwesome 5 Brands"}
.far{font-family:"FontAwesome 5 Free Regular"; font-weight:400; }
.fa,.fas{font-family:"FontAwesome 5 Free Solid"; font-weight:900; }
	
/* Basic */
html {
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
	}
body {
	background: #F6F8FA;
	margin: 0;
	margin-bottom: 150px;
	}
body, input, select, textarea, p, label , .p, ol, ul, span {
	font-weight: 500;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}
body, input, select, textarea, p, label , .p {
		color: #6c6f70;
		font-size: 14px;
		line-height: 1.5em;
	}
/* Module Login */
.modal-login {
	display: block !important;
	z-index:10000;
	overflow: scroll;
  }
  @media (min-width: 768px){
	  .margin-top-login {
		  margin-top:7%;
		  }
  }
  .well-login-top, .well-login-bottom {
	  min-height: 50px;
	  border-radius: 6px;
   }
	  .well-login-top{
	  border-bottom-right-radius: 0px;
	  border-bottom-left-radius: 0px;
	  height: 110px;
	  background-color: #ec0000;
   }
	  .well-login-bottom {
	  border-top-left-radius: 0px;
	  border-top-right-radius: 0px;
	  height: 52px;
	  background-color: #f4f4f4;
	  }
  .login-brand{
	  background-image: url("images/logo_xs.png");
	  background-position: center;
	  background-repeat:no-repeat;
	  width: 97%;
	  height: 85px;
	  }
  .login-back{
		  background-attachment:scroll;
		  background-color: #f5f5f5;
		  background-position: center top;
		  background-size: cover;
		  -webkit-background-size:cover;
		  -moz-background-size:cover;
		  -o-background-size:cover;
		  -khtml-background-size:cover;
		  object-fit: cover;
		  margin-left:0px;
		  margin-right:0px;
		  }		
/* End Module Login */
ol, ul {
		color: #6c6f70;
	}
#backtop a > i, #backtop a:link > i, #backtop a:active > i, #backtop a:hover > i, #backtop a, #backtop a:link, #backtop a:active, #backtop a:hover
{
	margin-left:-10px;
	text-align:center; 	
	font-size:32px;
	font-weight:700;
	margin-top:100px;
	border:0;
	text-decoration:none;
    outline: none;
	position: absolute;
	bottom: -40px;
	left:50%;
}	
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}
.close {
		filter:alpha(opacity=80);
		opacity:0.8;	
		}
strong, b, strong > span, b > span {
		color: #484848;
		font-family: "Open Sans 600", Arial, Helvetica, sans-serif !important;
	}
em, i {
		font-style: italic;
	}
p, .p {
		margin: 0 0 1.25em 0;
		}
h1, h2, h3, h4, h5, h6 , .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #181818;
	font-family: "Open Sans 600", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
		color: inherit;
		text-decoration: none;
		}
.well-customer{
		background-color:rgba(17,168,187,0.05);
		border: 0px solid #e3e3e3;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	}
/* navbar */
.navbar-brand {
	background-image: url("images/logo_xs.png");
	background-position: center;
	background-repeat:no-repeat;
	width: 150px;
	height: 50px;
}
.navbar-nav {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.nav-link, .nav-link:active {
	color:#fff;
}
.nav-link:hover {
	color:#000;
}
.active-link{
    text-decoration: underline;
	font-weight: bold;
}
/* end navbar */
/* Footer */
footer {
	background-color: #f6f6f6;
	position: absolute;
	bottom: 0px;
	width: 100%;
	clear: both;
	font-size:9pt;
}
p.text_footer {
	font-size: 9pt;
}
footer a, footer a:link, footer a:active, footer a:visited {
	transition: color 0.2s ease-in-out;
    color: #aaa;
    text-decoration: none;
}
footer a:hover {
	color: #666;
	
}
/* END Footer */	
/* Icons FontAwesome */
.fa-lg {
	font-size:1.33em;
	line-height:0.75em;
	vertical-align:-15%;
	}
.fa-2x {
	font-size:2em;
	}
.fa-3x {
	font-size:3em;
	}
.fa-4x {
	font-size:4em;
	}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
	}
/* End Icons FontAwesome */
/* Texts */
.text-xs{
	font-size:14px !important;
	}
.text-sm{
	font-size:15px !important;
	}
.medium, .text-md{
    font-size: 16px !important;
	}
.text-lg{
	font-size:18px !important;
	}
.text-xlg{
	font-size:24px !important;
	}
.text-xxlg {
    font-size: 36px !important;
	}
.text-xxxlg {
    font-size: 48px !important;
}
.text-bold {
	font-weight: bold;
}
.text-red, .hover-text-red:hover {
    color: #f44336 !important;
	}
.text-alizarin-red, .hover-text-alizarin-red:hover {
    color: #ee5744 !important;
	}
.text-dark-red, .hover-text-dark-red {
    color:#b91d47 !important;
	}
.text-pink, .hover-text-pink:hover {
    color: #e91e63 !important;
	}
.text-purple, .hover-text-purple:hover {
    color: #9c27b0 !important;
	}
.text-deep-purple, .hover-text-deep-purple:hover {
    color: #6852b2 !important;
	}
.text-indigo, .hover-text-indigo:hover {
    color: #3f51b5 !important;
	}
.text-deep-blue, .hover-text-deep-blue:hover {
    color: #002663 !important;
	}
.text-blue, .hover-text-blue:hover {
    color: #2196F3 !important;
	}
.text-light-blue, .hover-text-light-blue:hover {
    color: #87CEEB !important;
	}	
.text-cyan, .hover-text-cyan:hover {
    color: #00bcd4 !important;
	}	
.text-aqua, .hover-text-aqua:hover {
    color: #00ffff !important;
	}	
.text-ariel, .hover-text-ariel:hover {
    color: #11a8bb !important;
	}	
.text-teal, .hover-text-teal:hover {
    color: #47d1af !important;
    }	
.text-green, .hover-text-green:hover {
    color: #47d178 !important;
    }
.text-light-green, .hover-text-light-green:hover {
    color: #8bc34a !important;
	}
.text-lime, .hover-text-lime:hover {
    color: #cddc39 !important;
	}
.text-sand, .hover-text-sand:hover {
    color: #fdf5e6 !important;
	}
.text-khaki, .hover-text-khaki:hover {
    color: #f0e68c !important;
	}
.text-yellow, .hover-text-yellow:hover {
    color: #ffeb3b !important;
	}
.text-amber, .hover-text-amber:hover {
    color: #fdba4b !important;
	}
.text-orange, .hover-text-orange:hover {
    color: #ff9800 !important;
	}
.text-deep-orange, .hover-text-deep-orange:hover {
    color: #ff7444 !important;
	}
.text-blue-grey, .hover-text-blue-grey:hover, .text-blue-gray, .hover-text-blue-gray:hover {
    color: #607d8b !important;
	}
.text-wet-asphalt, .hover-text-wet-asphalt:hover {
    color: #34495e !important;
	}
.text-midnight-blue, .hover-text-midnight-blue:hover {
    color: #2c3e50 !important;
	}
.text-brown, .hover-text-brown:hover {
    color: #795548 !important;
	}
.text-white, .hover-text-white:hover, .text-white, .hover-text-white:hover {
    color: #fff !important;
	}
.text-light-grey, .hover-text-light-grey:hover, .text-light-gray, .hover-text-light-gray:hover {
    color: #f1f1f1 !important;
	}
.text-grey, .hover-text-grey:hover, .text-gray, .hover-text-gray:hover {
    color: #9e9e9e !important;
	}
.text-dark-grey, .hover-text-dark-grey:hover, .text-dark-gray, .hover-text-dark-gray:hover {
    color: #757575 !important;
	}
.text-eli-black, .hover-text-eli-black:hover {
    color: #161616 !important;
	}
.text-black, .hover-text-black:hover {
    color: #000 !important;
	}
.text-old-red, .hover-text-old-red:hover {
    color: #df7879 !important;
	}
.text-pale-red, .hover-text-pale-red:hover {
    color: #ffdddd !important;
	}
.text-pale-yellow, .hover-text-pale-yellow:hover {
    color: #ffffcc !important;
	}
.text-pale-green, .hover-text-pale-green:hover {
    color: #ddffdd !important;
	}
.text-pale-blue, .hover-text-pale-blue:hover {
    color: #ddffff !important;
	}
.text-success {
	color: #26c2b0 !important;
}	
/* End Texts */
/* Colors */
.bg-customer {
	color: #fff !important;
    background-color: #ec0000 !important;
	border-color: #ec0000;
}
.red, .hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important;
	border-color: #f44336;
	}
.alizarin-red, .hover-alizarin-red:hover {
    color: #fff !important;
    background-color: #ee5744 !important;
	border-color: #ee5744;
	}
.dark-red, .hover-dark-red {
    color: #fff !important;
    background-color: #b91d47 !important;
	border-color: #b91d47;
	}
.pink, .hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important;
	border-color: #e91e63;
	}
.purple, .hover-purple:hover {
    color: #fff !important;
    background-color: #9c27b0 !important;
	border-color: #9c27b0;
	}
.deep-purple, .hover-deep-purple:hover {
    color: #fff !important;
    background-color: #6852b2  !important;
	border-color: #6852b2;
	}
.indigo, .hover-indigo:hover {
    color: #fff !important;
    background-color: #3f51b5 !important;
	border-color: #3f51b5;
	}
.deep-blue, .hover-deep-blue:hover {
    color: #fff !important;
    background-color: #002663 !important;
	border-color: #002663;
	}
.blue, .hover-blue:hover {
    color: #fff !important;
    background-color: #2196F3 !important;
	border-color: #2196F3;
	}	
.light-blue, .hover-light-blue:hover {
    color: #000 !important;
    background-color: #87CEEB !important;
	border-color: #87CEEB;
	}
.cyan, .hover-cyan:hover {
    color: #fff !important;
    background-color: #00bcd4 !important;
	border-color: #00bcd4;
	}
.aqua, .hover-aqua:hover {
    color: #000 !important;
    background-color: #00ffff !important;
	border-color: #00ffff;
	}	
.ariel, .hover-ariel:hover {
    color: #fff !important;
    background-color: #11a8bb !important;
	border-color: #11a8bb;
	}	
.teal, .hover-teal:hover {
    color: #fff !important;
    background-color: #47d1af !important;
	border-color: #47d1af;
	}
.green, .hover-green:hover {
    color: #fff !important;
    background-color: #47d178 !important;
	border-color: #47d178;
	}
.light-green, .hover-light-green:hover {
    color: #000 !important;
    background-color: #8bc34a !important;
	border-color: #8bc34a;
	}
.lime, .hover-lime:hover {
    color: #000 !important;
    background-color: #cddc39 !important;
	border-color: #cddc39;
	}
.sand, .hover-sand:hover {
    color: #111 !important;
    background-color: #fdf5e6 !important;
	border-color: #fdf5e6;
	}
.khaki, .hover-khaki:hover {
    color: #000 !important;
    background-color: #f0e68c !important;
	border-color: #f0e68c;
	}
.diferent, .diferent:hover {
    color: #000 !important;
    background-color: #f4eee0 !important;
	border-color: #f4eee0;
	}
.yellow, .hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important;
	border-color: #ffeb3b;
	}
.amber, .hover-amber:hover {
	color: #111 !important;
    background-color: #fdba4b !important;
	border-color: #fdba4b;
	}
.orange, .hover-orange:hover {
    color: #fff !important;
    background-color: #ff9800 !important;
	border-color: #ff9800;
	}
.deep-orange, .hover-deep-orange:hover {
	color: #fff !important;
    background-color: #ff7444 !important;
	border-color: #ff7444;
	}
.blue-grey, .hover-blue-grey:hover, .blue-gray, .hover-blue-gray:hover {
    color: #fff !important;
    background-color: #607d8b !important;
	border-color: #607d8b;
	}
.wet-asphalt, .hover-wet-asphalt:hover {
    color: #fff !important;
    background-color: #34495e !important;
	border-color: #34495e;
	}
.midnight-blue, .hover-midnight-blue:hover {
    color: #fff !important;
    background-color: #2c3e50 !important;
	border-color: #2c3e50;
	}
.brown, .hover-brown:hover {
    color: #fff !important;
    background-color: #795548 !important;
	border-color: #795548;
	}
.white, .hover-white:hover {
    color: #111 !important;
    background-color: #fff !important;
	border-color: #fff;
	}	
.light-grey, .hover-light-grey:hover, .light-gray, .hover-light-gray:hover {
    color: #111 !important;
    background-color: #f1f1f1 !important;
	border-color: #f1f1f1;
	}	
.grey, .hover-grey:hover, .gray, .hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important;
	border-color: #9e9e9e;
	}
.dark-grey, .hover-dark-grey:hover, .dark-gray, .hover-dark-gray:hover {
    color: #fff !important;
    background-color: #757575 !important;
	border-color: #757575;
	}	
.eli-black, .hover-eli-black:hover {
    color: #fff !important;
    background-color: #161616 !important;
	border-color: #161616;
	}
.black, .hover-black:hover {
    color: #fff !important;
    background-color: #000 !important;
	border-color: #000;
	}
.old-red, .hover-old-red:hover {
    color: #fff !important;
    background-color: #df7879 !important;
	border-color: #df7879;
	}
.pale-red, .hover-pale-red:hover {
    color: #000 !important;
    background-color: #ffdddd !important;
	border-color: #ffdddd;
	}
.pale-yellow, .hover-pale-yellow:hover {
    color: #000 !important;
    background-color: #ffffcc !important;
	border-color: #ffffcc;
	}
.pale-green, .hover-pale-green:hover {
    color: #000 !important;
    background-color: #ddffdd !important;
	border-color: #ddffdd;
	}
.pale-blue, .hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important;
	border-color: #ddffff;
	}
.egg, .hover-egg:hover{
    color: #000 !important;
    background-color: #fdfcf8 !important;
	border-color: #fdfcf8;
	}
/* End Colors */
/* Alerts y panels customized */ 
.alert-info { 
	background-color:rgba(217, 237, 247, 0.4);
	border-color:rgba(188, 232, 241, 0.4);     
	}
.alert-success {
	background-color:rgba(223, 240, 216, 0.4);
	border-color:rgba(214, 233, 198, 0.4);
	}
.alert-warning {
	background-color:rgba(252, 248, 227, 0.75);
	border-color:rgba(250, 235, 204, 0.75);
	}
.alert-danger {
	background-color:rgba(242, 222, 222, 0.6);
	border-color:rgba(235, 204, 209, 0.6);
	}
.panel-customer {
    *color: #8a6d3b;
    *background-color: #fcf8e3;
    *border-color: #faebcc;
	box-shadow: 0 2px 5px 0 rgba(75,75,75,0.4), 0 2px 10px 0 rgba(75,75,75,0.22);
	}
.panel-customer .panel-heading-customer {
	background-color:#00bcd4;
	}
.panel-customer .panel-heading-customer h5{
	margin: 0 0 0.2em 0;
	color:#fff;
	}
.well {
	border-color:#e3e3e3;
	}
/* End Alerts y panels customized */
/* Buttons */
.btn {
    padding: 8px 20px;
	margin:5px 3px;
    outline: none !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Open Sans 600", Arial, Helvetica, sans-serif !important;
	text-decoration: none !important;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-outline-primary {
    color: #2e6da4;
    border-color: #2e6da4;
}
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary.active, 
.btn-primary:active:hover, 
.btn-primary.active:hover, 
.btn-primary:active:focus, 
.btn-primary.active:focus, 
.btn-primary:active.focus, 
.btn-primary.active.focus,
.btn-outline-primary:focus, 
.btn-outline-primary.focus, 
.btn-outline-primary:hover, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary:active:hover, 
.btn-outline-primary.active:hover, 
.btn-outline-primary:active:focus, 
.btn-outline-primary.active:focus, 
.btn-outline-primary:active.focus, 
.btn-outline-primary.active.focus {
    background-color: #337ab7aa ;
    border-color: #337ab7aa;
}
.btn-secondary {
    color: #fff;
    background-color: #8b80b2;
    border-color: #8b80b2;
}
.btn-outline-secondary {
    color: #8b80b2;
    border-color: #8b80b2;
}
.btn-secondary:focus, 
.btn-secondary.focus, 
.btn-secondary:hover, 
.btn-secondary:active, 
.btn-secondary.active, 
.btn-secondary:active:hover, 
.btn-secondary.active:hover, 
.btn-secondary:active:focus, 
.btn-secondary.active:focus, 
.btn-secondary:active.focus, 
.btn-secondary.active.focus,
.btn-outline-secondary:focus, 
.btn-outline-secondary.focus, 
.btn-outline-secondary:hover, 
.btn-outline-secondary:active, 
.btn-outline-secondary.active, 
.btn-outline-secondary:active:hover, 
.btn-outline-secondary.active:hover, 
.btn-outline-secondary:active:focus, 
.btn-outline-secondary.active:focus, 
.btn-outline-secondary:active.focus, 
.btn-outline-secondary.active.focus {
    background-color: #8b80b2aa ;
    border-color: #8b80b2aa;
}
.btn-success {
    color: #fff;
    background-color: #36bea6;
    border-color: #36bea6;
}
.btn-outline-success {
    color: #36bea6;
	border-color: #36bea6;
}
.btn-success:focus, 
.btn-success.focus, 
.btn-success:hover, 
.btn-success:active, 
.btn-success.active, 
.btn-success:active:hover, 
.btn-success.active:hover, 
.btn-success:active:focus, 
.btn-success.active:focus, 
.btn-success:active.focus, 
.btn-success.active.focus,
.btn-outline-success:focus, 
.btn-outline-success.focus, 
.btn-outline-success:hover, 
.btn-outline-success:active, 
.btn-outline-success.active, 
.btn-outline-success:active:hover, 
.btn-outline-success.active:hover, 
.btn-outline-success:active:focus, 
.btn-outline-success.active:focus, 
.btn-outline-success:active.focus, 
.btn-outline-success.active.focus {
    background-color: #36bea6aa ;
    border-color: #36bea6aa;
}
.btn-info {
	color: #fff;
    background-color: #1bb3bc;
    border-color: #1bb3bc;
}
.btn-outline-info {
	color: #1bb3bc;
    border-color: #1bb3bc;
}
.btn-info:focus, 
.btn-info.focus, 
.btn-info:hover, 
.btn-info:active, 
.btn-info.active, 
.btn-info:active:hover, 
.btn-info.active:hover, 
.btn-info:active:focus, 
.btn-info.active:focus, 
.btn-info:active.focus, 
.btn-info.active.focus,
.btn-outline-info:focus, 
.btn-outline-info.focus, 
.btn-outline-info:hover, 
.btn-outline-info:active, 
.btn-outline-info.active, 
.btn-outline-info:active:hover, 
.btn-outline-info.active:hover, 
.btn-outline-info:active:focus, 
.btn-outline-info.active:focus, 
.btn-outline-info:active.focus, 
.btn-outline-info.active.focus {
	color: #fff;
    background-color: #1bb3bcaa ;
    border-color: #1bb3bcaa;
}
.btn-warning {
    color: #fff;
    background-color: #ffbc34;
    border-color: #ffbc34;
}
.btn-outline-warning {
    color: #ffbc34;
    border-color: #ffbc34;
}
.btn-warning:focus, 
.btn-warning.focus, 
.btn-warning:hover, 
.btn-warning:active, 
.btn-warning.active, 
.btn-warning:active:hover, 
.btn-warning.active:hover, 
.btn-warning:active:focus, 
.btn-warning.active:focus, 
.btn-warning:active.focus, 
.btn-warning.active.focus,
.btn-outline-warning:focus, 
.btn-outline-warning.focus, 
.btn-outline-warning:hover, 
.btn-outline-warning:active, 
.btn-outline-warning.active, 
.btn-outline-warning:active:hover, 
.btn-outline-warning.active:hover, 
.btn-outline-warning:active:focus, 
.btn-outline-warning.active:focus, 
.btn-outline-warning:active.focus, 
.btn-outline-warning.active.focus {
	color: #fff;
	background-color: #ffbc34aa ;
    border-color: #ffbc34aa;
}
.btn-danger {
    color: #ec0000;
    background-color: #ffffff;
    border-color: #ec0000;
}
.btn-outline-danger {
    color: #ec0000;
    border-color: #ec0000;
}
.btn-danger:focus, 
.btn-danger.focus, 
.btn-danger:hover, 
.btn-danger:active, 
.btn-danger.active, 
.btn-danger:active:hover, 
.btn-danger.active:hover, 
.btn-danger:active:focus, 
.btn-danger.active:focus, 
.btn-danger:active.focus, 
.btn-danger.active.focus,
.btn-outline-danger:focus, 
.btn-outline-danger.focus, 
.btn-outline-danger:hover, 
.btn-outline-danger:active, 
.btn-outline-danger.active, 
.btn-outline-danger:active:hover, 
.btn-outline-danger.active:hover, 
.btn-outline-danger:active:focus, 
.btn-outline-danger.active:focus, 
.btn-outline-danger:active.focus, 
.btn-outline-danger.active.focus {
	background-color: #ec0000aa ;
    border-color: #ec0000aa;
}
.btn-outline-dark {
    color: #212529;
    border-color: #212529;
}
.btn-dark:focus, 
.btn-dark.focus, 
.btn-dark:hover, 
.btn-dark:active, 
.btn-dark.active, 
.btn-dark:active:hover, 
.btn-dark.active:hover, 
.btn-dark:active:focus, 
.btn-dark.active:focus, 
.btn-dark:active.focus, 
.btn-dark.active.focus,
.btn-outline-dark:focus, 
.btn-outline-dark.focus, 
.btn-outline-dark:hover, 
.btn-outline-dark:active, 
.btn-outline-dark.active, 
.btn-outline-dark:active:hover, 
.btn-outline-dark.active:hover, 
.btn-outline-dark:active:focus, 
.btn-outline-dark.active:focus, 
.btn-outline-dark:active.focus, 
.btn-outline-dark.active.focus {
	background-color: #212529aa ;
    border-color: #212529aa;
}
.btn-light {
	color:#212529;
    background-color: #ffffff;
	border-color: #ced4da;
}
.btn-link {
    color: #ec0000;
}
.btn-link:focus, 
.btn-link.focus, 
.btn-link:hover, 
.btn-link:active, 
.btn-link.active, 
.btn-link:active:hover, 
.btn-link.active:hover, 
.btn-link:active:focus, 
.btn-link.active:focus, 
.btn-link:active.focus, 
.btn-link.active.focus {
	color: #1bb3bc;
}
/* Button customer */
.btn-customer {
	color: #fff !important;
	background-color: #ec0000;
	border-color: #ec0000;
	}
.btn-customer:focus,
.btn-customer.focus, 
.btn-customer:hover, 
.btn-customer:active,
.btn-customer.active, 
.open > .dropdown-toggle.btn-customer{
  color: #fff !important;
  background-color: #ec0000aa;
  border-color: #ec0000aa;
}
.btn-customer:active:hover,
.btn-customer.active:hover,
.open > .dropdown-toggle.btn-customer:hover,
.btn-customer:active:focus,
.btn-customer.active:focus,
.open > .dropdown-toggle.btn-customer:focus,
.btn-customer:active.focus,
.btn-customer.active.focus,
.open > .dropdown-toggle.btn-customer.focus {
  color: #fff;
  background-color: #ec0000aa;
  border-color: #ec0000aa;
}
.btn-customer:active,
.btn-customer.active,
.open > .dropdown-toggle.btn-customer {
  background-image: none;
}
.btn-customer.disabled,
fieldset[disabled] .btn-customer,
.btn-customer.disabled:hover,
.btn-customer[disabled]:hover,
fieldset[disabled] .btn-customer:hover,
.btn-customer.disabled:focus,
.btn-customer[disabled]:focus,
fieldset[disabled] .btn-customer:focus,
.btn-customer.disabled.focus,
.btn-customer[disabled].focus,
fieldset[disabled] .btn-customer.focus {
  color:#999;
  background-color: #dedede;
  border-color: #dedede;
}
.btn-customer .badge {
  color: #fff;
  background-color: #ec0000;
}
/* End Button customer */
.btn.rounded-circle {
	padding:11px 10px;
	height:40px;
	width:40px;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=25);
    opacity: 0.25;
    -webkit-box-shadow: none;
    box-shadow: none;
} 
/* ENd Buttons */
/* Grids */
thead, th {
	font-size: 12px;
    font-family: "Open Sans 600", Arial, Helvetica, sans-serif !important;
	color:#606060;
	letter-spacing: .1em;
	background-color: #dedede;
	vertical-align: middle;
	text-transform: uppercase;
}
.table > :not(caption) > tr > th {
    padding: 1.3rem 0.5rem;
}
tbody, tfoot, tbody > tr, td {
	font-size: 10pt;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	color:#767676;
	border-color: #f6f6f6;
    border-bottom-width: 3px;
	background-color: #fff;
	vertical-align: middle;
}
.table-hover > tbody > tr:hover > * {
	background-color: #f6f6f6;
	box-shadow:none;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
/* ENd Grids */
/* Form */
form, .form {
		margin: 0;
	}
.form-group{
	margin-bottom: 15px;
}
.form-label {
	color: #555;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing:0;
	margin: 0 0 0.2em 0;
	}
textarea.form-control {
	min-height: 110px;
}
.form-group .form-label{
	line-height:1.42857143;
	}
.input-group .btn {
	margin-top: 0;
	margin-bottom: 0;	
}
.form-check-customer .form-check-input{
    width: 1.3em;
    height: 1.3em;
}
.form-check-customer .form-check-label {
    margin-left: -1em;
    margin-top: 0.2em;
}
.form-control::-webkit-input-placeholder{
	color: #999;
	opacity: 0.5;
	font-style: italic;
}
.form-control::-moz-placeholder{
	color: #999;
	opacity: 0.5;
	font-style: italic;
} 
.form-control:-ms-input-placeholder{
	color: #999;
	opacity: 0.5;
	font-style: italic;
} 
.form-control::-ms-input-placeholder{
	color: #999;
	opacity: 0.5;
	font-style: italic;
} 
.form-control::placeholder {
	color: #999;
	opacity: 0.5;
	font-style: italic;
}
/* End Forms */
/* Card Customer */
.card.card-customer {
	border-radius: 0;
	border: 1px solid #f6f6f6;
}
.card-customer .card-header {
	background-color: #ffa37d;
	font-size: 11px;
	border-bottom: 1px solid #ffa37d;	
}
.card-header:first-child{
	border-radius: 0;
}
.card.card-customer > .list-group:first-child .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}  
.card.card-customer > .list-group:last-child .list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.card-customer .card-title {
	color:#fff;
	text-transform: none;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.card-customer .card-footer {
	background-color: #fff;
	border-top: 10px solid #f6f6f6;
  }
.card.card-customer .table > :not(caption) > tr > th {
    padding: 0.8rem 0.5rem;
}
.card.card-customer .table-sm > :not(caption) > tr > th {
    padding: 0.25rem 0.25rem;
	background-color: transparent;
}
.card.card-customer .table-sm tbody, .card.card-customer .table-sm tfoot, .card.card-customer .table-sm thead, .card.card-customer .table-sm tbody > tr, .card.card-customer .table-sm tbody > td, .card.card-customer .table-sm thead > tr, .card.card-customer .table-sm thead > th {
	background-color: transparent;
  }
/* End Card Customer*/
/*modal*/
.modal-backdrop {
    opacity: var(--bs-backdrop-opacity);
}
/*End modal*/