/* --------------------------------------------------- Div Buscador--------------------------------------------------

/* Ventas */
/* h5{
    font-size: larger;
    text-transform:none;
} */
/* tamaño del contenedor */
/* .buscador{
    width: 95%;
    background-color: #f9f9f9;
} */

/* Estilos label */
/* label{
    font-weight: 600;
} */
/* Estilos del select e input */
/* .formDefault input[type="text"], #terminales{
    border-color: rgb(146, 145, 145);
    height:38px;
    width: 400px;
} */

/* .formDefault select{
    border-color: rgb(146, 145, 145);
    height:38px;
    width:120px;
} */

/*Contenedor de botones numero de registros,limpiar,buscar*/
/* .botonesBuscador{
    text-align: end;
    margin-bottom: 20px;
} */

/*----------------------------------------------------- Buscador Avanzado--------------------------------------------- */

/* Estilos del select e input */
/* .formAdvance input[type="text"], .formAdvance input[type="date"]{
    border-color: rgb(146, 145, 145);
    height:38px;
    width: 200px;
} */

/* .formAdvance select{
    border-color: rgb(146, 145, 145);
    height:38px;
    width:120px;
}  */

