<br />
<div class="container-fluid header-main">
  <div>
    <!-- Formulario de búsqueda -->
    <form class="d-flex justify-content-between flex-wrap mx-1">
      <div class="d-flex">
        <div class="me-3">
          <label class="form-label">Terminal</label>
          <select class="form-select" name="terminal" [(ngModel)]="terminalVarSearch">
            <option>Todos</option>
            <option *ngFor="let terminal of selectSales[0]; index as i">
              {{ terminal }}
            </option>
          </select>
        </div>
        <div class="mx-3">
          <label class="form-label">Desde</label>
          <input type="date" class="form-control" id="sinceDate" />
        </div>
        <div class="mx-3">
          <label class="form-label">Hasta</label>
          <input type="date" class="form-control" id="tilDate" />
        </div>
        <div class="mx-3">
          <label class="form-label">Tipo de operación</label>
          <select class="form-select" name="operation" [(ngModel)]="typeVarSearch">
            <option>Todos</option>
            <option *ngFor="let type of selectSales[1]; index as i">
              {{ type }}
            </option>
          </select>
        </div>
        <div class="mx-3">
          <label class="form-label">Nº de documento/serie</label>
          <input type="text" class="form-control" name="documentN" [(ngModel)]="documentVarSearch">
        </div>
      </div>
      <div id="searchButtonsDiv" class="ms-5 d-flex overflow-auto">
        <button type="reset" class="btn btn-outline-danger align-self-end"> <i class="fas fa-eraser"></i>
        </button>
        <button type="button" class="btn btn-primary align-self-end" (click)="searchSales()"><i
            class="fas fa-search"></i>&nbsp;&nbsp;<span>Buscar</span></button>
      </div>
    </form>
  </div>
  <br />
  <!-- Tabla e indicadores -->
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between mb-4">
        <h5>Operaciones</h5>
        <!-- Indicadores -->
        <div class="col-5 text-end">
          <label for="inputHeadSales" class="me-2">Nº operaciones</label>
          <input type="text" id="inputHeadSales" class="text-center me-5 roboto-mono" [(ngModel)]="operationN"
            disabled />
          <label for="inputHeadSales1" class="me-2">Total</label>
          <input type="text" id="inputHeadSales1" class="text-center me-5 roboto-mono" [(ngModel)]="totalSalesString"
            disabled />
          <button class="btn btn-outline-info justify-content-center">
            <i class="fa-solid fa-file-csv fa-xl"></i>
          </button>
        </div>
      </div>
      <!-- Load -->
      <div *ngIf="loadCompleted==false" class="d-flex justify-content-center">
        <div class="spinner-border  text-danger"></div>
      </div>
      <!-- Tabla -->
      <div *ngIf="loadCompleted==true" class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-hover order-table table-borderless" data-pagination="true" data-page-size="10">
              <thead class="text-customer">
                <tr>
                  <th class="text-center">
                    <input class="form-check-input" type="checkbox" [checked]="isAllSelected"
                      (change)="CheckAll($event)" />
                  </th>
                  <th>Documento</th>
                  <th class="text-center">Tipo</th>
                  <th>Fecha</th>
                  <th class="text-center">Terminal</th>
                  <th>Factura verificada</th>
                  <th class="text-end">Subtotal</th>
                  <th class="text-end">Descuento</th>
                  <th class="text-end">Base imponible</th>
                  <th class="text-end">IVA</th>
                  <th class="text-end">Total</th>
                  <th></th>
                </tr>
              </thead>
              <ng-template #empty>
                <td colspan="5">
                  <b>No existen registros que mostrar</b>
                </td>
              </ng-template>
              <tbody>
                <ng-container *ngIf="emptySearch == false; else empty">
                  <tr *ngFor="
                      let sale of sales.data
                        | paginate : { itemsPerPage: 10, currentPage: page };
                      index as i
                    ">
                    <td class="text-center align-middle">
                      <input class="form-check-input" type="checkbox" [checked]="isAllSelected" />
                    </td>
                    <td class="align-middle text-bold" id="massivetransfer"><i
                        class="fa-solid fa-receipt fa-xl me-1 text-amber"></i>
                      {{ sale.reference }}
                    </td>
                    <td class="text-center align-middle">
                      {{ sale.type }}
                    </td>
                    <td class="align-middle">
                      {{ sale.createdAt | date : "dd/MM/yyyy hh:mm" }}
                    </td>
                    <td class="text-center align-middle">
                      {{ sale.terminalNumber }}
                    </td>
                    <td class="align-middle"><span class="badge rounded-pill bg-accept"><i
                          class="fa-solid fa-qrcode me-2"></i>TBAI - Aceptada</span></td>
                    <td class="text-end align-middle roboto-mono">
                      {{ sale.subTotal/100 | currency : "Eur" : "€" }}
                    </td>
                    <td class="text-end align-middle roboto-mono">
                      {{ sale.totalDiscount/100 | currency : "Eur" : "€" }}
                    </td>
                    <td class="text-end align-middle roboto-mono">
                      {{ sale.orderTaxes[0].base/100 | currency : "Eur" : "€" }}
                    </td>
                    <td class="text-end align-middle roboto-mono">
                      {{ sale.orderTaxes[0].total/100 | currency : "Eur" : "€" }}
                    </td>
                    <td class="text-end align-middle roboto-mono">
                      {{ sale.total/100 | currency : "Eur" : "€" }}
                    </td>
                    <td class="text-end">
                      <span id="detailsticket" class="align-middle" style="cursor: pointer;">
                        <a [routerLink]="code" (click)="sendSalesDetails(sale.orderId)"><span
                            style="font-size: 0.75rem;color: #74c0fc;"></span><i class="fa-solid fa-arrow-right"
                            style="color: #74c0fc;"></i></a></span>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="has-text-centered">
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>