<br />
<div class="container-fluid header-main">
  <div>
    <!-- Formulario de búsqueda -->
    <form class="d-flex flex-wrap mx-1">
      <div class="me-3">
        <label class="form-label">{{'dpos.filter.terminal' | translate}}</label>
        <select class="form-select" id="searchTer" name="terminal" [(ngModel)]="terminalSelected" (change)="onTerminalChange()">
          <option *ngFor="let terminal of terminalsNumber" [value]="terminal">{{ terminal }}</option>
        </select>
      </div>
      <div class="mx-3">
        <label class="form-label">{{'dpos.filter.date.from' | translate}}</label>
        <input type="date" class="form-control" id="sinceDate" [value]="sinceDate" (change)="onSinceDateChange()" />
      </div>
      <div class="mx-3">
        <label class="form-label">{{'dpos.filter.date.to' | translate}}</label>
        <input type="date" class="form-control" id="tilDate" [value]="tilDate" (change)="onTilDateChange()" />
      </div>
      <div class="mx-3">
        <label class="form-label">{{'dpos.filter.operationtype' | translate}}</label>
        <select class="form-select" name="operation" [(ngModel)]="typeVarSearch">
          <option>{{'dpos.filter.all' | translate}}</option>
          <option *ngFor="let type of opTypes; index as i">{{ type.name }}</option>
        </select>
      </div>
      <div class="mx-3">
        <label class="form-label">{{'dpos.filter.docnumber' | translate}}</label>
        <input type="text" class="form-control" name="documentN" [(ngModel)]="documentVarSearch">
      </div>
      <div id="searchButtonsDiv" class="ms-5 d-flex overflow-auto">
        <button type="reset" class="btn btn-outline-danger align-self-end"> 
          <a type="button"><i class="fas fa-eraser"></i></a>
        </button>
        <a type="button" class="btn btn-primary align-self-end" (click)="searchSales()">
          <i class="fas fa-search"></i>&nbsp;&nbsp;{{'dpos.action.search' | translate}}
        </a>
      </div>
    </form>
  </div>
  <br />
  <!-- Validation -->
  <div *ngIf="validationVariable == true" class="d-flex justify-content-center" style="position: absolute; left: 50%">
    <div class="text-danger"><b>{{'dpos.filter.novalid' | translate}}</b></div>
  </div>
  <!-- Tabla e indicadores -->
  <div class="card">
    <div class="card-body">
      <div class="row mb-4">
        <div>
          <app-modal [showModal]="showModal" [modalTitle]="modalTitle" [modalMessage]="modalMessage"  (closeModal)="closeModal()"></app-modal>
        </div>
        <div class="col">
          <h5><b>{{'dpos.sales.operations.label' | translate}}</b></h5>
        </div>
        <!-- Indicadores -->
        <div class="col-5 text-end" *ngIf="loadCompleted == true && emptySearch == false">
          <label for="inputHeadSales" class="me-2">{{'dpos.sales.operations.number.label' | translate}}</label>
          <input type="text" id="inputHeadSales" class="text-center me-5 inputHeadSales" [(ngModel)]="operationN" disabled />
          <label for="inputHeadSales1" class="me-2">{{'dpos.sales.operations.total.label' | translate}}</label>
          <input type="text" id="inputHeadSales1" class="text-center me-5 inputHeadSales" [(ngModel)]="totalSalesString" disabled />
          <button class="btn btn-outline-info justify-content-center">
            <i class="fa-solid fa-file-csv fa-xl" (click)="downloadCSV()"></i>
          </button>
        </div>
      </div>
      <!-- Tabla -->
      <div class="row">
        <div class="col">
          <div *ngIf="loadCompleted == false  && emptySearch == false" class="d-flex justify-content-center">
            <div class="spinner-border text-danger"></div>
          </div>
          <div *ngIf="loadCompleted == false && emptySearch == true" class="d-flex justify-content-center">
            <b><i>{{'dpos.dashboard.nodata.label' | translate}}</i></b>
          </div>
          <div *ngIf="loadCompleted" class="table-responsive">
            <table class="table table-hover order-table table-borderless" data-pagination="true" data-page-size="10">
              <thead class="text-customer">
                <tr>
                  <th class="text-center">
                    <input class="form-check-input" type="checkbox" [checked]="isAllSelected" (change)="checkAll($event)" />
                  </th>
                  <th class="text-start">{{'dpos.sales.operation.document.label' | translate}}</th>
                  <th class="text-center">{{'dpos.sales.operation.type.label' | translate}}</th>
                  <th class="text-start">{{'dpos.sales.operation.data.label' | translate}}</th>
                  <th class="text-center">{{'dpos.sales.operation.terminal.label' | translate}}</th>
                  <th class="text-center">{{'dpos.sales.operation.tbai.label' | translate}}</th>
                  <th class="text-end">{{'dpos.sales.operation.subtotal.label' | translate}}</th>
                  <th class="text-end">{{'dpos.sales.operation.discount.label' | translate}}</th>
                  <th class="text-end">{{'dpos.sales.operation.base.label' | translate}}</th>
                  <th class="text-end">{{'dpos.sales.operation.tax.label' | translate}}</th>
                  <th class="text-end">{{'dpos.sales.operation.total.label' | translate}}</th>
                  <th></th>
                </tr>
              </thead>
              <ng-template #empty>
                <td colspan="5">
                  <b>{{'dpos.sales.operation.nodata.label' | translate}}</b>
                </td>
              </ng-template>
              <tbody>
                <ng-container *ngIf="emptySearch == false; else empty">
                  <tr *ngFor="let sale of sales.data | paginate : { itemsPerPage: 10, currentPage: page }; index as i">
                    <td class="text-center align-middle">
                      <input class="form-check-input" type="checkbox" [checked]="isAllSelected" />
                    </td>
                    <td class="text-start align-middle">
                      <span style="font-weight: 500;color:grey;">{{ sale.reference }}</span>
                    </td>
                    <td class="text-center align-middle" *ngIf="sale.type == 0">
                      <div class="badge rounded-pill bg-sale">{{'dpos.sales.operation.order.label' | translate}}</div>
                    </td>
                    <td class="text-center align-middle" *ngIf="sale.type == 2">
                      <div class="badge rounded-pill bg-refund">{{'dpos.sales.operation.refund.label' | translate}}</div>
                    </td>
                    <td class="text-center align-middle" *ngIf="sale.type == 5">
                      <div class="badge rounded-pill bg-edits">{{'dpos.sales.operation.rectification.label' | translate}}</div>
                    </td>
                    <td class="text-start align-middle">
                      {{ sale.createdAt | date : "dd/MM/yyyy hh:mm" }}
                    </td>
                    <td class="text-center align-middle">
                      {{ sale.terminalNumber }}
                    </td>
                    <td class="text-center align-middle" *ngIf="sale.orderTicketBai == null">
                      <div class="badge rounded-pill bg-pending">
                        <i>{{'dpos.sales.operation.tbai.no.label' | translate}}</i>
                      </div>
                    </td>
                    <td class="text-center align-middle" *ngIf="sale.orderTicketBai != null && salesTicketBai[i] != 0 && salesTicketBai[i] != 1 && salesTicketBai[i] != 2">
                      <div class="badge rounded-pill bg-pending">
                        <i>{{'dpos.sales.operation.tbai.no.label' | translate}}</i> 
                      </div>
                    </td>
                    <td class="text-center align-middle" *ngIf="salesTicketBai[i] == 0">
                      <div class="badge rounded-pill bg-accept">
                        <i class="fa-solid fa-qrcode"></i> {{'dpos.sales.operation.tbai.status.accepted.label' | translate}}
                      </div>
                    </td>
                    <td class="text-center align-middle" *ngIf="salesTicketBai[i] == 1">
                      <div class="badge rounded-pill bg-warning">
                        <i class="fa-solid fa-qrcode"></i> {{'dpos.sales.operation.tbai.status.warnings.label' | translate}}
                      </div>
                    </td>
                    <td class="text-center align-middle" *ngIf="salesTicketBai[i] == 2">
                      <div class="badge rounded-pill bg-rejected">
                        <i class="fa-solid fa-qrcode"></i> {{'dpos.sales.operation.tbai.status.rejected.label' | translate}}
                      </div>
                    </td>
                    <td class="text-end align-middle">
                      {{ sale.subTotal / (Math.pow(10, sale.decimals)) | currency : "Eur" : "€" }}
                    </td>
                    <td class="text-end align-middle">
                      {{ sale.totalDiscount / (Math.pow(10, sale.decimals)) | currency : "Eur" : "€" }}
                    </td>
                    <td class="text-end align-middle">
                      {{ sale.orderTaxes[0].base / (Math.pow(10, sale.orderTaxes[0].decimals)) | currency : "Eur" : "€" }}
                    </td>
                    <td class="text-end align-middle">
                      {{ sale.orderTaxes[0].total / (Math.pow(10, sale.orderTaxes[0].decimals)) | currency : "Eur" : "€" }}
                    </td>
                    <td class="text-end align-middle">
                      {{ sale.total / (Math.pow(10, sale.decimals)) | currency : "Eur" : "€" }}
                    </td>
                    <td class="text-end align-middle">
                      <span id="detailsticket" class="align-center">
                        <a [routerLink]="code" (click)="sendSalesDetails(sale.orderId)"><i class="fa-solid fa-arrow-right" style="color: #74c0fc"></i></a>
                      </span>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="has-text-centered">
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>