<div class="container mt-5 col-md-6 offset-md-3">
  <div class="card p-5">

      <h4 class="card-title">Recuperación de contraseña</h4>

    <form *ngIf="!isLoggedIn">
      <div class="form-group my-4 ms-5 me-5">
        <label class="mb-3" for="username"
          >Introduzca su nombre de usuario</label
        >
        <input
          type="username"
          class="form-control"
          [(ngModel)]="userLocal"
          name="user"
        />
        <div class="mt-3">
          <button type="submit" class="btn button" (click)="sendUSerPwRec()" [disabled]=disabled>
            Aceptar
          </button>
        </div>
        <div class="mt-3">
          <div class="card-body" *ngIf="text.length>0">
            <countdown class="h1 d-flex justify-content-center text-danger" [config]="{ leftTime: 120, format: 'mm:ss' }" (event)="onTimerFinished($event)" />
          </div>
          <span class="text-success">{{text}}</span><br>
          <span class="text-success">{{text2}}</span><br>
          <span class="text-success">{{text3}}</span>
        </div>
      </div>
    </form>
  </div>
</div>
