<br />
<div class="container-fluid header-main">
  <div class="d-flex justify-content-between mb-2">
    <!-- Barra superior con botón de volver y botón para descargar PDF -->
    <a [routerLink]="['/sales']" type="button" style="text-decoration: none;">
      <i class="fa-solid fa-angle-left"></i> {{ 'dpos.details.back.button.label' | translate }}
    </a>
    <button class="btn btn-danger btn-round" (click)="downloadPDF()">
      <i class="fa-solid fa-file-pdf fa-xl"></i>
    </button>
  </div>
  <!-- Modal para mensajes -->
  <app-modal [showModal]="showModal" [modalTitle]="modalTitle" [modalMessage]="modalMessage" (closeModal)="closeModal()"></app-modal>
  <!-- Spinner mientras se carga la información -->
  <div *ngIf="!loadCompleted" class="d-flex justify-content-center">
    <div class="spinner-border text-danger"></div>
  </div>
  <div class="col-12 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
    <!-- Información del ticket -->
    <div class="card card-customer" *ngIf="ticket">
      <div class="card-header d-flex">
        <div class="d-flex flex-column justify-content-between">
          <h4 class="card-title">{{ ticket.orderCommerce.name }}</h4>
          <span id="lblterminal_number" class="text-amber">
            {{ 'dpos.filter.terminal' | translate }} {{ ticket.terminalNumber }}
          </span>
        </div>
        <div class="flex-fill text-end">
          <span id="lblcomercial_cif" class="small">{{ ticket.orderCommerce.nif }}</span><br />
          <span id="lblcomercial_address" class="small">{{ ticket.orderCommerce.address }}</span><br />
          <span id="lbldate" type="date" class="small text-customer">
            {{ ticket.finishedAt | date : "yyyy-MM-dd HH:mm" }}
          </span>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="flex-fill">
            <div class="text-end">
              <span><b>{{ ticket.reference }}&nbsp;</b></span><br /><br />
            </div>
            <div class="table-responsive">
              <table class="table table-hover order-table">
                <thead>
                  <tr>
                    <th class="text-start">{{ 'dpos.details.order.product.label' | translate }}</th>
                    <th class="text-end">{{ 'dpos.details.order.product.uds.label' | translate }}</th>
                    <th class="text-end">{{ 'dpos.details.order.product.price.label' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let orders of ticket.orderLines">
                    <td class="text-start">{{ orders.productName }}</td>
                    <td class="text-end">{{ orders.quantity }}</td>
                    <td *ngIf="ticket.type === 2; else unitPrice" class="text-end text-nowrap text-red">{{ (orders.unitPrice / 100).toFixed(2) }}&nbsp;€</td>
                    <ng-template #unitPrice>
                      <td class="text-end text-nowrap">{{ (orders.unitPrice / 100).toFixed(2) }}&nbsp;€</td>
                    </ng-template>
                  </tr>
                </tbody>
              </table>
            </div>
            <div [ngSwitch]="ticket.type" class="flex-fill text-end">
              <!-- Mostrar tipo de ticket: venta o devolución -->
              <h6 *ngSwitchCase="0" id="lbltype" class="text-blue">
                <span><b>{{ 'dpos.details.order.label' | translate }}</b></span>
              </h6>
              <h6 *ngSwitchCase="1" id="lbltype" class="text-blue">
                <span><b>{{ 'dpos.details.order.label' | translate }}</b></span>
              </h6>
              <h6 *ngSwitchCase="2" id="lbltype" class="text-blue">
                <span><b>{{ 'dpos.details.refund.label' | translate }}</b></span>
              </h6>
            </div>
            <div class="row px-2 pb-1">
              <div class="col-7 col-md-10 text-end">
                <span id="lblsubtotal_title" class="small">{{ 'dpos.details.order.subtotal.label' | translate }}</span>
              </div>
              <div class="col-5 col-md-2 text-end">
                <span *ngIf="ticket.type === 2; else subtotal" class="text-red" id="lblsubtotal">
                  {{ ticket.subTotal / Math.pow(10, ticket.decimals) | currency : "Eur" : "€" }}
                </span>
                <ng-template #subtotal>
                  <span id="lblsubtotal">
                    {{ ticket.subTotal / Math.pow(10, ticket.decimals) | currency : "Eur" : "€" }}
                  </span>
                </ng-template>
              </div>
            </div>
            <!-- Descuento, solo si es mayor a 0 -->
            <div class="row px-2 pb-1" *ngIf="ticket.totalDiscount > 0">
              <div class="col-7 col-md-10 text-end">
                <span id="lbldiscount_title" class="small">{{ 'dpos.details.order.discount.label' | translate }}</span>
              </div>
              <div class="col-5 col-md-2 text-end">
                <span *ngIf="ticket.type === 2; else totalDiscount" class="text-red" id="lbldiscount">
                  {{ ticket.totalDiscount / Math.pow(10, ticket.decimals) | currency : "Eur" : "€" }}
                </span>
                <ng-template #totalDiscount>
                  <span id="lbldiscount">{{ ticket.totalDiscount / Math.pow(10, ticket.decimals) | currency : "Eur" : "€" }}</span>
                </ng-template>
              </div>
            </div>
            <div class="row px-2 pb-1">
              <div class="col-7 col-md-10 text-end">
                <span id="lbltaxbase_title" class="small">{{'dpos.details.order.base.label' | translate}}</span>
              </div>
              <div class="col-5 col-md-2 text-end">
                <span *ngIf="ticket.type === 2; else base" class="text-red" id="lbltaxbase">{{ totalBase | currency : "Eur" : "€" }}</span>
                <ng-template #base>
                  <span id="lbltaxbase">{{ totalBase | currency : "Eur" : "€" }}</span>
                </ng-template>
              </div>
            </div>
            <div class="row px-2 pb-1" *ngFor="let orders of ticket.orderTaxes">
              <div class="col-7 col-md-10 text-end">
                <span id="lblIVA_title" class="small">{{ orders.name }}</span>
              </div>
              <div class="col-5 col-md-2 text-end">
                <span *ngIf="ticket.type === 2; else totalIVA" class="text-red" id="lblIVA">
                  {{ (orders.total / 100).toFixed(2) }}&nbsp;€
                </span>
                <ng-template #totalIVA>
                  <span id="lblIVA">{{ orders.total / Math.pow(10, orders.decimals) | currency : "Eur" : "€" }}</span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Totales y métodos de pago -->
      <div class="card-footer pb-2">
        <div class="row px-2 pb-1">
          <div class="col-7 col-md-10 text-end">
            <span id="lbltotal_title"><b>{{'dpos.details.order.total.label' | translate}}</b></span>
          </div>
          <div class="col-5 col-md-2 text-end">
            <span *ngIf="ticket.type === 2; else total" id="lbltotal" class="text-red text-bold text-lg">
              {{ (ticket.total / 100).toFixed(2) }}&nbsp;€
            </span>
            <ng-template #total>
              <span id="lbltotal"><b>{{ ticket.total / Math.pow(10, ticket.decimals) | currency : "Eur" : "€" }}</b></span>
            </ng-template>
          </div>
        </div>
        <div class="row px-2 pb-1" *ngFor="let orderPayment of ticket.orderPayments">
          <div class="col-7 col-md-10 text-end">
            <span id="lblcash_title" class="small">{{ orderPayment.name }}</span>
          </div>
          <div class="col-5 col-md-2 text-end small">
            <span *ngIf="ticket.type === 2; else amount" class="text-red" id="lblcash">
              {{ (orderPayment.amount / 100).toFixed(2) }}&nbsp;€
            </span>
            <ng-template #amount>
              <span id="lblcash">{{ orderPayment.amount / Math.pow(10, orderPayment.decimals) | currency : "Eur" : "€" }}</span>
            </ng-template>
          </div>
        </div>
        <!-- Sección para TBAI si existe -->
        <div class="row px-2 pb-1 pt-3" *ngIf="salesTicketBai.length > 0">
          <div class="text-start">
            <span id="ticket_bai"><b>{{'dpos.details.order.tbai.label' | translate}}</b> {{ salesTicketBai[0] }}</span>
          </div>
          <div class="text-center my-2">
            <qrcode [qrdata]="salesTicketBai[1]" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
          </div>
        </div>
        <!-- Sección para Verifactu si existe -->
        <div class="row px-2 pb-1 pt-3" *ngIf="salesVerifactu.length > 0">
          <div class="text-start">
            <span id="ticket_bai">
              <b>{{'dpos.details.order.verifactu.label' | translate}}</b>&nbsp;
              <a href="{{ salesVerifactu[0] }}" target="_blank" rel="noopener">{{ salesVerifactu[0] }}</a>
            </span>
          </div>
          <div class="text-center my-2">
            <qrcode [qrdata]="salesVerifactu[1]" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>