<div class="container mt-5 col-md-3 offset-md-5">
  <div class="card p-5">
    <h2><b>{{ 'dpos.login.title' | translate }}</b></h2>
    <span *ngIf="!isLoggedIn">{{ 'dpos.login.accountdetails.label' | translate }}</span>
    <div class="mt-3">
      <form *ngIf="!isLoggedIn" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()" novalidate>
        <!-- Campo usuario -->
        <div class="my-3">
          <label for="username" class="form-label">{{ 'dpos.login.username.label' | translate }}</label>
          <input type="email" class="form-control" formControlName="username" autocomplete="username"/>
          <div *ngIf="loginForm.value.username.errors && loginForm.submitted" class="invalid-feedback">
            {{ 'dpos.login.username.required.label' | translate }}
          </div>
        </div>
        <!-- Campo contraseña -->
        <div class="my-3">
          <label for="password" class="form-label">{{ 'dpos.login.password.label' | translate }}</label>
          <input type="password" matInput class="form-control" formControlName="pw" minlength="4" autocomplete="current-password" />
          <div style="padding: 5px;">
            <a [routerLink]="code"><small>{{ 'dpos.login.password.forget.label' | translate }}</small></a>
          </div>
          <div *ngIf="loginForm.value.pw.errors && loginForm.submitted" class="invalid-feedback">
            <div *ngIf="loginForm.value.pw.errors['required']">
              {{ 'dpos.login.password.required.label' | translate }}
            </div>
            <div *ngIf="loginForm.value.pw.errors['minlength']">
              {{ 'dpos.login.password.minleght.label' | translate }}
            </div>
          </div>
        </div>
        <!-- Botón de envío, deshabilitado si formulario inválido -->
        <div class="my-3 text-center">
          <button [disabled]="!loginForm.valid" type="submit" class="btn button">
            <span *ngIf="loading">{{ 'dpos.login.loading.btn' | translate }}</span>
            <span *ngIf="!loading">{{ 'dpos.login.login.btn' | translate }}</span>
          </button>
        </div>
        <!-- Mensaje error global en login fallido -->
        <div *ngIf="isLoginFailed" class="alert alert-danger" role="alert">
          {{ 'dpos.login.login.failed.label' | translate }} {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
</div>