<nav class="sidenav d-flex flex-column vh-100" style="background-color: #001B61;">
  <div class="flex-shrink-0 p-2 text-white">
    <a class="d-flex align-items-center justify-content-center mb-0 text-white text-decoration-none"
      (click)="titleHeader(title0)" routerLink="/">
      <i class="fa-solid fa-box py-2 logo"></i>
    </a>
  </div>
  <div id="navBar1" class="flex-shrink-0">
    <ul id="navBarMain" class="navbar-nav flex-column align-items-stretch">
      <ng-container  >
      <li *ngFor="let page of pages">
        <a class="nav-link m-3 d-flex flex-column align-items-center" (click)="titleHeader(page.text)"
          routerLink="/{{ page.code }}" routerLinkActive="active-link" (click)="component(page.code)">
          <i class="{{ page.icon }}  fa-2xl MT-3"></i>{{page.text}}
        </a>
      </li>
    </ng-container>
    </ul>
  </div>
</nav>
<header class="bg-customer" style="border-bottom:2px solid #ededed;">
  <div class="clearfix header-main">
    <h3 class="float-start p-3 pb-2"><b>{{ title }}</b></h3>
    <ul class="navbar-nav float-end">
      <li class="mx-3 nav-item pt-2 pb-2">
        <DOPSW-lang-switcher></DOPSW-lang-switcher>
      </li>
      <li class="mx-3 nav-item pt-2 pb-2">

        <select
            class="form-select-commerce"
            *ngIf="username; else loginLink"
            name="commerce"
            [(ngModel)]="commerceSearch"
            id="searchCommerce"
          >
          <option selected>Comercio</option>
          <option>Comercio 1</option>
          <option>Comercio 2</option>
        </select>
      </li>
      <li class="mx-3 nav-item pt-2 pb-2">
        <a class="btn btn-light" *ngIf="username" (click)="logOut()" style="cursor: pointer">
          <i class="fa-solid fa-circle-user fa-lg" style="color: #ffbb00;"></i>&nbsp;&nbsp;{{
          username }}&nbsp;&nbsp;&nbsp;<span class="fa-solid fa-arrow-right-from-bracket"></span>
        </a>
      </li>
      <ng-template #loginLink>
        <li class="mx-3 nav-item">
          <a class="btn" routerLink="/login">{{'dpos.login.btn' | translate}}</a>
        </li>
      </ng-template>
    </ul>
  </div>
</header>
