<br />
<div class="container-fluid header-main">
  <div class="d-flex justify-content-between mb-2">
    <a [routerLink]="['/products']" type="button" style="text-decoration: none;">
      <i class="fa-solid fa-angle-left"></i> {{ 'dpos.product-details.back' | translate }}
    </a>
  </div>
  <!-- Formulario principal con los detalles del producto -->
  <div class="card my-4">
    <div class="card-body">
      <!-- Spinner de carga mientras no se completan los datos -->
      <div *ngIf="!loadCompleted" class="d-flex justify-content-center">
        <div class="spinner-border text-danger"></div>
      </div>
      <div class="col mb-4">
        <h5><b>{{ titlePage }}</b></h5>
      </div>
      <!-- Formulario para editar o crear producto -->
      <form>
        <div class="row g-3">
          <!-- Primera columna del formulario -->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label">{{ 'dpos.product-details.form.name' | translate }}</label>
              <input type="text" class="form-control" id="name" />
            </div>
            <div class="row">
              <div class="col-md-8 mb-3">
                <label for="category" class="form-label">{{ 'dpos.product-details.form.category' | translate }}</label>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-select [(value)]="categoryIdSelected" id="category" name="category" class="custom-mat-form-select" multiple>
                    <mat-select-trigger>{{ getSelectedCategoryNames() }}</mat-select-trigger>
                    <mat-option *ngFor="let category of categories" [value]="category.categoryId">
                      <div class="d-flex align-items-center w-100">
                        <span class="custom-mat-form-span">{{ category.name }}</span>
                        <button mat-icon-button class="custom-mat-form-icon ms-auto" (click)="editCategory(category, $event)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 mb-3 d-flex align-items-end justify-content-end">
                <button class="btn btn-secondary min-btn-width" (click)="openCategoriesModal()">
                  {{'dpos.product-details.category.create.btn' | translate}}
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mb-3">
                <label for="modifiers" class="form-label">{{ 'dpos.product-details.form.modifiers' | translate }}</label>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-select [(value)]="modifiersIdSelected" id="modifiers" name="modifiers" class="custom-mat-form-select">
                    <mat-select-trigger>{{ getSelectedModifiersName() }}</mat-select-trigger>
                    <mat-option *ngFor="let modifier of modifiers" [value]="modifier.modifierId">
                      <div class="d-flex align-items-center w-100">
                        <span class="custom-mat-form-span">{{ modifier.name }}</span>
                        <button mat-icon-button class="custom-mat-form-icon" (click)="editModifier(modifier, $event)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 mb-3 d-flex align-items-end justify-content-end">
                <button class="btn btn-secondary min-btn-width" (click)="openModifiersModal()">
                  {{'dpos.product-details.modifiers.create.btn' | translate}}
                </button>
              </div>
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">{{ 'dpos.product-details.form.stock' | translate }}</label>
              <input type="text" class="form-control" id="stock" />
            </div>
          </div>
          <!-- Segunda columna del formulario -->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="barcode" class="form-label">{{ 'dpos.product-details.form.barcode' | translate }}</label>
              <input type="text" class="form-control" id="barcode" />
            </div>
            <div class="mb-3">
              <label for="reference" class="form-label">{{ 'dpos.product-details.form.reference' | translate }}</label>
              <input type="text" class="form-control" id="reference" />
            </div>
            <div class="mb-3">
              <label for="priceType" class="form-label">{{ 'dpos.product-details.form.price.type' | translate }}</label>
              <input type="text" class="form-control" id="priceType" />
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">{{ 'dpos.product-details.form.price' | translate }}</label>
              <input type="text" class="form-control" id="price" />
            </div>
            <div class="mb-3">
              <label for="taxes" class="form-label">{{ 'dpos.product-details.form.taxes' | translate }}</label>
              <input type="text" class="form-control" id="taxes" />
            </div>
          </div>
        </div>
        <!-- Campo descripción -->
        <div class="col-md-12 mb-3">
          <label for="description" class="form-label">{{ 'dpos.product-details.form.description' | translate }}</label>
          <textarea class="form-control" id="description" rows="2"></textarea>
        </div>
        <!-- Botones de cancelar o guardar productos -->
        <div class="d-flex justify-content-end mt-4">
          <a [routerLink]="['/products']" type="button" style="text-decoration: none;">
            <button type="button" class="btn btn-outline-danger me-2">{{ 'dpos.action.cancel' | translate }}</button>
          </a>
          <button type="submit" class="btn btn-primary" [routerLink]="code" (click)="saveProduct()">{{ 'dpos.action.save' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>