<br />
<div class="container-fluid header-main">
  <div class="d-flex justify-content-between mb-2">
    <a [routerLink]="['/products']" type="button" style="text-decoration: none;">
      <i class="fa-solid fa-angle-left"></i> {{ 'dpos.product-details.back' | translate }}
    </a>
  </div>
  <!-- Formulario principal con los detalles del producto -->
  <div class="card my-4">
    <div class="card-body">
      <!-- Spinner de carga mientras no se completan los datos -->
      <div *ngIf="!loadCompleted" class="d-flex justify-content-center">
        <div class="spinner-border text-danger"></div>
      </div>
      <div class="col mb-4">
        <h5><b>{{ titlePage }}</b></h5>
      </div>
      <!-- Formulario para editar o crear producto -->
      <form  [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <div class="row g-3">
          <!-- Primera columna del formulario -->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label">{{ 'dpos.product-details.form.name' | translate }}</label>
              <input type="text" class="form-control" id="name" formControlName="name" name="name" />
              <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="text-danger">
                {{ 'dpos.customers.details.form.mandatory' | translate }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mb-3">
                <label for="categories" class="form-label">{{ 'dpos.product-details.form.category' | translate }}</label>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-select formControlName="categories" id="categories" name="categories" class="custom-mat-form-select" multiple>
                    <mat-select-trigger>{{ getSelectedCategoryNames(productForm.get('categories')?.value) }}</mat-select-trigger>
                    <mat-option *ngFor="let category of categories" [value]="category.categoryId">
                      <div class="d-flex align-items-center w-100">
                        <span class="custom-mat-form-span">{{ category.name }}</span>
                        <button mat-icon-button class="custom-mat-form-icon ms-auto" (click)="editCategory(category.categoryId, $event)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="productForm.get('categories')?.hasError('required') && productForm.get('categories')?.touched" class="text-danger">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 mb-3 d-flex align-items-end justify-content-end">
                <button class="btn btn-secondary min-btn-width" (click)="openCategoriesModal()">
                  {{'dpos.product-details.category.create.btn' | translate}}
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mb-3">
                <label for="modifiers" class="form-label">{{ 'dpos.product-details.form.modifiers' | translate }}</label>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-select formControlName="modifiers" id="modifiers" name="modifiers" class="custom-mat-form-select">
                    <mat-select-trigger>{{ getSelectedModifiersName(productForm.get('modifiers')?.value) }}</mat-select-trigger>
                    <mat-option *ngFor="let modifier of modifiers" [value]="modifier.modifierId">
                      <div class="d-flex align-items-center w-100">
                        <span class="custom-mat-form-span">{{ modifier.name }}</span>
                        <button mat-icon-button class="custom-mat-form-icon" (click)="editModifier(modifier.modifierId, $event)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="productForm.get('modifiers')?.hasError('required') && productForm.get('modifiers')?.touched" class="text-danger">
                    {{ 'dpos.customers.details.form.mandatory' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 mb-3 d-flex align-items-end justify-content-end">
                <button class="btn btn-secondary min-btn-width" (click)="openModifiersModal()">
                  {{'dpos.product-details.modifiers.create.btn' | translate}}
                </button>
              </div>
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">{{ 'dpos.product-details.form.stock' | translate }}</label>
              <input type="text" class="form-control" id="stock" formControlName="stock" name="stock" />
              <div *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched" class="text-danger">
                {{ 'dpos.customers.details.form.mandatory' | translate }}
              </div>
            </div>
            <div class="mb-3">
              <label for="epigraph" class="form-label">{{ 'dpos.product-details.form.epigraph' | translate }}</label>
              <input type="text" class="form-control" id="epigraph" formControlName="epigraph" name="epigraph" />
              <div *ngIf="productForm.get('epigraph')?.invalid && productForm.get('epigraph')?.touched" class="text-danger">
                {{ 'dpos.customers.details.form.mandatory' | translate }}
              </div>
            </div>
          </div>
          <!-- Segunda columna del formulario -->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="barcode" class="form-label">{{ 'dpos.product-details.form.barcode' | translate }}</label>
              <input type="text" class="form-control" id="barcode" formControlName="barcode" name="barcode" />
            </div>
            <div class="mb-3">
              <label for="reference" class="form-label">{{ 'dpos.product-details.form.reference' | translate }}</label>
              <input type="text" class="form-control" id="reference" formControlName="reference" name="reference" />
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="priceType" class="form-label">{{ 'dpos.product-details.form.price.type' | translate }}</label>
                <select id="priceType" class="form-select" formControlName="priceType" name="priceType">
                  <option *ngFor="let option of priceTypeOptions" [value]="option.value">
                    {{ option.label }}
                  </option>
                </select>
                <div *ngIf="productForm.get('priceType')?.invalid && productForm.get('priceType')?.touched" class="text-danger">
                  {{ 'dpos.customers.details.form.mandatory' | translate }}
                </div>
              </div>

              <div class="col-md-6">
                <label for="price" class="form-label">{{ 'dpos.product-details.form.price' | translate }}</label>
                <input type="text" class="form-control" id="price" formControlName="price" name="price" />
                <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">
                  {{ 'dpos.customers.details.form.mandatory' | translate }}
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="taxes" class="form-label">{{ 'dpos.product-details.form.taxes' | translate }}</label>
              <input type="text" class="form-control" id="taxes" formControlName="taxes" name="taxes" />
            </div>
            <div class="mb-3">
              <label for="unitMeasurement" class="form-label">{{ 'dpos.product-details.form.unitMeasurement' | translate }}</label>
              <select id="unitMeasurement" class="form-select" formControlName="unitMeasurement" name="unitMeasurement">
                <option *ngFor="let option of unitMeasurementOptions" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>
              <div *ngIf="productForm.get('unitMeasurement')?.invalid && productForm.get('unitMeasurement')?.touched" class="text-danger">
                {{ 'dpos.customers.details.form.mandatory' | translate }}
              </div>
            </div>
          </div>
        </div>
        <!-- Campo descripción -->
        <div class="col-md-12 mb-3">
          <label for="description" class="form-label">{{ 'dpos.product-details.form.description' | translate }}</label>
          <textarea class="form-control" id="description" rows="2" formControlName="description" name="description"></textarea>
        </div>
        <!-- Botones de cancelar o guardar productos -->
        <div class="d-flex justify-content-end mt-4">
          <a [routerLink]="['/products']" type="button" style="text-decoration: none;">
            <button type="button" class="btn btn-outline-danger me-2">{{ 'dpos.action.cancel' | translate }}</button>
          </a>
          <button type="submit" class="btn btn-primary" [routerLink]="code">{{ 'dpos.action.save' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>