<br />
<div class="container-fluid header-main">
  <div>
    <!-- Formulario de búsqueda -->
    <form class="d-flex flex-wrap mx-1">
      <div class="mx-3">
        <label class="form-label">{{'dpos.products.name.form.label' | translate}}</label>
        <input type="text" class="form-control" name="productName" [(ngModel)]="productNameVarSearch" (change)="onProductNameChange()">
      </div>
      <div class="mx-3">
        <label class="form-label">{{'dpos.products.reference.form.label' | translate}}</label>
        <input type="text" class="form-control" name="productReference" [(ngModel)]="productReferenceVarSearch" (change)="onProductReferenceChange()">
      </div>
      <div class="mx-3">
        <label class="form-label">{{'dpos.products.barcode.form.label' | translate}}</label>
        <input type="text" class="form-control" name="productBarcode" [(ngModel)]="productBarcodeVarSearch" (change)="onProductBarcodeChange()">
      </div>
      <div id="searchButtonsDiv" class="ms-5 d-flex overflow-auto">
        <button type="reset" class="btn btn-outline-danger align-self-end"> 
          <a type="button" (click)="cleanFormFields()"><i class="fas fa-eraser"></i></a>
        </button>
        <a type="button" class="btn btn-primary align-self-end" (click)="searchProducts()">
          <i class="fas fa-search"></i>&nbsp;&nbsp;{{'dpos.action.search' | translate}}
        </a>
      </div>
    </form>
  </div>
  <br />
</div>