<br />
<div class="container-fluid header-main">
  <!-- Formulario de búsqueda para filtrar productos -->
  <form class="row g-3 px-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="category">{{ 'dpos.products.category.form.label' | translate }}</label>
      <select class="form-select" id="category" name="category" [(ngModel)]="categorySelected" (change)="onCategoryChange()">
        <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryName }}</option>
      </select>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="productName">{{ 'dpos.products.name.form.label' | translate }}</label>
      <input type="text" class="form-control" id="productName" name="productName" [(ngModel)]="productNameVarSearch" (change)="onProductNameChange()">
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-1">
      <label class="form-label" for="productFavourite">{{ 'dpos.products.favourite.form.label' | translate }}</label>
      <div class="d-flex justify-content-start mt-0">
        <input type="checkbox" id="productFavourite" name="productFavourite" [(ngModel)]="productFavouriteVarSearch" (change)="onProductFavouriteChange(productFavouriteVarSearch)" class="form-check-input checkbox-large">
      </div>
    </div>
    <!-- Botones para limpiar formulario y buscar productos -->
    <div class="col-12 col-md-4 col-lg-4 d-flex flex-wrap gap-2 align-items-end">
      <button type="button" class="btn btn-primary" (click)="searchProducts()">
        <i class="fas fa-search"></i>&nbsp;{{ 'dpos.action.search' | translate }}
      </button>
      <button type="reset" class="btn btn-outline-info btn-round" (click)="cleanFormFields()">
        <i class="fa-solid fa-arrow-rotate-right fa-xl"></i>
      </button>
    </div>
  </form>
  <!-- Contenido principal de productos y opciones -->
  <div class="card mt-3">
    <div class="card-body">
      <!-- Modal para mensajes -->
      <app-modal [showModal]="showModal" [modalTitle]="modalTitle" [modalMessage]="modalMessage" [showAcceptButton]="showAcceptButton" [showCancelButton]="showCancelButton" (acceptAction)="onAcceptModal()" (cancelAction)="closeModal()" (closeModal)="closeModal()"></app-modal>
      <!-- Encabezado y botones para crear, importar y descargar productos -->
      <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
          <h5 *ngIf="categorySelected"><b>{{ 'dpos.products.page.title' | translate }}</b></h5>
        </div>
        <div class="col-12 col-md-6 text-md-end text-center mt-3 mt-md-0 d-flex flex-wrap gap-2 justify-content-md-end justify-content-center">
          <button class="btn btn-primary" (click)="addProduct()">{{ 'dpos.products.create.btn' | translate }}</button>
          <button class="btn btn-primary" (click)="importProducts()">&nbsp;{{ 'dpos.products.import.label' | translate }}</button>
          <input type="file" #productFileInput style="display: none" accept=".csv" (change)="onProductFileSelected($event)" />
          <button class="btn btn-primary btn-round" (click)="downloadCSV()">
            <i class="fa-solid fa-download fa-xl"></i>
          </button>
        </div>
      </div>
      <!-- Spinner mientras se cargan los datos -->
      <div *ngIf="!loadCompleted && !emptySearch" class="d-flex justify-content-center">
        <div class="spinner-border text-danger"></div>
      </div>
      <!-- Mensaje cuando no hay datos para mostrar -->
      <div *ngIf="loadCompleted && emptySearch" class="d-flex justify-content-center">
        <b><i>{{ 'dpos.products.nodata.label' | translate }}</i></b>
      </div>
      <!-- Tabla con listado de productos -->
      <div *ngIf="loadCompleted && !emptySearch">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-customer">
              <tr>
                <th>{{ 'dpos.products.table.column.name' | translate }}</th>
                <th class="text-center">{{ 'dpos.products.table.column.stock' | translate }}</th>
                <th class="text-end">{{ 'dpos.products.table.column.price' | translate }}</th>
                <th class="text-center">{{ 'dpos.products.table.column.delete' | translate }}</th>
              </tr>
            </thead>
            <ng-template #empty>
              <td colspan="7">
                <b>{{ 'dpos.sales.operation.nodata.label' | translate }}</b>
              </td>
            </ng-template>
            <tbody>
              <ng-container *ngIf="loadCompleted && products; else empty">
                <tr *ngFor="let product of products | paginate: { id: 'productsList', itemsPerPage: 5, currentPage: currentProductsPage }" (click)="sendProductDetails(product.productId)">
                  <td class="align-middle">{{ product.productName }}</td>
                  <td class="text-center align-middle">{{ product.stock }}</td>
                  <td class="text-end align-middle">{{ product.price / (Math.pow(10, 2)) | currency : 'EUR' : '€' }}</td>
                  <td class="text-center align-middle">
                    <button type="button" class="btn-delete" (click)="openDeleteModal(product.productId, $event)">
                      <i class="fa-solid fa-trash" style="color: #FD716E"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <!-- Controles de paginación -->
          <div *ngIf="loadCompleted && emptySearch === false" class="text-start mt-3">
            <pagination-controls (pageChange)="currentProductsPage = $event" id="productsList" previousLabel="{{ 'dpos.pagination.previous' | translate }}" nextLabel="{{ 'dpos.pagination.next' | translate }}"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>