<h5 class="m-4">Detalles del producto</h5>
<div class="col-3 ms-4">
  <a [routerLink]="['/products']" type="button" class="btn btn-info rounded-circle"><i class='fas fa-arrow-left fa-lg'></i></a>
  <span class="ms-3">Editar Producto </span>
  <span class="ms-3 text-bold">Referencia: <span>{{product.Reference}}</span></span>
</div>
<!-- Formulario de Editar producto -->
<div class="col-11 mx-auto my-2">
    <form [formGroup]="formSearch">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 mt-3">
                    <label class="form-label">Nombre</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                    <input type="text" class="form-control" formControlName="name" id="name" placeholder="Introducir Nombre" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Categorías</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                    <input type="text" class="form-control" formControlName="categories" id="categories" placeholder="Introducir categoría" list="categoryOptions">
                    <datalist id="categoryOptions">
                      <option *ngFor="let listCategory of categories?.Data">
                        {{ listCategory.Name }}
                      </option>
                    </datalist>
                </div>
                <div class="mb-3">
                    <label class="form-label">Código de barras</label>
                    <input type="text" class="form-control" formControlName="code" id="code" placeholder="Introducir Código de barras">
                </div>
                <div class="mb-3">
                    <label class="form-label">Referencia</label>
                    <input type="text" class="form-control" formControlName="reference" id="reference" placeholder="Introducir Código de barras">
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <textarea rows="4" class="form-control" formControlName="description" id="description" placeholder="Introducir Descripción"></textarea>
                </div>
                <div class="mb-1">
                    <label class="form-label">Clave de régimen</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                </div>
                <div class="mb-3">    
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="rad_regime1" formControlName="regimeop" name="regimeop" value="01">Operación de régimen general
                        <label class="form-check-label" for="rad_regime1"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="rad_regime2" formControlName="regimeop" name="regimeop" value="51">Operaciones en recargo de equivalencia
                        <label class="form-check-label" for="rad_regime2"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="rad_regime3" formControlName="regimeop" name="regimeop" value="19">Operaciones en régimen agrario
                        <label class="form-check-label" for="rad_regime3"></label>
                    </div>
                </div>  
                <div class="mb-3">
                    <label class="form-label">Epígrafe</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                    <select class="form-select" formControlName="epigraph" id="epigraph" required>
                        <option>&nbsp;</option>
                        <option>Explotación extensiva de ganado bovino</option>
                        <option selected>Apicultura</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 mt-3">
                    <label class="form-label">Tipo de precio</label>
                    <select class="form-select" formControlName="priceType" id="priceType" (change)="addFields($event)">
                        <option>Fijo</option>
                        <option>Variable</option>
                    </select>
                </div>
                <div class="mb-3" *ngIf="variable">
                    <label class="form-label">Precio (€)</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                    <input type="text" class="form-control" formControlName="price" id="price" placeholder="Introducir precio (€)" required>
                </div>
                <div class="mb-3" *ngIf="variable">
                    <label class="form-label">Precio oferta (€)</label>
                    <input type="text" class="form-control" formControlName="offerPrice" id="offerPrice" placeholder="Introducir oferta (€)">
                </div>
                <div class="mb-3 border-bottom text-center" *ngIf="variable">
                    <label class="form-label">Fecha oferta</label>
                </div>
                <div class="row mb-3" *ngIf="variable">
                    <div class="col-md-6">
                        <label class="form-label">Desde</label>
                        <div class="input-group">
                            <input type="date" class="form-control" formControlName="since" id="since">
                            <button class="btn btn-light" type="button"><i class='fas fa-clock'></i></button>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="variable">
                        <label class="form-label">Hasta</label>
                        <div class="input-group">
                            <input type="date" class="form-control" formControlName="until" id="until">
                            <button class="btn btn-light" type="button"><i class='fas fa-clock'></i></button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Impuesto</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                    <select class="form-select" formControlName="iva" id="tax" (change)="addFields($event)" required>
                        <option *ngFor="let tax of taxes?.Data" [value]="tax?.Name" [selected]="product.Tax?.Name === tax?.Name">
                            {{ tax?.Name }}
                        </option>
                    </select>
                </div>
                <div class="mb-3" *ngIf="exento">
                    <label class="form-label">Motivo de Exento </label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                    <select class="form-select" formControlName="taxExemptCode" id="taxExemptCode" required>
                        <option>&nbsp;</option>
                        <option>Art.20</option>
                        <option>Art.21;</option>
                        <option>Art.22</option>
                        <option>Art.23 y 24</option>
                        <option>Art.25</option>
                        <option>Otros</option>
                    </select>
                </div> 
                <div class="mb-3" *ngIf="noSujeto">
                    <label class="form-label">Motivo de No Sujeto </label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                    <select class="form-select" formControlName="taxExemptCode" id="taxExemptCode" required>
                        <option>&nbsp;</option>
                        <option>No sujeto por el articulo / de la ley del IVA. Otros supuestos de no sujeción</option>
                        <option>No sujeto por reglas de localización</option>
                    </select>
                </div>     
                <div class="mb-3">
                    <label class="form-label">Stock inicial (ud.)</label>
                    <input type="text" class="form-control" formControlName="stock" id="stock" placeholder="Introducir stock inicial">
                </div>
                <div class="mb-3 d-flex flex-row">
                    <div>
                        <label class="form-label">Adjuntar imagen</label>
                        <input type="file" class="form-control" placeholder="Añadir imagen" (change)="captureFile($event)">
                        <input type="text" class="form-control" formControlName="image" id="image" placeholder="Añadir imagen">
                        <div class="my-3" *ngIf="this.product?.Images?.[0]?.Md">
                            <div class="mb-3">
                                <label class="form-label">Imagen Actual</label>
                            </div>
                            <div>
                                <img src={{this.product?.Images?.[0]?.Md}}>
                                <a type="button" class="btn btn-danger rounded-circle" (click)="deleteImage()"><i class='fas fa-trash-alt fa-lg'></i></a>
                            </div>
                        </div>
                        <p><small><i>Extensiones permitidas:"jpeg, jpg, gif, png, svg"</i></small><br/>
                        <small><i>Tamaño máximo por fichero 5 mb</i></small></p>
                    </div>
                    <div class="mt-3 mx-2">
                        <div class="mt-1">
                            <a type="button" class="btn btn-danger rounded-pill">Modificar imagen</a>
                        </div>
                    </div> 
                </div>    
            </div>    
        </div>
        <div class="d-flex flex-row-reverse">
            <div class="mx-1"><a type="button" class="btn btn-customer rounded-pill" (click)="formData()">Aceptar</a></div>
            <div class="mx-1"><a [routerLink]="['/products']" type="button" class="btn btn-danger rounded-pill">Cancelar</a></div>
        </div>    
    </form>
</div>
<!-- Modal -->
<div class="modal-backdrop" [ngStyle]="{'display':modal}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':modal}">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <h4 class="modal-title">&#10003;Producto actualizado</h4>
                        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                        <p>El producto <span class="text-bold">{{product.Name}}</span> {{modalMessage}}</p>
                </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-customer rounded-pill" (click)="onCloseHandled()">Cerrar</a>
                </div>
            </div>
    </div>
</div>