<div class="container-fluid header-main mt-4">
<div class="d-flex justify-content-between mb-2" *ngIf="loadCompleted">
  <a [routerLink]="['/balances']" type="button" class="" style="text-decoration: none;"><i class="fa-solid fa-angle-left"></i> Listado de cierres de caja</a>
  <!--<span class="ms-3">Referencia:{{balances.reference}}</span>-->
</div>
    <div class="col-12 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
        <div class="card card-customer">
            <div class="card-header d-flex p-4">
                <div class="flex-fill align-items-start">
                    <label class="card-title">Comercio TalparaCual</label>
                </div>
                <div class="flex-fill text-end" >
                    <label id="lblcomercial_cif" ><small>{{balances.balanceCommerce?.nif}}</small></label><br/>
                    <label id="lblcomercial_address" ><small>{{balances.balanceCommerce?.address}}</small></label><br/>
                    <label id="lblcomercial_email" ><small>{{balances.balanceCommerce?.email}}</small></label><br/>
                    <label id="lbldate" type="date" class="mt-2"><small>{{balances.finishedAt | date:'dd/MM/yyyy HH:mm:ss'}}</small></label>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-fill"><label><small>Referencia:{{balances.reference}}</small></label></div>
                    <div class="flex-fill text-end"><label><small>Nº de terminal: {{balances.terminalNumber}}</small></label></div>
                </div>
            </div>
            <div class="card-footer pb-5">
                <div class="d-flex px-2 pb-2">
                    <div class="col-7 col-md-9">
                        <label >Saldo inicial caja:</label>
                    </div>
                    <div class="col-5 col-md-3 text-end roboto-mono">
                        <label>{{getDecimal(balances.opening)}} €</label>
                    </div>
                </div>
                <div class="d-flex px-2 pb-2">
                    <div class="col-7 col-md-9">
                        <label >Descuadre de caja:</label>
                    </div>
                    <div class="col-5 col-md-3 text-end roboto-mono">
                        <label>{{getDecimal(balances.outCount)}} €</label>
                    </div>
                </div>
                <div class="d-flex px-2 pb-2">
                    <div class="col-7 col-md-9">
                        <label >Entradas de efectivo:</label>
                    </div>
                    <div class="col-5 col-md-3 text-end roboto-mono">
                        <label>{{getDecimal(balances.in)}} €</label>
                    </div>
                </div>
                <div class="d-flex px-2 pb-2">
                    <div class="col-7 col-md-9">
                        <label >Salidas de efectivo:</label>
                    </div>
                    <div class="col-5 col-md-3 text-end roboto-mono">
                        <label>{{getDecimal(balances.out)}} €</label>
                    </div>
                </div>
                <div class="d-flex px-2 pb-2">
                    <div class="col-7 col-md-9">
                        <label >Recuento automático de efectivo:</label>
                    </div>
                    <div class="col-5 col-md-3 text-end roboto-mono">
                        <label>{{getDecimal(balances.autoCashRecount)}} €</label>
                    </div>
                </div>
                <div class="d-flex px-2 pb-2">
                    <div class="col-7 col-md-9">
                        <label >Recuento manual de efectivo:</label>
                    </div>
                    <div class="col-5 col-md-3 text-end roboto-mono">
                        <label>{{getDecimal(balances.manualCashRecount)}} €</label>
                    </div>
                </div>
                <div class="d-flex px-2 pb-2">
                    <div class="col-7 col-md-9">
                        <label >Total devoluciones:</label>
                    </div>
                    <div class="col-5 col-md-3 text-end roboto-mono">
                        <label>{{getDecimal(balances.refunds)}} €</label>
                    </div>
                </div>
                <div class="d-flex px-2 pb-2">
                    <div class="col-7 col-md-9">
                        <label >Total ventas:</label>
                    </div>
                    <div class="col-5 col-md-3 text-end roboto-mono">
                        <label>{{getDecimal(balances.sales)}} €</label>
                    </div>
                </div>
                <div class="d-flex px-2 pb-4">
                    <div class="col-7 col-md-9">
                        <label >Nº total operaciones:</label>
                    </div>
                    <div class="col-5 col-md-3 text-end roboto-mono">
                        <label id="lblcash">{{balances.salesCount}}</label>
                    </div>
                </div>
                <div class="col mb-3">
                    <h6 class=" border-bottom">Resumen impuestos</h6>
                    <div class="">
                        <div class="table-responsive">
                            <table class="table table-borderless table-sm">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th class="text-end">Base</th>
                                        <th class="text-end">Cuota</th>
                                        <th class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <!-- <tr *ngFor=" let item of balances?.impuestos">
                                        <td >{{item.itemName}}</td>
                                        <td class="text-end text-nowrap">{{getDecimal(item.base)}}€</td>
                                        <td class="text-end text-nowrap">{{getDecimal(item.tax)}}€  </td>
                                        <td class="text-end text-nowrap">{{getDecimal(item.total)}}€ </td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <h6 class=" border-bottom">Resumen por métodos de pago</h6>
                    <div class="">
                        <div class="table-responsive">
                            <table class="table table-borderless table-sm">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr *ngFor=" let item of balances?.impuestos2">
                                        <td>{{item.itemName}}</td>
                                        <td class="text-end text-nowrap">{{getDecimal(item.total)}}€</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <h6 class=" border-bottom">Resumen marcas de tarjeta</h6>
                        <div class="table-responsive">
                         <!--<table class="table table-borderless table-sm" *ngFor=" let item of balances?.impuestos3">
                                <thead>
                                    <tr *ngIf="item.itemName=='VISA';else noVisa" >
                                        <th  >Marca de tarjeta</th>
                                        <th class="text-end">Total</th>
                                    </tr>
                                    <ng-template #noVisa><tr><th >No se han efectuado pagos con tarjeta</th></tr> </ng-template>
                                </thead>
                                <tbody>
                                     <tr>
                                        <td>{{item.itemName}}</td>
                                        <td  class="text-end text-nowrap">{{getDecimal(item.total)}}€</td>
                                    </tr>
                                </tbody>
                            </table>-->
                        </div>
                </div>
                <div class="col mb-3">
                    <h6 class=" border-bottom">Resumen otros (sin identificar)</h6>
                    <div class="">
                        <div class="table-responsive">
                            <table class="table table-borderless table-sm">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th class="text-end">Base</th>
                                        <th class="text-end">Cuota</th>
                                        <th class="text-end">Total</th>
                                    </tr>
                                </thead>
                             <!--    <tbody>
                                    <tr *ngFor=" let item of balances?.impuestos3">
                                        <td>{{  item.itemName  }}</td>
                                        <td class="text-end text-nowrap">{{getDecimal(item.base)}}€</td>
                                        <td class="text-end text-nowrap">{{getDecimal(item.tax)}}€ </td>
                                        <td class="text-end text-nowrap">{{getDecimal(item.total)}}€ </td>
                                    </tr>
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


