<div class="container mt-4 col-md-12 offset-md-1">
  <h5><b>{{'dpos.footer.msg.cookies' | translate}}</b></h5>
  <b>&nbsp;</b>
  <h6>USE OF COOKIES IN DPOS Portal Cliente</h6>
  <p>A new law on cookies demands that you, as a website user, are given the opportunity to understand how cookies are
    used on our websites and consent to cookies being stored on your computer (laptop/mobile/tablet).</p>
  <b>&nbsp;</b>
  <h6>WHAT ARE COOKIES</h6>
  <p>A cookie is a small text file, typically of letters and numbers, downloaded to your computer when you access
    websites. Typically, they contain the following information: a site name and unique user ID, the duration of the
    cookie's abilities and effects, and a random number. As a rule, cookies cannot be used to reveal your identity or
    personally identifying information.</p>
  <p>When you visit a website that uses cookies for the first time, a cookie is downloaded onto your computer. The next
    time you visit that website, your computer checks to see if it has a cookie that is relevant and sends the
    information contained in that cookie back to the website. The website then notes that you have been there before,
    and in some cases, tailors what pops up on screen to take account of that fact. They also might record how long you
    spend on each page on a site, what links you click, even your preferences for page layouts and colour schemes.</p>
  <p>Generally, the role of cookies is beneficial, making your interaction with frequently-visited sites smoother with
    no extra effort on your part. Without cookies, online shopping would be much harder. Without cookies, some websites
    will become less interactive with the cookie option turned off.</p>
  <b>&nbsp;</b>
  <h6>MOST COMMON COOKIES</h6>
  <p><b>Session cookies</b></p>
  <p>These cookies expire when you close your web browser (Internet Explorer, Firefox, Safari, Google Chrome). These
    cookies are used for various reasons, for example, remembering what you have put in your shopping basket as you
    browse a website. They can also be used for security to access your Internet banking or email.</p>
  <p><b>Persistent cookies</b></p>
  <p>These cookies are still stored on your computer after you have closed your web browser which allows your
    preferences on websites to be remembered. These cookies are used for a variety of purposes, for example, remembering
    your preferences on a website (your language choice or your user name on a particular website).</p>
  <p><b>First and Third Party cookies</b></p>
  <p>This refers to the website placing the cookie. First party cookies are cookies set by the website you are visiting.
    Third party cookies are set by another website; the website you are visiting may have advertising on the page and
    this other website will be able to set a cookie on your computer. Third party cookies on the main web browsers allow
    third party cookies by default. Changing the settings on your browsers can prevent this.</p>
  <p><b>Exceptions</b></p>
  <p>There are some exemptions to the above where it is essential for a website to store information on your computer,
    for example, to provide a service to you that you have requested.</p>
  <b>&nbsp;</b>
  <h6>USE OF OUR COOKIES</h6>
  <ul>
    <li>We use cookies to improve your experience on our websites and for functionality purposes, for example, if you
      choose to buy any of our products and services, you must consent to us placing a cookie on your computer;</li>
    <li>We also use cookies to understand your usage of our website;</li>
    <li>We have partners who have referred clients and in using cookies, we track referred sales so we can compensate
      our partners accordingly; and</li>
    <li>We also use cookies for remarketing purposes, for example, once you have been on the DPOS Portal Cliente website
      and then you visit another website which has Google adverts, you will see a DPOS Portal Cliente advert to remind
      you of our products and services.</li>
  </ul>
</div>