<footer class="container-fluid text-center bg-footer py-3 mt-5">
  <p class="text_footer">{{'dpos.footer.msg.copyright' | translate}}</p>
  <ul class="d-flex justify-content-center">
    <li class="list-group-item"><a [routerLink]="['/privacy-policy']">{{'dpos.footer.msg.privacy' | translate}}</a></li>
    <span class="mx-2">|</span>
    <li class="list-group-item"><a [routerLink]="['/cookies-policy']" >{{'dpos.footer.msg.cookies' | translate}}</a></li>
    <span class="mx-2">|</span>
    <li class="list-group-item"><a [routerLink]="['/use-conditions']" >{{'dpos.footer.msg.uses' | translate}}</a></li>
  </ul>
</footer>


