<footer class="container-fluid text-center bg-footer py-3 mt-5">
  <p class="text_footer mb-2">
    {{ 'dpos.footer.msg.copyright' | translate }}
  </p>
  <ul class="d-flex flex-wrap justify-content-center align-items-center list-unstyled mb-0">
    <li class="list-group-item px-2 text-nowrap">
      <a [routerLink]="['/privacy-policy']">
        {{ 'dpos.footer.msg.privacy' | translate }}
      </a>
    </li>
    <span class="d-none d-sm-inline mx-1">|</span>
    <li class="list-group-item px-2 text-nowrap">
      <a [routerLink]="['/cookies-policy']">
        {{ 'dpos.footer.msg.cookies' | translate }}
      </a>
    </li>
    <span class="d-none d-sm-inline mx-1">|</span>
    <li class="list-group-item px-2 text-nowrap">
      <a [routerLink]="['/use-conditions']">
        {{ 'dpos.footer.msg.uses' | translate }}
      </a>
    </li>
  </ul>
</footer>