form.row .form-control,
form.row .form-select {
  min-width: 0; /* evita overflow en flex */
}

.btn-round img {
  height: 1em; /* para que el icono no desborde */
}

.btn i {
  margin-bottom: 2px; /* ajustar hasta que quede alineado con el texto */
}

/* Alinea el ícono al fondo */
.icon-bottom {
  align-self: flex-end;
}

/* El span se mantiene centrado verticalmente */
.text-center {
  display: flex;
  align-items: center;
}

.button{
    margin-bottom: 0;
}

.kpi-card {

}


.kpi-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 140px; 
  padding: 1rem;
}

.kpi-title {
  margin-bottom: auto; /* empuja el resto hacia abajo */
  text-align: center;
}

.kpi-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente */
  align-items: center;
  gap: 0.25rem;
}



.ngx-charts-outer {
  width: 100% !important; /* fuerza a que ocupe todo el contenedor */
  height: 100% !important; /* fuerza a que ocupe todo el contenedor */
} 

.inner-chart {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

/* Móvil */
@media (max-width: 576px) {
  .inner-chart {
    max-width: 100%;
    padding: 0.5rem;
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 991px) {
  .inner-chart {
    max-width: 700px;
  }
}

/* Escritorio */
@media (min-width: 992px) {
  .inner-chart {
    max-width: 900px;
  }
}


::ng-deep .ngx-charts-outer {
  width: 100% !important;
  height: 100% !important;
}




.inner-chart ngx-charts-outer {
  display: block;
  margin: 0 auto; /* centra el gráfico */
}

