<!-- <app-login class="container-fluid header-main" *ngIf="isLoggedIn == false"> </app-login> -->
<br />
<div class="container-fluid header-main">
  <div>
    <form class="d-flex flex-wrap mx-1">
      <div class="me-3">
        <label class="form-label">Terminal</label>
        <select
          class="form-select"
          name="terminal"
          [(ngModel)]="terminalVarSearch"
          (change)="searchTerminal()"
          (change)="createSalesGraphic($event)"
          id="searchTer"
        >
          <option selected>Todos</option>
          <option>1</option>
          <option>2</option>
        </select>
      </div>
      <div class="mx-3">
        <label class="form-label">Año</label>
        <input
          type="number"
          min="1900"
          [max]="year"
          step="1"
          [value]="year"
          class="form-select"
          id="yearDate"
          (change)="searchTerminal()"
          (change)="createSalesGraphic($event)"
        />
      </div>
      <div class="mx-3">
        <label class="form-label">Mes</label>
        <select
          class="form-select"
          name="terminal"
          class="form-select"
          class="form-select"
          id="monthDate"
          (change)="searchTerminal()"
        >
          <option selected>Todos</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </div>
      <div id="searchButtonsDiv" class="ms-5 d-flex overflow-auto">
        <button type="reset" class="btn btn-danger align-self-end">
          <a type="button"><i class="fas fa-eraser"></i> </a>
        </button>
      </div>
    </form>
  </div>
  <ng-template #noresults><p>€0.00</p></ng-template>
  <ng-template #singular><ng-container>operación</ng-container></ng-template>
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-3"><b>KPIs</b></h6>
          <div class="row">
            <div
              id="salesBorder"
              class="col d-flex align-items-center flex-column focus ms-3 mx-1"
              (click)="showSales($event)"
              (click)="createSalesGraphic($event)"
            >
              <p class="mt-2" id="salesp">VENTAS</p>
              <div
                *ngIf="aggregations!== undefined && aggregations.length > 0; else noresults"
                id="salesdiv"
              >
                {{
                  aggregations[0].total / Math.pow(10, aggregations[0].decimals)
                    | currency : "Eur" : "€"
                }}
              </div>
              <div *ngIf="aggregations!== undefined && aggregations.length > 0" id="salesdiv1">
                <small id="salessmall"
                  >{{ aggregations[0].count }}
                  <ng-container
                    id="salesngcontainer"
                    *ngIf="aggregations[0].count > 1; else singular"
                    >operaciones</ng-container
                  ></small
                >
              </div>
            </div>
            <div
              id="averageTicketBorder"
              class="col d-flex align-items-center focus flex-column mx-1"
              (click)="showSales($event)"
              (click)="createSalesGraphic($event)"
            >
              <p id="averageTicketP" class="mt-2">T. MEDIO</p>
              <p
                id="averageTicketP2"
                *ngIf="aggregations!== undefined && aggregations.length; else noresults"
              >
                {{
                  aggregations[0].avg / Math.pow(10, aggregations[0].decimals)
                    | currency : "Eur" : "€"
                }}
              </p>
            </div>
            <div
              id="refundsBorder"
              class="col d-flex align-items-center flex-column focus mx-1"
              (click)="showSales($event)"
              (click)="createSalesGraphic($event)"
            >
              <p id="refundsP" class="mt-2">DEVOLUCIONES</p>
              <div
                id="refundsDiv"
                *ngIf="aggregations!== undefined && aggregations.length && resultsVarArray[1] != 0; else noresults"
              >
                {{
                  resultsVarArray[1]
                    | currency : "Eur" : "€"
                }}
              </div>
              <div id="refundsDiv2" *ngIf="aggregations!== undefined && aggregations.length && resultsVarArray[4] != 0">
                <small id="refundsSmall"
                  >{{ resultsVarArray[4] }}
                  <ng-container
                    id="refundsNgcontainer"
                    *ngIf="resultsVarArray[4] > 1; else singular"
                    >operaciones</ng-container
                  >
                </small>
              </div>
            </div>
            <div
              id="casmovBorder"
              class="col d-flex align-items-center flex-column focus mx-1"
              (click)="showSales($event)"
              (click)="createSalesGraphic($event)"
            >
              <p id="casmovP" class="mt-2">MOV. CAJA</p>
              <div
                id="casmovDiv"
                *ngIf="aggregationsCM!== undefined && aggregationsCM.length; else noresults"
              >
                {{
                  aggregationsCM[0].total /
                    Math.pow(10, aggregationsCM[0].decimals) -
                    aggregationsCM[1].total /
                      Math.pow(10, aggregationsCM[1].decimals)
                    | currency : "Eur" : "€"
                }}
              </div>
              <div id="casmovDiv2" *ngIf="aggregationsCM!== undefined && aggregationsCM.length">
                <small id="casmovSmall"
                  >{{ aggregationsCM[0].count + aggregationsCM[1].count }}
                  <ng-container
                    *ngIf="
                      aggregationsCM[0].count + aggregationsCM[1].count > 1;
                      else singular
                    "
                    >operaciones</ng-container
                  >
                </small>
              </div>
            </div>
            <div
              id="balanceBorder"
              class="col d-flex align-items-center flex-column focus me-3 mx-1"
              (click)="showSales($event)"
              (click)="createSalesGraphic($event)"
            >
              <p id="balanceP" class="mt-2">RESULTADO</p>
              <p id="balanceP2" *ngIf="aggregations!== undefined && aggregations.length; else noresults">
                {{
                  resultsVarArray[0] - (resultsVarArray[1] + resultsVarArray[2])
                    | currency : "Eur" : "€"
                }}
              </p>
            </div>
          </div>
          <br />
          <div>
            <h6 class="mt-3">
              <b>Evolución KPI</b
              ><ng-container *ngIf="showSalesVar == true"
                ><b>&nbsp;> Ventas</b></ng-container
              >
              <ng-container *ngIf="showRefundsVar == true"
                ><b>&nbsp;> Devoluciones</b></ng-container
              >
              <ng-container *ngIf="showAverageTicketVar == true"
                ><b>&nbsp;> T. Medio</b></ng-container
              >
              <ng-container *ngIf="showCashMovVar == true"
                ><b>&nbsp;> Movimientos de caja</b></ng-container
              >
              <ng-container *ngIf="showResultsVar == true"
                ><b>&nbsp;> Resultados</b></ng-container
              >
            </h6>
            <div
              *ngIf="loadedGraphics == false"
              class="d-flex justify-content-center"
              style="position: absolute; left: 50%"
            >
              <div class="spinner-border text-danger"></div>
            </div>
            <ng-template #nochart
              ><b
                ><i>Haga click en uno de los KPIs para mostrar datos</i></b
              ></ng-template
            >
            <br>
            <ngx-charts-bar-vertical
              [view]="[800, 425]"
              [results]="dataset"
              [xAxisLabel]="'x-axis'"
              [legendTitle]="'legend'"
              [yAxisLabel]="'y-axis'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              *ngIf="loaded == true; else nochart"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <div class="">
            <h6><b>TOP 3 más vendidos</b></h6>
            <ng-container *ngIf="aggregationsTop3!== undefined && aggregationsTop3.length; else nochart1">
              <ngx-charts-bar-horizontal
                [view]="[600, 250]"
                [results]="datasetTop3"
                [animations]="true"
                [showDataLabel] = "true"
                [xAxis]="false"
                [yAxis]="true"
                [legend]="false"
                [roundEdges] = "true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [trimYAxisTicks] = "false"
                [barPadding] = "40"
                [tooltipDisabled] = "true"
                [dataLabelFormatting] = "formatDataLabel"
                [noBarWhenZero] = "true"

                *ngIf="loadedTP == true; else spinner"
              >
              </ngx-charts-bar-horizontal></ng-container>
          </div>
        </div>
      </div>
      <ng-template
        class="d-flex justify-content-center"
        style="position: absolute; left: 50%"
        #spinner
      >
        <div class="spinner-border text-danger"></div>
      </ng-template>
      <ng-template #nochart1
              ><br>
              <b
                ><i>No hay datos que mostrar</i></b
              ></ng-template
            >
      <div class="card">
        <div class="card-body">
          <div class="">
            <h6><b>Métodos de pago</b></h6>
            <ng-container *ngIf="aggregationsPM!== undefined && aggregationsPM.length; else nochart1">
            <ngx-charts-pie-chart
              [view]="[600, 250]"
              [results]="datasetPM"
              [doughnut]="true"
              [animations]="true"
              [labels]="true"
              [maxLabelLength] ="50"
              [tooltipDisabled] = "true"
              *ngIf="loadedPM == true; else spinner"
            >
            </ngx-charts-pie-chart></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
