<br />
<div class="container-fluid header-main">
  <div>
    <!-- Formulario de búsqueda -->
    <form class="d-flex flex-wrap mx-1">
      <div class="d-flex">
        <div class="me-3">
          <label class="form-label">{{'dpos.filter.terminal' | translate}}</label>
          <select class="form-select" name="terminal" [(ngModel)]="terminalVarSearch" id="searchTer">
            <option selected>{{'dpos.filter.all' | translate}}</option>
            <option>1</option>
            <option>2</option>
          </select>
        </div>
        <div class="mx-3">
          <label class="form-label">{{'dpos.filter.year' | translate}}</label>
          <input type="number" min="1900" [max]="year" step="1" [value]="year" class="form-select" id="yearDate" />
        </div>
        <div class="mx-3">
          <label class="form-label">{{'dpos.filter.month' | translate}}</label>
          <select class="form-select" name="terminal" class="form-select" class="form-select" id="monthDate">
            <option selected>{{'dpos.filter.all' | translate}}</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
        </div>
      </div>
      <div id="searchButtonsDiv" class="ms-5 d-flex overflow-auto">
        <button type="reset" class="btn btn-outline-danger align-self-end">
          <a type="button"><i class="fas fa-eraser"></i> </a>
        </button>
        <a type="button" class="btn btn-primary align-self-end" (click)="searchTerminal()">
          <i class="fas fa-search"></i>&nbsp;&nbsp;{{'dpos.action.search' | translate}}</a>
      </div>
    </form>
  </div>
  <ng-template #noresults>
    <p>€0.00</p>
  </ng-template>
  <ng-template #singular><ng-container>{{'dpos.dashboard.operation.label' | translate}}</ng-container></ng-template>
  <div class="row mt-4">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="mb-3">
            <i class="fa-solid fa-square-poll-vertical fa-flip-horizontal"
              style="color: #b197fc; margin-right: 10px"></i><b>KPIs</b>
          </h5>
          <div class="row">
            <!-- KPI  Ventas -->
            <div id="salesBorder" class="kpi col d-flex align-items-center flex-column focus ms-3 mx-2" (click)="fillCharKPIs($event)">
              <h6 class="mt-2">{{'dpos.dashboard.orders.label' | translate}}</h6>
              <div id="salesdiv" *ngIf="ordersResult.total != 0; else noresults" >
                {{ ordersResult.count| currency : "Eur" : "€" }}
              </div>
              <div id="salesdiv1" *ngIf="ordersResult.count != 0" >
                <small id="salessmall">{{ ordersResult.count }}
                  <ng-container id="salesngcontainer" *ngIf="ordersResult.count > 1; else singular">
                    {{'dpos.dashboard.operations.label' | translate}}
                  </ng-container>
                </small>
              </div>
            </div>
            <!-- KPI  Ticket Medio -->
            <div id="averageTicketBorder" class="kpi col d-flex align-items-center flex-column focus mx-2" (click)="fillCharKPIs($event)">
              <h6 class="mt-2">{{'dpos.dashboard.average.ticket.label' | translate}}</h6>
              <p id="averageTicketP2" *ngIf="loadedKPIChart; else noresults">
                {{ avTicketResult | currency : "Eur" : "€" }}
              </p>
            </div>
            <!-- KPI  Devoluciones -->
            <div id="refundsBorder" class="kpi col d-flex align-items-center flex-column focus mx-2" (click)="fillCharKPIs($event)">
              <h6 class="mt-2">{{'dpos.dashboard.refunds.label' | translate}}</h6>
              <div id="refundsDiv" *ngIf="refundsResult.total != 0; else noresults">
                {{ refundsResult.total | currency : "Eur" : "€" }}
              </div>
              <div id="refundsDiv2" *ngIf="refundsResult.count != 0">
                <small id="refundsSmall">{{ refundsResult.count }}
                  <ng-container id="refundsNgcontainer"*ngIf="refundsResult.count > 1; else singular">
                    {{'dpos.dashboard.operations.label' | translate}}
                  </ng-container>
                </small>
              </div>
            </div>
            <!-- KPI  Movimientos Caja -->
            <div id="casmovBorder" class="kpi col d-flex align-items-center flex-column focus mx-2" (click)="fillCharKPIs($event)">
              <h6 class="mt-2">{{'dpos.dashboard.cashmovement.label' | translate}}</h6>
              <div id="casmovDiv" *ngIf="loadedKPIChart; else noresults">
                {{ cashMovementsResult | currency : "Eur" : "€" }}
              </div>
              <div id="casmovDiv2" *ngIf="loadedKPIChart">
                <small id="casmovSmall">{{ cashMovementsOperationsResult }}
                  <ng-container *ngIf="cashMovementsOperationsResult > 1; else singular">
                      {{'dpos.dashboard.operations.label' | translate}}
                    </ng-container>
                </small>
              </div>
            </div>
            <!-- KPI  Resultado -->
            <div id="balanceBorder" class="kpi col d-flex align-items-center flex-column focus me-3 mx-2"
            (click)="fillCharKPIs($event)">
              <h6 class="mt-2">{{'dpos.dashboard.result.label' | translate}}</h6>
              <p id="balanceP2" *ngIf="aggregations !== undefined && aggregations.length; else noresults">
                {{ balanceResult | currency : "Eur" : "€" }}
              </p>
            </div>
          </div>
          <!-- Grafico Evolución KPI -->
          <div>
            <h6 class="mt-5">
              <b>{{'dpos.dashboard.evokpis.label' | translate}}</b>
              <ng-container *ngIf="showSalesVar == true || (showSalesVar == false && showRefundsVar == false &&
                    showAverageTicketVar == false && showCashMovVar == false && showResultsVar == false)
                "><b>&nbsp;> {{'dpos.dashboard.orders.txt' | translate}}</b></ng-container>
              <ng-container *ngIf="showRefundsVar == true"><b>&nbsp;> {{'dpos.dashboard.refunds.txt' | translate}}</b></ng-container>
              <ng-container *ngIf="showAverageTicketVar == true"><b>&nbsp;> {{'dpos.dashboard.average.ticket.txt' | translate}}</b></ng-container>
              <ng-container *ngIf="showCashMovVar == true"><b>&nbsp;> {{'dpos.dashboard.cashmovements.txt' | translate}}</b></ng-container>
              <ng-container *ngIf="showResultsVar == true"><b>&nbsp;> {{'dpos.dashboard.results.txt' | translate}}</b></ng-container>
            </h6>
            <ng-template class="d-flex justify-content-center" style="position: absolute; left: 50%" #spinner>
              <div class="spinner-border text-danger"></div>
            </ng-template>
            <ng-template class="d-flex justify-content-center" #nochart>
              <div class="spinner-border text-danger"></div>
            </ng-template>
            <ng-template #nochart1><br />
              <b><i>{{'dpos.dashboard.nodata.label' | translate}}</i></b></ng-template>
            <ng-container *ngIf="loadedKPIChart; else nochart1">
              <ngx-charts-bar-vertical [view]="[1000, 350]" [results]="kpiDataset" [xAxis]="true" [yAxis]="true"
                [showDataLabel]="true" [dataLabelFormatting]="formatCurrencyLabel" [customColors]="colorsKPI"
                [animations]="true" *ngIf="loadedKPIChart == true; else spinner">
              </ngx-charts-bar-vertical></ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <!-- Gráfico Top más vendidos -->
        <div class="card-body">
          <h5 class="mb-4">
            <i class="fa-solid fa-chart-line" style="color: #63e6be; margin-right: 10px"></i><b>{{'dpos.dashboard.topsells.label' | translate}}</b>
          </h5>
          <ng-container *ngIf="loadedTPChart; else nochart1">
            <ngx-charts-bar-horizontal class="chart-horizontal" [view]="[450, 200]" [results]="datasetTop3" [animations]="true"
              [showDataLabel]="true" [xAxis]="false" [yAxis]="true" [legend]="false" [roundEdges]="true"
              [showXAxisLabel]="true" [showYAxisLabel]="true" [trimYAxisTicks]="false" [barPadding]="20"
              [tooltipDisabled]="true" [dataLabelFormatting]="formatPercentageLabel" [noBarWhenZero]="true" [customColors]="colorsTop3"
              *ngIf="loadedTPChart == true; else spinner">
            </ngx-charts-bar-horizontal></ng-container>
        </div>
        <br>
      </div>
      <div class="card">
        <!-- Gráfico Métodos de pago -->
        <div class="card-body">
          <h5 class="mb-4">
            <i class="fa-solid fa-credit-card" style="color: #74c0fc; margin-right: 10px"></i><b>{{'dpos.dashboard.paymentmethods.label' | translate}}</b>
          </h5>
            <ng-container *ngIf="loadedPMChart; else nochart1">
              <ngx-charts-pie-chart [view]="[500, 250]" [results]="datasetPM" [doughnut]="true" [animations]="true"
                [labels]="false" [maxLabelLength]="50" rcWidth [tooltipDisabled]="true" [arcWidth]="0.5" [legend]="true"
                [customColors]="colorsPM" [legendTitle]="''" *ngIf="loadedPMChart == true; else spinner">
              </ngx-charts-pie-chart></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>