<div class="modal" *ngIf="showModal">
  <div class="modal-info-content">
    <div class="modal-header">
      <h2>{{ modalTitle }}</h2>
      <button class="modal-close-button" (click)="close()">×</button>
    </div>

    <div class="modal-body">
      <div class="container my-3">
        <div class="row mb-3">
          <div class="col-md-12">
            <p>{{ modalMessage }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer text-end" *ngIf="showAcceptButton || showCancelButton">
      <button *ngIf="showCancelButton" class="btn btn-secondary me-2" (click)="onCancel()">Cancelar</button>
      <button *ngIf="showAcceptButton" class="btn btn-primary" (click)="onAccept()">Aceptar</button>
    </div>
  </div>
</div>