<br />
<div class="container-fluid header-main">
  <!-- Formulario para búsqueda de ventas -->
  <form class="row g-3 px-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label for="searchTer" class="form-label">{{ 'dpos.filter.terminal' | translate }}</label>
      <select class="form-select" id="searchTer" name="terminal" [(ngModel)]="terminalSelected">
        <option *ngFor="let terminal of terminalsNumber" [value]="terminal">{{ terminal }}</option>
      </select>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label for="sinceDate" class="form-label">{{ 'dpos.filter.date.from' | translate }}</label>
      <input type="date" class="form-control" id="sinceDate" [value]="sinceDate" (change)="onSinceDateChange()" />
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label for="tilDate" class="form-label">{{ 'dpos.filter.date.to' | translate }}</label>
      <input type="date" class="form-control" id="tilDate" [value]="tilDate" (change)="onTilDateChange()" />
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="operation">{{ 'dpos.filter.operationtype' | translate }}</label>
      <select class="form-select" name="operation" id="operation" [(ngModel)]="typeVarSearch">
        <option>{{ 'dpos.filter.all' | translate }}</option>
        <option *ngFor="let type of opTypes">{{ type.name }}</option>
      </select>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <label class="form-label" for="documentN">{{ 'dpos.filter.docnumber' | translate }}</label>
      <input type="text" class="form-control" name="documentN" id="documentN" [(ngModel)]="documentVarSearch">
    </div>
    <!-- Botones para resetear filtros y buscar -->
    <div
      class="col-12 col-md-4 col-lg-2 d-flex flex-wrap gap-2 align-items-end justify-content-md-start justify-content-end">
      <button type="button" class="btn btn-primary" (click)="searchoperations()">
        <i class="fas fa-search"></i>&nbsp;{{ 'dpos.action.search' | translate }}
      </button>
      <button type="button" (click)="resetReports()" class="btn btn-outline-info btn-round">
        <img src="assets/img/ic-clean-filters.svg" alt="Icono limpiar filtros">
      </button>
    </div>
  </form>
  <!-- Mensaje de validación si algún filtro no es válido -->
  <div *ngIf="validationVariable === true" class="d-flex justify-content-center mt-2">
    <div class="text-danger text-center"><b>{{ 'dpos.filter.novalid' | translate }}</b></div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <!-- Modal para mensajes -->
      <app-modal [showModal]="showModal" [modalTitle]="modalTitle" [modalMessage]="modalMessage"
        (closeModal)="closeModal()"></app-modal>
      <!-- Encabezado y botones para crear, importar y descargar productos -->
      <div class="row mb-4 align-items-center">
        <!-- Título y botón de descarga solo en móviles -->
        <div class="col-12 d-flex justify-content-between align-items-center d-md-none">
          <h5 class="mb-0">
            <b>{{ 'dpos.operations.operations.label' | translate }}</b>
          </h5>
          <button class="btn btn-primary btn-round ms-2" (click)="downloadCSV()">
            <img *ngIf="isComercia" src="assets/img/ic-download.svg" alt="Icono descargar datos">
            <i *ngIf="!isComercia" class="fa-solid fa-download fa-xl"></i>
          </button>
        </div>
        <!-- Título en pantallas grandes -->
        <div class="col-12 col-md-6 d-none d-md-block">
          <h5 class="mb-0">
            <b>{{ 'dpos.operations.operations.label' | translate }}</b>
          </h5>
        </div>
        <!-- Botones en pantallas grandes (incluye downloadCSV) -->
        <div class="col-12 col-md-6 text-center mt-3 mt-md-0 d-flex flex-wrap gap-2 justify-content-end">
          <div class="infooperations d-flex justify-content-center align-items-center">
            <label class="me-2 mb-0" for="operations">
              {{ 'dpos.operations.operations.number.label' | translate }}:&nbsp;&nbsp;&nbsp;<b>{{ operationN }}</b>
            </label>
          </div>
          <div class="infooperations d-flex justify-content-center align-items-center">
            <label class="me-2 mb-0" for="totaloperationsString">
              {{ 'dpos.operations.operations.total.label' | translate }}:&nbsp;&nbsp;&nbsp;<b>{{ totaloperationsString
                }}</b>
            </label>
          </div>
          <button class="btn btn-primary btn-round d-none d-md-inline-flex" (click)="downloadCSV()">
            <img *ngIf="isComercia" src="assets/img/ic-download.svg" alt="Icono descargar datos">
            <i *ngIf="!isComercia" class="fa-solid fa-download fa-xl"></i>
          </button>
        </div>

      </div>








      <!-- Spinner mientras se cargan los datos -->
      <div *ngIf="!loadCompleted && !emptySearch" class="d-flex justify-content-center">
        <div class="spinner-border text-danger"></div>
      </div>
      <!-- Mensaje cuando no hay datos para mostrar -->
      <div *ngIf="loadCompleted && emptySearch" class="d-flex justify-content-center">
        <b><i>{{ 'dpos.dashboard.nodata.label' | translate }}</i></b>
      </div>
      <!-- Tabla con resultados de ventas -->
      <div *ngIf="loadCompleted && !emptySearch" class="table-responsive">
        <table class="table table-hover table-borderless">
          <thead class="text-customer">
            <tr>
              <th (click)="sortBy('reference')" class="text-center sortable">
                {{ 'dpos.operations.operation.document.label' | translate }}
                <i class="fa"
                  [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"></i>
              </th>
              <th (click)="sortBy('type')" class="text-center sortable">{{ 'dpos.operations.operation.type.label' |
                translate }}
                <i class="fa"
                  [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"></i>
              </th>
              <th (click)="sortBy('createdAt')" class="text-center sortable">{{ 'dpos.operations.operation.data.label' |
                translate }}
                <i  class="fa"
                  [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"></i>
              </th>
              <th (click)="sortBy('terminalNumber')" class="text-center sortable">{{
                'dpos.operations.operation.terminal.label' | translate }}
                <i  class="fa"
                  [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"></i>
              </th>
              <th (click)="sortBy('orderVerifactu.status')" class="text-center sortable">{{
                'dpos.operations.operation.tbai.label' | translate }}
                <i  class="fa"
                  [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"></i>
              </th>
              <th (click)="sortBy('total')" class="text-end sortable">{{ 'dpos.operations.operation.subtotal.label' |
                translate }}
                <i  class="fa"
                  [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"></i>
              </th>
              <th (click)="sortBy('totalDiscount')" class="text-end sortable">{{
                'dpos.operations.operation.discount.label' | translate }}
                <i  class="fa"
                  [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"></i>
              </th>
              <th (click)="sortBy('totalBase')" class="text-end sortable">{{ 'dpos.operations.operation.base.label' |
                translate }}
                <i class="fa"
                  [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"></i>
              </th>
              <th (click)="sortBy('totalTaxes')" class="text-end sortable">{{ 'dpos.operations.operation.tax.label' |
                translate }}
                <i  class="fa"
                  [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"></i>
              </th>
              <th (click)="sortBy('total')" class="text-end sortable">{{ 'dpos.operations.operation.total.label' |
                translate }}
                <i  class="fa"
                  [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- Mostrar filas con ventas si hay datos -->
            <ng-container *ngIf="loadCompleted && operations?.data?.length > 0; else emptyTemplate">
              <tr *ngFor="let sale of operations.data | paginate : { itemsPerPage, currentPage: page }; index as i"
                (click)="sendoperationsDetails(sale.orderId)">
                <td class="align-middle"><span class="table-title">{{ sale.reference }}</span></td>
                <!-- Badge para tipo de operación: venta, devolución o rectificación -->
                <td class="text-center align-middle">
                  <div class="badge rounded-pill"
                    [ngClass]="{ 'bg-sale': sale.type === 0, 'bg-refund': sale.type === 2, 'bg-edits': sale.type === 5 }">
                    {{ sale.type === 0 ? ('dpos.operations.operation.order.label' | translate) : sale.type === 2 ?
                    ('dpos.operations.operation.refund.label' | translate) :
                    ('dpos.operations.operation.rectification.label' | translate) }}
                  </div>
                </td>
                <td class="align-middle">{{ sale.createdAt | date: "dd/MM/yyyy HH:mm" }}</td>
                <td class="text-center align-middle">{{ sale.terminalNumber }}</td>
                <!-- Estado de TBAI, distintos badges según estado -->
                <td class="text-center align-middle"
                  *ngIf="sale.orderTicketBai === null && sale.orderVerifactu === null">
                  <div class="badge rounded-pill bg-pending">
                    <i>{{ 'dpos.operations.operation.verifactu.tbai.no.label' | translate }}</i>
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderTicketBai !== null && operationsTicketBai[i] !== 0 && operationsTicketBai[i] !== 1 && operationsTicketBai[i] !== 2">
                  <div class="badge rounded-pill bg-pending">
                    <i>{{ 'dpos.operations.operation.tbai.no.label' | translate }}</i>
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderTicketBai !== null && operationsTicketBai[i] === 0">
                  <div class="badge rounded-pill bg-accept">
                    <i class="fa-solid fa-qrcode"></i> {{ 'dpos.operations.operation.tbai.status.accepted.label' |
                    translate }}
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderTicketBai !== null && operationsTicketBai[i] === 1">
                  <div class="badge rounded-pill bg-warning">
                    <i class="fa-solid fa-qrcode"></i> {{ 'dpos.operations.operation.tbai.status.warnings.label' |
                    translate }}
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderTicketBai !== null && operationsTicketBai[i] === 2">
                  <div class="badge rounded-pill bg-rejected">
                    <i class="fa-solid fa-qrcode"></i> {{ 'dpos.operations.operation.tbai.status.rejected.label' |
                    translate }}
                  </div>
                </td>
                <!-- Estado Verifactu con badges según estado -->
                <td class="text-center align-middle"
                  *ngIf="sale.orderVerifactu !== null && sale.orderVerifactu.status !== verifactuStatus.Pending && sale.orderVerifactu.status !== verifactuStatus.Processing && sale.orderVerifactu.status !== verifactuStatus.Accepted && sale.orderVerifactu.status !== verifactuStatus.Completed && sale.orderVerifactu.status !== verifactuStatus.Failed && sale.orderVerifactu.status !== verifactuStatus.PartiallyAccepted && sale.orderVerifactu.status !== verifactuStatus.Rejected">
                  <div class="badge rounded-pill bg-pending">
                    <i>{{ 'dpos.operations.operation.verifactu.no.label' | translate }}</i>
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderVerifactu !== null && sale.orderVerifactu.status === verifactuStatus.Pending">
                  <div class="badge rounded-pill bg-pending">
                    <i class="fa-solid fa-qrcode"></i> {{ 'dpos.operations.operation.verifactu.status.pending.label' |
                    translate }}
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderVerifactu !== null && sale.orderVerifactu.status === verifactuStatus.Processing">
                  <div class="badge rounded-pill bg-pending">
                    <i class="fa-solid fa-qrcode"></i> {{ 'dpos.operations.operation.verifactu.status.processing.label'
                    | translate }}
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderVerifactu !== null && sale.orderVerifactu.status === verifactuStatus.Accepted">
                  <div class="badge rounded-pill bg-accept">
                    <i class="fa-solid fa-qrcode"></i> {{ 'dpos.operations.operation.verifactu.status.accepted.label' |
                    translate }}
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderVerifactu !== null && sale.orderVerifactu.status === verifactuStatus.Completed">
                  <div class="badge rounded-pill bg-accept">
                    <i class="fa-solid fa-qrcode"></i> {{ 'dpos.operations.operation.verifactu.status.completed.label' |
                    translate }}
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderVerifactu !== null && sale.orderVerifactu.status === verifactuStatus.Failed">
                  <div class="badge rounded-pill bg-pending">
                    <i class="fa-solid fa-qrcode"></i> {{ 'dpos.operations.operation.verifactu.status.failed.label' |
                    translate }}
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderVerifactu !== null && sale.orderVerifactu.status === verifactuStatus.PartiallyAccepted">
                  <div class="badge rounded-pill bg-warning">
                    <i class="fa-solid fa-qrcode"></i> {{
                    'dpos.operations.operation.verifactu.status.partially.accepted.label' | translate }}
                  </div>
                </td>
                <td class="text-center align-middle"
                  *ngIf="sale.orderVerifactu !== null && sale.orderVerifactu.status === verifactuStatus.Rejected">
                  <div class="badge rounded-pill bg-rejected">
                    <i class="fa-solid fa-qrcode"></i> {{'dpos.operations.operation.verifactu.status.rejected.label' |
                    translate}}
                  </div>
                </td>
                <td class="text-end align-middle">{{ sale.subTotal / (Math.pow(10, sale.decimals)) | currency : "Eur" :
                  "€" }}</td>
                <td class="text-end align-middle">{{ sale.totalDiscount / (Math.pow(10, sale.decimals)) | currency :
                  "Eur" : "€" }}</td>
                <td class="text-end align-middle">{{ getTotalBase(sale.orderTaxes) | currency : "Eur" : "€" }}</td>
                <td class="text-end align-middle">{{ getTotalTaxes(sale.orderTaxes) | currency : "Eur" : "€" }}</td>
                <td class="text-end align-middle">{{ sale.total / (Math.pow(10, sale.decimals)) | currency : "Eur" : "€"
                  }}</td>
              </tr>
            </ng-container>
            <!-- Template cuando no hay datos para mostrar -->
            <ng-template #emptyTemplate>
              <tr>
                <td colspan="11" class="text-center py-3">
                  <b>{{ 'dpos.operations.operation.nodata.label' | translate }}</b>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
        <!-- Paginación -->
        <select [(ngModel)]="itemsPerPage" class="form-select w-auto mb-2">
          <option [value]="10">10</option>
          <option [value]="25">25</option>
          <option [value]="50">50</option>
        </select>
        <div class="text-start mt-3" ngif="operations.data.length > itemsPerPage">
          <pagination-controls (pageChange)="page = $event" previousLabel="{{ 'dpos.pagination.previous' | translate }}"
            nextLabel="{{ 'dpos.pagination.next' | translate }}"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>