<br />
<div class="container-fluid header-main" >
  <div>
    <form class="d-flex flex-wrap mx-1">
      <div class="me-3">
        <label class="form-label">{{'dpos.filter.terminal' | translate}}</label>
        <select class="form-select" id="searchTer" name="terminal" [(ngModel)]="terminalSelected" >
          <option *ngFor="let terminal of terminalsNumber" [value]="terminal">{{ terminal }}</option>
        </select>
      </div>
      <div class="mx-3">
        <label class="form-label">{{'dpos.filter.date.from' | translate}}</label>
        <input type="date" class="form-control" id="sinceDate" />
      </div>
      <div class="mx-3">
        <label class="form-label">{{'dpos.filter.date.to' | translate}}</label>
        <input type="date" class="form-control" id="tilDate" />
      </div>
      <div id="searchButtonsDiv" class="ms-5 d-flex overflow-auto">
        <button type="reset" class="btn btn-outline-danger align-self-end"> 
          <a type="button"><i class="fas fa-eraser"></i></a>
        </button>
        <a type="button" class="btn btn-primary align-self-end" (click)="searchSales()">
          <i class="fas fa-search"></i>&nbsp;&nbsp;{{'dpos.action.search' | translate}}
        </a>
      </div>
    </form>
  </div>
  <br />
  <div *ngIf="loadCompleted==false" class="ms-5 d-flex justify-content-center" style="position: absolute; left: 50%">
    <div class="spinner-border  text-danger"></div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row mb-4" >
        <div class="col">
          <h5><b>{{'dpos.balances.title.label' | translate}}</b></h5>
        </div>
        <div class="col-3 text-end">
          <button class="btn btn-outline-info justify-content-center">
            <i class="fa-solid fa-file-csv fa-xl" (click)="downloadCSV()"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-hover order-table" data-pagination="true" data-page-size="10">
              <thead class="text-customer">
                <tr>
                  <th class="text-center"><input class="form-check-input" type="checkbox" [checked]="isAllSelected" (change)="checkAll($event)" /></th>
                  <th class="text-start">{{'dpos.balances.document.label' | translate}}</th>
                  <th class="text-center">{{'dpos.balances.terminal.label' | translate}}</th>
                  <th class="text-start">{{'dpos.balances.datefrom.label' | translate}}</th>
                  <th class="text-start">{{'dpos.balances.dateto.label' | translate}}</th>
                  <th class="text-center">{{'dpos.balances.operations.label' | translate}}</th>
                  <th class="text-end">{{'dpos.balances.mismatch.label' | translate}}</th>
                  <th class="text-end">{{'dpos.balances.total.label' | translate}}</th>
                  <th></th>
                </tr>
              </thead>
              <ng-template #empty>
                <td colspan="5">
                  <b>{{'dpos.balances.noresults.label' | translate}}</b>
                </td>
              </ng-template>
              <tbody>
                <ng-container *ngIf="loadCompleted; else empty">
                  <tr *ngFor=" let balance of balances | paginate : { itemsPerPage: 10, currentPage: page }; index as i">
                    <td class="text-center align-middle">
                      <input class="form-check-input" type="checkbox" [checked]="isAllSelected" />
                    </td>
                    <td class="text-start align-middle" id="massivetransfer">
                      <span style="font-weight: 500;color:grey;">{{ balance.reference }}</span>
                    </td>
                    <td class="text-center align-middle">
                      {{ balance.terminalNumber }}
                    </td>
                    <td class="text-start align-middle">
                      {{ balance.startedAt | date : "dd/MM/yyyy hh:mm" }}
                    </td>
                    <td class="text-start align-middle">
                      {{ balance.finishedAt | date : "dd/MM/yyyy hh:mm" }}
                    </td>
                    <td class="text-center align-middle">
                      {{ balance.salesCount + balance.refundsCount + balance.rectifyCount}}
                    </td>
                    <td class="text-end align-middle">
                      {{ mismatch[i]| currency : "Eur" : "€"  }}
                    </td>
                    <td class="text-end align-middle">
                      {{ balance.total / Math.pow(10, balance.decimals) | currency : "EUR" : "€" }}
                    </td>
                    <td class="text-end">
                      <span id="detailsticket" class="align-middle" style="cursor: pointer;">
                        <a [routerLink]="code" (click)="sendSalesDetails(balance.balanceId)"><i class="fa-solid fa-arrow-right" style="color: #74c0fc;"></i></a>
                      </span>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="has-text-centered">
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>