<div class="container-fluid header-main mt-3">
  <div>
    <!-- Formulario de búsqueda -->
    <form class="d-flex flex-wrap mx-1">
      <div class="me-3">
        <label class="form-label">Terminal</label>
        <select class="form-select" name="terminal">
          <option>Todos</option>
          <option>Terminal 0000001</option>
        </select>
      </div>
      <div class="mx-3">
        <label class="form-label">Desde</label>
        <input type="date" class="form-select" id="sinceDate" />
      </div>
      <div class="mx-3">
        <label class="form-label">Hasta</label>
        <input type="date" class="form-select" id="tilDate" />
      </div>
      <div id="searchButtonsDiv" class="ms-5 d-flex overflow-auto">
        <a type="button" class="btn btn-danger align-self-end"><i class="fas fa-eraser"></i>
        </a>
        <a type="button" class="btn btn-primary align-self-end"><i class="fas fa-search"></i>&nbsp;&nbsp;Buscar</a>
      </div>
    </form>
  </div>
  <br />
  <!-- Tabla e indicadores -->
  <br />
  <div class="card">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col">
          <h5>Cierres de caja</h5>
        </div>
        <!-- Indicadores -->
        <div class="col-3 d-flex justify-content-end">
          <button class="btn btn-sm btn-secondary-customer">
            <i class="fa-solid fa-file-csv fa-xl" style="color: #65e285"></i>
          </button>
        </div>
      </div>
      <!-- Tabla -->
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-hover order-table" data-pagination="true" data-page-size="10">
              <thead class="text-customer">
                <tr>
                  <th class="text-center">
                    <input class="form-check-input" type="checkbox" />
                  </th>
                  <th class="text-center">Documento</th>
                  <th class="text-center">Terminal</th>
                  <th class="text-center">Desde</th>
                  <th class="text-center">Hasta</th>
                  <th class="text-center">Operaciones</th>
                  <th class="text-center">Descuadre efectivo(€)</th>
                  <th class="text-center">Base imponible</th>
                  <th class="text-center">Cuota de IVA</th>
                  <th class="text-center">Total</th>
                  <th></th>
                </tr>
              </thead>
              <ng-template #empty>
                <td colspan="5">
                  <b>No existen registros que mostrar</b>
                </td>
              </ng-template>
              <tbody>
                <ng-container>
                  <tr>
                    <td class="text-center align-middle">
                      <input class="form-check-input" type="checkbox" />
                    </td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td><a><i class="fa-solid fa-eye"></i></a></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="has-text-centered">
              <pagination-controls></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>