<div class="main">
    <section class="container-fluid">
        <button class="btn btn-danger"></button>
        <hr>
        <div class="alert alert-light shadow">
            <h4 class="border-bottom">Botones</h4>
            <div class="col">
                <a type="button" class="btn">Basic</a>
                <a type="button" class="btn btn-primary rounded-pill">Primary</a>
                <a type="button" class="btn btn-secondary rounded-pill">Secondary</a>
                <a type="button" class="btn btn-success rounded-pill">Success</a>
                <a type="button" class="btn btn-info rounded-pill">Info</a>
                <a type="button" class="btn btn-warning rounded-pill">Warning</a>
                <a type="button" class="btn btn-danger rounded-pill">Danger</a>
                <a type="button" class="btn btn-dark rounded-pill">Dark</a>
                <a type="button" class="btn btn-light rounded-pill">Light</a>
                <a type="button" class="btn btn-link rounded-pill">Link</a>
                <a type="button" class="btn btn-customer rounded-pill">customer</a>
            </div>
            <div class="col">
                <a type="button" class="btn" disabled>Basic</a>
                <a type="button" class="btn btn-primary rounded-pill" disabled>Primary</a>
                <a type="button" class="btn btn-secondary rounded-pill" disabled>Secondary</a>
                <a type="button" class="btn btn-success rounded-pill" disabled>Success</a>
                <a type="button" class="btn btn-info rounded-pill" disabled>Info</a>
                <a type="button" class="btn btn-warning rounded-pill" disabled>Warning</a>
                <a type="button" class="btn btn-danger rounded-pill" disabled>Danger</a>
                <a type="button" class="btn btn-dark rounded-pill" disabled>Dark</a>
                <a type="button" class="btn btn-light rounded-pill" disabled>Light</a>
                <a type="button" class="btn btn-link rounded-pill" disabled>Link</a>
                <a type="button" class="btn btn-customer rounded-pill" disabled>customer</a>
            </div>
            <div class="col">
                <a type="button" class="btn btn-outline-primary rounded-pill">Primary</a>
                <a type="button" class="btn btn-outline-secondary rounded-pill">Secondary</a>
                <a type="button" class="btn btn-outline-success rounded-pill">Success</a>
                <a type="button" class="btn btn-outline-info rounded-pill">Info</a>
                <a type="button" class="btn btn-outline-warning rounded-pill">Warning</a>
                <a type="button" class="btn btn-outline-danger rounded-pill">Danger</a>
                <a type="button" class="btn btn-outline-dark rounded-pill">Dark</a>
                <a type="button" class="btn btn-outline-light rounded-pill">Light</a>
            </div>
            <div class="col">
                <a type="button" class="btn btn-info rounded-circle"><i class='fas fa-eye fa-lg'></i></a>
                <a type="button" class="btn btn-info rounded-circle"><i class='fas fa-pen fa-lg'></i></a>
                <a type="button" class="btn btn-danger rounded-circle"><i class='fas fa-trash-alt fa-lg'></i></a>
                <a type="button" class="btn btn-info rounded-circle"><i class='fas fa-arrow-left fa-lg'></i></a>
                <a type="button" class="btn btn-info rounded-pill"><i class='fas fa-search'></i>&nbsp;&nbsp;Buscar</a>
                <a type="button" class="btn btn-danger rounded-pill"><i class='fas fa-eraser'></i>&nbsp;&nbsp;Limpiar</a>
                <a type="button" class="btn btn-info rounded-pill"><i class='fas fa-file-excel'></i>&nbsp;&nbsp;Descargar</a>
                <a type="button" class="btn btn-danger rounded-pill"><i class='fas fa-trash-alt'></i>&nbsp;&nbsp;Borrar</a>
            </div>
        </div>
        <div class="alert alert-light shadow">
            <h4 class="border-bottom">Etiquetas búsquedas</h4>
            <div class="col d-flex mb-3 py-2">
                <div class="me-2 badge bg-light border border-1 shadow-sm">
                    <label class="text-bold text-dark">Título</label>&nbsp;&nbsp;
                    <label class="text-bold text-success"><i>búsqueda por</i></label>&nbsp;&nbsp;
                    <label class="text-dark">dato introducido</label>&nbsp;&nbsp;
                    <i class='text-danger fas fa-trash-alt text-sm'></i>
                </div>
                <div class="me-2 badge bg-light border border-1 shadow-sm"><b>
                    <label class="text-bold text-dark">Referencia</label>&nbsp;&nbsp;
                    <label class="text-bold text-success"><i>contiene</i></label>&nbsp;&nbsp;</b>
                    <label class="text-dark">8</label>&nbsp;&nbsp;
                    <i class='text-danger fas fa-trash-alt text-sm'></i>
                </div>
                <div class="me-2 badge bg-light border border-1 shadow-sm"><b>
                    <label class="text-bold text-dark">Tipo</label>&nbsp;&nbsp;
                    <label class="text-bold text-success"><i>igual</i></label>&nbsp;&nbsp;</b>
                    <label class="text-dark">devolución</label>&nbsp;&nbsp;
                    <i class='text-danger fas fa-trash-alt text-sm'></i>
                </div>
            </div>
            <h4 class="border-bottom">Tablas</h4>
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check form-check-customer ms-1">
                                        <input class="form-check-input" type="checkbox" id="ch_all" value="0">
                                    </div>
                                </th>
                                <th>Referencia</th>
                                <th>Nº de terminal</th>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Métodos de pago</th>
                                <th>TicketBai</th>
                                <th class="text-right">Total</th>
                                <th class="text-right">Total Impuestos</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <div class="form-check form-check-customer">
                                        <input class="form-check-input" type="checkbox" id="ch_1" value="1">
                                    </div>
                                </td>
                                <td>F/0000000001</td>
                                <td>20201029-001</td>
                                <td>Venta</td>
                                <td>06/11/2020 11:06:44</td>
                                <td>Efectivo</td>
                                <td></td>
                                <td class="text-right text-nowrap">30,00 €</td>
                                <td class="text-right text-nowrap">6,00 €</td>
                                <td><a type="button" class="btn btn-info rounded-circle"><i class='fas fa-eye fa-lg'></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-customer">
                                        <input class="form-check-input" type="checkbox" id="ch_2" value="2">
                                    </div>
                                </td>
                                <td>F/0000000008</td>
                                <td>20201029-001</td>
                                <td>Venta</td>
                                <td>11/11/2020 16:44:42</td>
                                <td>Tarjeta</td>
                                <td></td>
                                <td class="text-right text-nowrap">0,01 €</td>
                                <td class="text-right text-nowrap">0,00 €</td>
                                <td><a type="button" class="btn btn-info rounded-circle"><i class='fas fa-eye fa-lg'></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <div class="form-check form-check-customer">
                                        <input class="form-check-input" type="checkbox" id="ch_2" value="2">
                                    </div>
                                </td>
                                <td>F/0000000003</td>
                                <td>20201029-002</td>
                                <td>Venta</td>
                                <td>26/11/2020 16:15:01</td>
                                <td>Efectivo</td>
                                <td></td>
                                <td class="text-right text-nowrap">3,00 €</td>
                                <td class="text-right text-nowrap">0,52 €</td>
                                <td><a type="button" class="btn btn-info rounded-circle"><i class='fas fa-eye fa-lg'></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="alert alert-light shadow">
            <h4 class="border-bottom">Botones</h4>
            <div class="col">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 mt-3">
                                <label class="form-label">Nombre</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                                <input type="text" class="form-control" id="name" placeholder="Introducir Nombre" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Categorias</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                                <input type="text" class="form-control" id="type" placeholder="Introducir Categorias" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Código de barras</label>
                                <input type="text" class="form-control" id="code" placeholder="Introducir Código de barras">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Referencia</label>
                                <input type="text" class="form-control" id="ref" placeholder="Introducir Código de barras">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Descripción</label>
                                <textarea rows="4" class="form-control" id="description" placeholder="Introducir Descripción"></textarea>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Clave de régimen</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="rad_regime1" name="regimeop" value="1">Operación de régimen general
                                    <label class="form-check-label" for="rad_regime1"></label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="rad_regime2" name="regimeop" value="2">Operaciones en recargo de equivalencia
                                    <label class="form-check-label" for="rad_regime2"></label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="rad_regime3" name="regimeop" value="3">Operaciones en régimen agrario
                                    <label class="form-check-label" for="rad_regime3"></label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Epígrafe</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                                <select class="form-select" id="epigraph" required>
                                    <option>&nbsp;</option>
                                    <option>Explotación extensiva de ganado bovino</option>
                                    <option>Apicultura</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mt-3">
                                <label class="form-label">Tipo de precio</label>
                                <select class="form-select" id="price type">
                                    <option>&nbsp;</option>
                                    <option>Fijo</option>
                                    <option>Variable</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Precio (€)</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                                <input type="text" class="form-control" id="price" placeholder="Introducir precio (€)" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Precio oferta (€)</label>
                                <input type="text" class="form-control" id="offer price" placeholder="Introducir oferta (€)">
                            </div>
                            <div class="mb-3 border-bottom text-center">
                                <label class="form-label">Fecha oferta</label>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Desde</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="since">
                                        <button class="btn btn-light" type="button"><i class='fas fa-clock'></i></button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Hasta</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="until">
                                        <button class="btn btn-light" type="button"><i class='fas fa-clock'></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Impuesto</label>&nbsp;<label class="text-danger" data-bs-toggle="tooltip" title="Campo obligatorio"><small>(*)</small></label>
                                <select class="form-select" id="tax" required>
                                    <option>&nbsp;</option>
                                    <option>Exento</option>
                                    <option>IVA 21%</option>
                                    <option>IVA 60%</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Stock inicial (ud.)</label>
                                <input type="text" class="form-control" id="stock" placeholder="Introducir stock inicial">
                            </div>
                            <div class="mb-3 d-flex flex-row">
                                <div>
                                    <label class="form-label">Adjuntar imagen</label>
                                    <input type="text" class="form-control" id="image" placeholder="Añadir imagen">
                                    <p><small><i>Extensiones permitidas:"jpeg, jpg, gif, png, svg"</i></small><br/>
                                    <small><i>Tamaño máximo por fichero 5 mb</i></small></p>
                                </div>
                                <div class="mt-3 mx-2">
                                    <div class="mt-1">
                                        <a type="button" class="btn btn-danger rounded-pill">Modificar imagen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <div class="mx-1"><a type="button" class="btn btn-customer rounded-pill">Aceptar</a></div>
                        <div class="mx-1"><a type="button" class="btn btn-danger rounded-pill">Cancelar</a></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="alert alert-light shadow">
            <h4 class="border-bottom">Ticket</h4>
            <div class="col-12 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
                <div class="card card-customer">
                    <div class="card-header d-flex">
                        <div class="flex-fill">
                            <h4 class="card-title mt-3">Comercio TalparaCual</h4>
                        </div>
                        <div class="flex-fill text-right">
                            <label id="lblcomercial_cif" class="text-white"><small>00000000A</small></label><br/>
                            <label id="lblcomercial_address" class="text-white"><small>Dirección del comercio</small></label><br/>
                            <label id="lbldate" type="date" class="mt-2"><small>00/00/0000 00:00:00</small></label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-fill"><label id="lblterminal_number"><small>Nº de terminal: 20201020-001</small></label></div>
                            <div class="flex-fill text-right"><h6 id="lbltype" class="text-blue"><small>VENTA</small></h6></div>
                        </div>
                    </div>
                    <div class="card-footer pb-5">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th class="text-right">Und.</th>
                                            <th class="text-right">Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-bold">Cacao</td>
                                            <td class="text-right">1</td>
                                            <td class="text-right text-nowrap">3,00 €</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row px-2 pb-4">
                            <div class="col-7 col-md-9">
                                <label id="lblarticlenumber_title"><small>Nº total de artículos</small></label>
                            </div>
                            <div class="col-5 col-md-3 text-right pe-4">
                                <label id="lblarticlenumber"><small>1</small></label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9 text-right">
                                <label id="lblsubtotal_title" class="text-bold">Subtotal</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label id="lblsubtotal">3,00 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9 text-right">
                                <label id="lbldiscount_title" class="text-bold">Descuento</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label id="lbldiscount">0,00 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9 text-right">
                                <label id="lbltaxbase_title" class="text-bold">Base imponible</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label id="lbltaxbase">2,48 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9 text-right">
                                <label id="lblIVA_title" class="text-bold">IVA 21%</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label id="lblIVA">0,52 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9 text-right">
                                <label id="lbltotal_title" class="text-bold text-lg">Total</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label id="lbltotal" class="text-success text-bold text-lg">3,00 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9 text-right">
                                <label id="lblcash_title" class="text-bold">Efectivo</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label id="lblcash">3,00 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-12">
                                <div id="qrCode" style="height:100px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-light shadow">
            <h4 class="border-bottom">Ticket Cierre Caja</h4>
            <div class="col-12 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
                <div class="card card-customer">
                    <div class="card-header d-flex">
                        <div class="flex-fill">
                            <h4 class="card-title mt-3">Comercio TalparaCual</h4>
                        </div>
                        <div class="flex-fill text-right">
                            <label id="lblcomercial_cif" class="text-white"><small>00000000A</small></label><br/>
                            <label id="lblcomercial_address" class="text-white"><small>Dirección del comercio</small></label><br/>
                            <label id="lblcomercial_email" class="text-white"><small>emailcomercio&#64;gmail.com</small></label><br/>
                            <label id="lbldate" type="date" class="mt-2"><small>00/00/0000 00:00:00</small></label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-fill"><label><small>Referencia: A/0000000001</small></label></div>
                            <div class="flex-fill text-right"><label><small>Nº de terminal: 20201029-010</small></label></div>
                        </div>
                    </div>
                    <div class="card-footer pb-5">
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9">
                                <label class="text-bold">Saldo inicial caja:</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label>0,00 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9">
                                <label class="text-bold">Descuadre de caja:</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label>0,00 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9">
                                <label class="text-bold">Entradas de efectivo:</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label>0,00 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9">
                                <label class="text-bold">Salidas de efectivo:</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label>0,00 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9">
                                <label class="text-bold">Recuento automático de efectivo:</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label>139,30 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9">
                                <label class="text-bold">Recuento manual de efectivo:</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label>139,30 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9">
                                <label class="text-bold">Total devoluciones:</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label>0,00 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-2">
                            <div class="col-7 col-md-9">
                                <label class="text-bold">Total ventas:</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label>123,30 €</label>
                            </div>
                        </div>
                        <div class="row px-2 pb-4">
                            <div class="col-7 col-md-9">
                                <label class="text-bold">Nº total operaciones:</label>
                            </div>
                            <div class="col-5 col-md-3 text-right">
                                <label>21</label>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <h6 class="text-success border-bottom"><small>Resumen impuestos</small></h6>
                            <div class="alert alert-secondary">
                                <div class="table-responsive">
                                    <table class="table table-borderless table-sm">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th class="text-right">Base</th>
                                                <th class="text-right">Cuota</th>
                                                <th class="text-right">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>EXENTO</td>
                                                <td class="text-right text-nowrap">84,70 €</td>
                                                <td class="text-right text-nowrap">0,00 €</td>
                                                <td class="text-right text-nowrap">84,70 €</td>
                                            </tr>
                                            <tr>
                                                <td>IVA 10%</td>
                                                <td class="text-right text-nowrap">16,95 €</td>
                                                <td class="text-right text-nowrap">1,65 €</td>
                                                <td class="text-right text-nowrap">18,60 €</td>
                                            </tr>
                                            <tr>
                                                <td>EXENTO</td>
                                                <td class="text-right text-nowrap">20,00 €</td>
                                                <td class="text-right text-nowrap">0,00 €</td>
                                                <td class="text-right text-nowrap">20,00 €</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <h6 class="text-success border-bottom"><small>Resumen por métodos de pago</small></h6>
                            <div class="alert alert-secondary">
                                <div class="table-responsive">
                                    <table class="table table-borderless table-sm">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th class="text-right">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Efectivo</td>
                                                <td class="text-right text-nowrap">139,30 €</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <h6 class="text-success border-bottom"><small>Resumen marcas de tarjeta</small></h6>
                            <div class="alert alert-secondary">
                                <div class="table-responsive">
                                    <table class="table table-borderless table-sm">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th class="text-right">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>No se han realizado pagos con tarjeta</td>
                                                <td class="text-right text-nowrap">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <h6 class="text-success border-bottom"><small>Resumen otros (sin identificar)</small></h6>
                            <div class="alert alert-secondary">
                                <div class="table-responsive">
                                    <table class="table table-borderless table-sm">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th class="text-right">Base</th>
                                                <th class="text-right">Cuota</th>
                                                <th class="text-right">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td class="text-right text-nowrap">&nbsp;</td>
                                                <td class="text-right text-nowrap">&nbsp;</td>
                                                <td class="text-right text-nowrap">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
