@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 576px) {
  .kpi {
    min-width: 140px;
  }
}

@media (max-width: 768px) {
  .responsive-input,
  .responsive-button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header-main, .footer-main {
    padding: 5px 10px 5px 10px !important;
  }
}

.toggle-nav-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1050;
  border-radius: 50%;
  padding: 0.6rem 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--bs-color-white-100);
  color: var(--bs-color-blue-600);
}

:root,
[data-bs-theme=light] {
  --bs-font-family-main: "Poppins", "Roboto";
  --bs-color-black-200: #00000020;
  --bs-color-black-100: #000000;
  --bs-color-grey-700: #cee9ea00;
  --bs-color-grey-600: #212529;
  --bs-color-grey-500: #333333;
  --bs-color-grey-400: #495057;
  --bs-color-grey-300: #606060;
  --bs-color-grey-200: #999999;
  --bs-color-grey-100: #f7f7f7;
  --bs-color-white-200: #fcf2ff;
  --bs-color-white-100: #ffffff;
  --bs-color-blue-700: blue;
  --bs-color-blue-600: #0d6efd;
  --bs-color-blue-500: #5492ee;
  --bs-color-blue-400: #2196F3; 
  --bs-color-blue-300: #0094c9;
  --bs-color-blue-200: #cbeefa;
  --bs-color-blue-100: #edf1f5;
  --bs-color-green-700: #255355;
  --bs-color-green-600: #007b81;
  --bs-color-green-500: #3c8488;
  --bs-color-green-400: #00aab4;
  --bs-color-green-300: #a3d4d7;
  --bs-color-green-200: #73d7fb;
  --bs-color-green-100: #cee9ea;
  --bs-color-green-light: #1FCC92;
  --bs-color-purple-100: #af4bce;
  --bs-color-pink-200: #F598F5;
  --bs-color-pink-100: #eeb8ff;
  --bs-color-red-400: #DA1D1D;
  --bs-color-red-300: #e53935;
  --bs-color-red-200: #f44336;
  --bs-color-red-100: #ef5350;
  --bs-color-orange-300: #FF803C;
  --bs-color-orange-200: #FCA311;
  --bs-color-orange-100: #ffd6d6;
  --bs-color-yellow-300: #ffd966;
  --bs-color-yellow-200: #fff2cc;
  --bs-color-yellow-100: #fff8f0;
  --bs-body-font-size: 14px;
}

/*** GENERAL ***/

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  background-color: var(--bs-color-blue-100);
  font-family: var(--bs-font-family-main);
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  line-height: 1.5em;
}

.body-content{
  min-height: 75vh;
}

small, .small {
  font-size: 0.75rem;
}

main, .main {
  margin-left: 180px;
  margin-top: 60px;
  padding: 0px 10px;
  min-height: 80vh;
}

.main-content {
  padding-top: 100px;
}

footer{
  font-size: 0.75rem;
}

/*** LOGO ***/

.logo{
  color: var(--bs-color-yellow-300);
  font-size: 50px !important;
  padding-top: 8px !important;
}

/*** HEADER ***/

.navbar {
  box-shadow: 0 16px 38px -12px #0000008f, 0 4px 25px 0 #0000001f, 0 8px 10px -5px #00000033;
}

#navBar1 {
  height: 86%;
}

.navbar-nav {
  flex-direction: row;
}

.header-main, .footer-main {
  padding: 5px 10px 5px 140px;
}

/*** MENU LATERAL ***/

.sidenav {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  width: 120px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #001B61;
  z-index: 1050;
}

.sidenav a {
  padding: 0px 10px 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 0.7rem;
}

.sidenav a i {
  font-size: 1.7rem;
  padding: 30px 20px;
  border-radius: 10px;
}

.sidenav .active-link {
  background-color: var(--bs-color-blue-700);
}

.sidenav .active-icon-link {
  color: var(--bs-color-white-100) !important;
}

.sidenav .active-link {
  color: var(--bs-color-white-100) !important;
}

.sidenav a.nav-link:hover {
  color: var(--bs-color-orange-200);
}

.sidenav .active-link a.nav-link:hover {
  color: var(--bs-color-white-100) !important;
}

.sidenav a.nav-link {
  border-radius: var(--bs-border-radius);
  color: var(--bs-color-white-100);
}

.nav-pills .nav-link.nav-customer {
  color: var(--bs-color-white-100);
  background: rgba(0, 0, 0, 0.068);
  border: 0;
  border-radius: 0.25rem;
  margin-right: 10px;
}

.nav-pills .nav-link.nav-customer.active, .nav-pills .show>.nav-link.nav-customer {
  color: var(--bs-color-white-100);
  background-color: #00000047;
}

/*** KPIS ***/

#salesBorder {
  border-bottom-color: var(--bs-color-blue-500) !important;
}

#averageTicketBorder {
  border-bottom-color: var(--bs-color-green-light) !important;
}

#refundsBorder {
  border-bottom-color: var(--bs-color-orange-300) !important;
}

#casmovBorder {
  border-bottom-color: var(--bs-color-pink-200) !important;
}

#balanceBorder {
  border-bottom-color: var(--bs-color-red-100) !important;
}

.kpi{
  border: none;
  background-color: var(--bs-color-grey-100);
  border-bottom: 8px solid var(--bs-color-grey-200);
  padding: 1rem;
  cursor:pointer;
}

/*** FIELD FORMS ***/

.form-label {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 5px 0px;
}

.form-select, .form-control {
  box-shadow: 0 3px 10px -12px #00000008, 0 3px 10px 0 #00000008, 0 3px 10px -5px #00000008;
  border: 1px solid var(--bs-color-grey-100);
  border-radius: 10px;
  font-size: 0.85rem;
  height: 38px;
  color: var(--bs-color-grey-400);
  min-width: 150px;
}

.form-control:focus {
  background-color: var(--bs-color-white-100);
  color: var(--bs-color-black-100);
  opacity: 1;
  box-shadow: none;  
  border-color: var(--bs-color-black-100);
}

.form-control:disabled {
  background-color: #e9ecef;
  color: #6c757d;
  opacity: 1;
  cursor: not-allowed;
  border-color: #ced4da;
}

.form-select option {
  color: var(--bs-color-black-100);
  background-color: var(--bs-color-white-100);
}

.form-check-label {
  color: var(--bs-color-grey-400);
}

.form-select-commerce {
  box-shadow: 0 0 0 0;
  margin: 4px 2px;
  padding-left: 1rem;
  border: 1px solid var(--bs-color-grey-100);
  border-radius: 10px;
  font-family: var(--bs-font-family-main);
  font-size: .785rem;
  font-weight: 400;
  height: 36px;
  color: var(--bs-color-grey-400);
  min-width: 190px !important;
}

select[multiple] {
  height: 7.7rem;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Internet Explorer 10+ */
  overflow-y: hidden;           /* Safari/Chrome */
}

select, input[type="date" i], i{
  cursor: pointer;
}

.inputHeadSales {
  border-radius: 5px;
  border: none;
  background: var(--bs-color-blue-100);
  height: 28px;
}

#inputHeadSales {
  width: 40px;
}

#inputHeadSales1 {
  width: 70px;
}

.ng-invalid.ng-touched {
  border-color: red;
}

/*** PAGINACION ***/

.ngx-pagination {
  padding: 0;
  font-size: 0.8rem;
}

.ngx-pagination span{
  font-size: 0.8rem;
}

.ngx-pagination .current, .ngx-pagination li a:hover{
  padding: 0px 9px !important;
  background: transparent !important;
  color: var(--bs-color-grey-300) !important;
  border: 1px solid var(--bs-color-black-200);
  border-radius: 20px;
}

/*** CHARTS ***/

ngx-charts-bar-vertical ngx-charts-chart .ngx-charts-outer .ngx-charts .bar-chart.chart .ng-star-inserted .ng-star-inserted .ng-star-inserted .textDataLabel{
  transform: rotate(0deg)!important;
  transform: translate(-13px,-3px)!important;
  font-weight: bold!important;
}

.gridline-path-vertical {
  display: none !important;
}

.ngx-charts {
  width: 350px !important;
}

.inner-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

p.center {
  background: var(--bs-color-white-100);
  position: absolute;
  text-align: center;
  font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}

/*** BUTTONS ***/

.btn-edit, .btn-delete {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.453rem;
  --bs-btn-font-size: .785rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.4;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: var(--bs-btn-bg);
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: var(--bs-btn-border-color);
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: var(--bs-btn-hover-border-color);
  --bs-btn-disabled-opacity: 0.70;
}

.btn,
.btn-default {
  --bs-btn-color: var(--bs-color-blue-600);
  --bs-btn-bg: var(--bs-color-white-100);
  --bs-btn-border-color: var(--bs-color-blue-600);
  --bs-btn-hover-color: var(--bs-color-blue-600);
  --bs-btn-hover-bg: var(--bs-color-white-100);
  --bs-btn-hover-border-color: var(--bs-color-blue-600);
  --bs-btn-active-color: var(--bs-color-blue-600);
  --bs-btn-active-bg: var(--bs-color-white-100);
  --bs-btn-active-border-color: var(--bs-color-blue-600);
  --bs-btn-disabled-color: var(--bs-color-blue-500);
  --bs-btn-disabled-bg: var(--bs-color-white-100);
  --bs-btn-disabled-border-color: var(--bs-color-blue-500);
  --bs-btn-padding-y: 0.538rem;
  margin:.25rem .125rem;
}

.btn-block {
  display: block;
  width: 100%
}

.btn-block+.btn-block {
  margin-top: .5rem
}

.btn-group-sm>.btn, .btn-sm {
  padding: .40625rem 1.25rem;
  font-size: .685rem;
  line-height: 1.5;
  border-radius: .1875rem;
  height: 30px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 1.125rem 2.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem
}

.btn-primary {
  --bs-btn-color: var(--bs-color-white-100);
  --bs-btn-bg: var(--bs-color-blue-600);
  --bs-btn-border-color: var(--bs-color-blue-600);
  --bs-btn-hover-color: var(--bs-color-white-100);
  --bs-btn-hover-bg: var(--bs-color-blue-600);
  --bs-btn-hover-border-color: var(--bs-color-blue-600);
  --bs-btn-active-color: var(--bs-color-white-100);
  --bs-btn-active-bg: var(--bs-color-blue-600);
  --bs-btn-active-border-color: var(--bs-color-blue-600);
  --bs-btn-disabled-color: var(--bs-color-white-100);
  --bs-btn-disabled-bg: var(--bs-color-blue-500);
  --bs-btn-disabled-border-color: var(--bs-color-blue-500);
}

.btn-danger {
  --bs-btn-color: var(--bs-color-white-100);
  --bs-btn-bg: var(--bs-color-red-200);
  --bs-btn-border-color: var(--bs-color-red-200);
  --bs-btn-hover-color: var(--bs-color-white-100);
  --bs-btn-hover-bg: var(--bs-color-red-300);
  --bs-btn-hover-border-color: var(--bs-color-red-300);
  --bs-btn-active-color: var(--bs-color-white-100);
  --bs-btn-active-bg: var(--bs-color-red-200);
  --bs-btn-active-border-color: var(--bs-color-red-300);
  --bs-btn-disabled-color: var(--bs-color-white-100);
  --bs-btn-disabled-bg: var(--bs-color-red-200);
  --bs-btn-disabled-border-color: var(--bs-color-red-200);
}

.btn-light {
  --bs-btn-color: var(--bs-color-grey-300);
  --bs-btn-bg: var(--bs-color-grey-700);
  --bs-btn-border-color: var(--bs-color-grey-100);
  --bs-btn-hover-color: var(--bs-color-grey-600);
  --bs-btn-hover-bg: var(--bs-color-grey-100);
  --bs-btn-hover-border-color: var(--bs-color-grey-100);
  --bs-btn-active-color: var(--bs-color-grey-400);
  --bs-btn-active-bg: var(--bs-color-green-100);
  --bs-btn-active-border-color: var(--bs-color-grey-400);
  --bs-btn-disabled-color: var(--bs-color-blue-100);
  --bs-btn-disabled-bg: var(--bs-color-green-100);
  --bs-btn-disabled-border-color: var(--bs-color-blue-100);
}

.btn-outline-info {
  --bs-btn-color: var(--bs-color-green-400);
  --bs-btn-border-color: var(--bs-color-green-400);
  --bs-btn-hover-color: var(--bs-color-white-100);
  --bs-btn-hover-bg: var(--bs-color-green-200);
  --bs-btn-hover-border-color: var(--bs-color-green-200);
  --bs-btn-active-color: var(--bs-color-green-200);
  --bs-btn-active-border-color: var(--bs-color-green-200);
  --bs-btn-disabled-color: var(--bs-color-green-400);
  --bs-btn-disabled-border-color: var(--bs-color-green-400);
}

.btn-outline-danger {
  --bs-btn-color: var(--bs-color-red-300);
  --bs-btn-bg: var(--bs-color-white-100);
  --bs-btn-border-color: var(--bs-color-red-300);
  --bs-btn-hover-color: var(--bs-color-white-100);
  --bs-btn-hover-bg: var(--bs-color-red-200);
  --bs-btn-hover-border-color: var(--bs-color-red-200);
  --bs-btn-active-color: var(--bs-color-red-200);
  --bs-btn-active-border-color: var(--bs-color-red-200);
  --bs-btn-disabled-color: var(--bs-color-red-300);
  --bs-btn-disabled-border-color: var(--bs-color-red-300);
}

.min-btn-width {
  min-width: 180px;
}

.text-customer {
  color: var(--bs-color-green-400);
}

.bg-customer {
  background-color: var(--bs-color-white-100);
  border-bottom:2px solid #ededed;
}

.bg-footer {
  border-top:2px solid #ededed;
}

.pencil {
  color: #74c0fc;
}

/*** TEXT COLORS ***/

.text-red, .hover-text-red:hover {
  color: var(--bs-color-red-200) !important;
}

.text-blue, .hover-text-blue:hover {
  color: var(--bs-color-blue-400) !important;
}

.text-amber, .hover-text-amber:hover {
  color: var(--bs-color-orange-200) !important;
}

.text-white, .hover-text-white:hover {
  color: var(--bs-color-white-100) !important;
}

/*** CARDS ***/

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 0;
  padding: 15px;
  border-radius: 20px;
  color: var(--bs-color-grey-500);
  background: var(--bs-color-white-100);
  width: 100%;
  box-shadow: 0 10px 10px 0 #00000003, 0 6px 4px -2px #00000003, 0 4px 8px 0 #00000005;
}

.card-header {
  color: var(--bs-color-grey-500);
  width: 100%;
  box-shadow: none;
  padding: 20px;
}

.card.flex-fill {
  min-height: 0;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card .card-header {
  border-bottom: none;
  background: 0 0;
  z-index: 3 !important;
}

.card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i, .card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i {
  color: var(--bs-color-white-100);
}

.card [class*=card-header-] {
  margin: 0 15px;
  padding: 0;
  position: relative;
}

.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .back, .card.card-rotate.bg-danger .front {
  background: linear-gradient(60deg, var(--bs-color-red-100), var(--bs-color-red-300));
}

.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text) {
  box-shadow: 0 4px 20px 0 #00000024, 0 7px 10px -5px #f4433666;
}

.card .card-header-customer .card-icon, .card .card-header-customer .card-text, .card .card-header-customer:not(.card-header-icon):not(.card-header-text), .card.bg-customer, .card.card-rotate.bg-customer .back, .card.card-rotate.bg-customer .front {
  background: linear-gradient(60deg, #59b3b7, #3C8488);
}

.card .card-header-customer .card-icon, .card .card-header-customer .card-text, .card .card-header-customer:not(.card-header-icon):not(.card-header-text) {
  box-shadow: 0 4px 20px 0 #00000024, 0 7px 10px -5px #82c1b866;
}

.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
}

.card-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-weight: 800;
}

.card-title, .card-title a, .footer-big h4, .footer-big h4 a, .footer-big h5, .footer-big h5 a, .footer-brand, .footer-brand a, .info-title, .info-title a, .media .media-heading, .media .media-heading a, .title, .title a {
  color: var(--bs-color-grey-400);
  text-decoration: none;
}

.card .card-title {
  margin-top: 0;
  margin-bottom: 15px;
}

.card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i, .card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i {
  color: var(--bs-color-white-100);
}

.card .card-header .card-title {
  margin-bottom: 3px;
}

.card .card-category {
  margin-top: 10px;
}

.card .card-category:not([class*=text-]) {
  color: #999999;
}

.card [class*=card-header-] .author a, .card [class*=card-header-] .card-category, .card [class*=card-header-] .card-description, .card [class*=card-header-] .stats, .card[class*=bg-] .author a, .card[class*=bg-] .card-category, .card[class*=bg-] .card-description, .card[class*=bg-] .stats {
  color: #ffffffcc;
}

.card .card-header .card-category {
  margin: 0;
}

.card [class*=card-header-] .card-title+.card-category {
  color: #ffffff9e;
}

.card-customer {
  border-radius: 20px;
  color: var(--bs-color-grey-500);
  width: 100%;
  box-shadow: none;
  border:1px solid var(--bs-color-blue-100);
  padding: 0;
}

.card-customer .card-header {
  color: var(--bs-color-grey-500);
  box-shadow: none;
  padding: 20px 20px 15px 20px;
  background: var(--bs-color-grey-100);
  border-radius: 20px 20px 0 0;
}

.card-customer .card-footer {
  border: none;
}

.card-customer .card-header .card-title{
  font-size: 1.4rem;
  font-weight: 700;
}

/*** LISTADOS ***/

ul.list-icons {
  margin: 0px;
  padding: 0px;
}

ul.list-icons li {
  list-style: none;
  line-height: 1.3em;
  margin: 5px 0;
  transition: 0.2s ease-in;
}

ul.list-icons li a {
  color: var(--bs-color-grey-600);
}

ul.list-icons li a:hover, ul.list-icons li a:active {
  color: var(--bs-color-blue-400);
}

ul.list-icons li i, ul.list-icons li span, ul.list-icons li svg {
  font-size: 13px;
  margin-right: 8px;
}

.list-group-item-customer {
  color: var(--bs-color-green-700);
  background-color: var(--bs-color-green-100);
  text-align: right;
}

.list-group-item-customer:hover, .list-group-item-customer:active {
  color: var(--bs-color-green-700);
  background-color: var(--bs-color-green-300);
}

.list-group-flush-item-customer {
  color: var(--bs-color-green-400);
}

.list-group-flush-item-customer:hover, .list-group-flush-item-customer:active {
  color: var(--bs-color-green-500);
}

/*** TABLES ***/

.table {
  --bs-table-hover-bg: #0000000a;
}

.table td, .table th {
  padding: 0.65rem;
  vertical-align: middle;
  border-top: 1px solid #0000000f;
}

.table thead th {
  vertical-align: middle;
  font-size: .8rem;
  font-weight: 500;
  color: var(--bs-color-grey-200);
  border-top-width: 0;
  border-bottom: 1px solid #0000000f;
  text-transform: uppercase;
  padding: 12px 10px;
}

.table thead.bg-customer th {
  background-color: var(--bs-color-blue-100);
}

.table tr td {
  font-size: .85rem;
  font-weight: 400;
  height: 48px;
}

.table-striped td, .table-striped th, .table-striped thead th {
  border-top: 0px solid #0000000f;
}

.table-striped thead th {
  border-bottom: 0px solid #0000000f;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #00000008;
}

.inner-table-header {
  background-color: #F2F2F2;
  padding: 10px 16px;
  border-bottom: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.inner-table-title {
  font-size: 16px;
  color: #333;
}

.table-title {
  font-weight: 500;
  color: grey;
}

/* LISTS AND ITEMS */

.list-items {
  padding: 0.75rem 1rem;
  background-color: var(--bs-color-white-100);
  margin-bottom: 4px;
  cursor: pointer;
}

.list-item-active {
  background-color: var(--bs-color-blue-200);
  color: var(--bs-color-blue-600);
  font-weight: 600;
}

/* BADGES */

.badge {
  padding: 8px 12px;
  font-size: 0.7rem;
  font-weight: 400;
}

.bg-accept {
  background: var(--bs-color-green-100);
  color: var(--bs-color-green-600);
}

.bg-pending {
  background: var(--bs-color-blue-100);
  color: var(--bs-color-grey-400);
}

.bg-warnings {
  background: var(--bs-color-yellow-200);
  color: var(--bs-color-grey-400);
}

.bg-rejected{
  background: var(--bs-color-orange-100);
  color: var(--bs-color-red-400);
}

.bg-sale{
  background: var(--bs-color-blue-200);
  color: var(--bs-color-blue-300);
  border: 1px solid var(--bs-color-green-200);
  padding: 6px 10px;
}

.bg-refund{
  background: var(--bs-color-yellow-100);
  color: var(--bs-color-orange-300);
  border: 1px solid var(--bs-color-orange-200);
  padding: 6px 10px;
}

.bg-edits{
  background: var(--bs-color-white-200);
  color: var(--bs-color-purple-100);
  border: 1px solid var(--bs-color-pink-100);
  padding: 6px 10px;
}

/* MODALES */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  width: 550px;
  height: 680px;
  max-width: 90vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  z-index: 1001;
}

.modal-info-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  width: 400px;
  max-width: 90vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  z-index: 1001;
}

.modal-small-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  width: 550px;
  max-width: 90vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  z-index: 1001;
}

.modal-header {
  background-color: #001B61;
  display: flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 20px;
  padding-right: 10px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
  font-size: 18px;
  color: var(--bs-color-white-100);
}

.modal-close-button {
  color: var(--bs-color-white-100);
  font-size: 22px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-body {
  max-height: 600px; 
  overflow-y: auto;
  padding-top: 10px;
}

.modal-body form {
  display: flex;
  padding: 10px 24px;
  flex-direction: column;
  gap: 12px;
}

.modal-footer {
  margin-top: 20px;
  display: flex;
  background-color: #F8F9FA;
  justify-content: flex-end;
  gap: 10px;
  height: 60px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 20px;
  padding-right: 10px;
}

.modal-section-title {
  color: #438EA2;
  background: #D8F0F6;
  padding: 12px 16px;
  font-weight: 600;
  border-radius: 4px;
}